pipeline/pl_6wklookahead_sitepro_raw_to_synapse_stage.json
{
	"name": "pl_6wklookahead_sitepro_raw_to_synapse_stage",
	"properties": {
		"activities": [
			{
				"name": "cp_Get_Latest_File",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set_current_date_time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": {
								"value": "@variables('v_lrd_src_to_stage')",
								"type": "Expression"
							},
							"wildcardFolderPath": "Project_Data/NCSA/SitePro/6WkLAhead/*/*/*",
							"wildcardFileName": "Sitepro_6WkLAhead*.csv"
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "MergeFiles"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "project_code",
									"type": "String"
								},
								"sink": {
									"name": "project_code",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "function_code",
									"type": "String"
								},
								"sink": {
									"name": "function_code",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "source_code",
									"type": "String"
								},
								"sink": {
									"name": "source_code",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "sub_source_code",
									"type": "String"
								},
								"sink": {
									"name": "sub_source_code",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "data_class_code",
									"type": "String"
								},
								"sink": {
									"name": "data_class_code",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "data_sub_class_code",
									"type": "String"
								},
								"sink": {
									"name": "data_sub_class_code",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "unit_of_measure",
									"type": "String"
								},
								"sink": {
									"name": "unit_of_measure",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "phase_code",
									"type": "String"
								},
								"sink": {
									"name": "phase_code",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "schedule_resource_code",
									"type": "String"
								},
								"sink": {
									"name": "schedule_resource_code",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "work_unit_code",
									"type": "String"
								},
								"sink": {
									"name": "work_unit_code",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "work_area_code",
									"type": "String"
								},
								"sink": {
									"name": "work_area_code",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "activity_code",
									"type": "String"
								},
								"sink": {
									"name": "activity_code",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "IWP_Code",
									"type": "String"
								},
								"sink": {
									"name": "IWP_Code",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CWP_Code",
									"type": "String"
								},
								"sink": {
									"name": "CWP_Code",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "WK1",
									"type": "String"
								},
								"sink": {
									"name": "WK1",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "WK2",
									"type": "String"
								},
								"sink": {
									"name": "WK2",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "WK3",
									"type": "String"
								},
								"sink": {
									"name": "WK3",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "WK4",
									"type": "String"
								},
								"sink": {
									"name": "WK4",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "WK5",
									"type": "String"
								},
								"sink": {
									"name": "WK5",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "WK6",
									"type": "String"
								},
								"sink": {
									"name": "WK6",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "eff_date_wk1",
									"type": "String"
								},
								"sink": {
									"name": "eff_date_wk1",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "eff_date_wk2",
									"type": "String"
								},
								"sink": {
									"name": "eff_date_wk2",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "eff_date_wk3",
									"type": "String"
								},
								"sink": {
									"name": "eff_date_wk3",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "eff_date_wk4",
									"type": "String"
								},
								"sink": {
									"name": "eff_date_wk4",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "eff_date_wk5",
									"type": "String"
								},
								"sink": {
									"name": "eff_date_wk5",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "eff_date_wk6",
									"type": "String"
								},
								"sink": {
									"name": "eff_date_wk6",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "process_date",
									"type": "String"
								},
								"sink": {
									"name": "process_date",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "ds_adlsg2_6WkLAhead_raw",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adlsg2_CSV_6WkLAhead_sitepro_raw",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Delete Temp combined File",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Copy Raw Parquet Folder To Synapse Stage Table_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_adlsg2_CSV_6WkLAhead_sitepro_raw",
						"type": "DatasetReference"
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true
					}
				}
			},
			{
				"name": "lkup_Get_Pipeline_parameters_getlrd",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "getPipelineParametersValues",
						"storedProcedureParameters": {
							"pPipelineCode": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"pPipeLineSubCode": {
								"type": "String",
								"value": "Sitepro"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azure_synapse_parameter",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set start date",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "lkup_Get_Pipeline_parameters_getlrd",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_lrd_src_to_stage",
					"value": {
						"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.file_merge_start_date",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SP Update Control Table Last Run Date",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Delete Temp combined File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[updateIncrementPipelineParameterValue]",
					"storedProcedureParameters": {
						"pParameterCode": {
							"value": "file_merge_start_date",
							"type": "String"
						},
						"pParameterValue": {
							"value": {
								"value": "@formatDateTime(variables('v_current_date_time'),'yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							},
							"type": "String"
						},
						"pPipelineCode": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"pPipelineSubCode": {
							"value": "Sitepro",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Azure_Dev_SynapseAnalyticsPool",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set_current_date_time",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set start date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_current_date_time",
					"value": {
						"value": "@string(utcnow())",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy Raw Parquet Folder To Synapse Stage Table_copy1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "cp_Get_Latest_File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "delete from gpd.NCSA_Sitepro_6WkLAhead",
						"allowPolyBase": true,
						"polyBaseSettings": {
							"rejectValue": 0,
							"rejectType": "value",
							"useTypeDefault": true
						},
						"disableMetricsCollection": false
					},
					"enableStaging": true,
					"stagingSettings": {
						"linkedServiceName": {
							"referenceName": "ADLSG2 TimeAnalytics DEV",
							"type": "LinkedServiceReference"
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_adlsg2_CSV_6WkLAhead_sitepro_raw",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_AzureSynapseAnalytics_6WkLAhead_sitepro_stage",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "SP_final_procedure_validate",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "SP Update Control Table Last Run Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[load_NCSA_Sitepro_6WkLAhead_validate]"
				},
				"linkedServiceName": {
					"referenceName": "Azure_Dev_SynapseAnalyticsPool",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SP_final_procedure_fact_load",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "SP_final_procedure_validate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[load_NCSA_Sitepro_6WkLAhead_fact_load]"
				},
				"linkedServiceName": {
					"referenceName": "Azure_Dev_SynapseAnalyticsPool",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"v_lrd_src_to_stage": {
				"type": "String"
			},
			"v_current_date_time": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Projects/NCSA/Six WK LAhead"
		},
		"annotations": [],
		"lastPublishTime": "2021-05-10T07:13:19Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}