pipeline/pl_ced_oracle_edw_eqa_data.json
{
	"name": "pl_ced_oracle_edw_eqa_data",
	"properties": {
		"activities": [
			{
				"name": "cd_src_to_stage",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "lk_get_pipeline_email_parameters",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "lk_get_pipeline_parameters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"partitionOption": "None",
						"numberPrecision": 38,
						"numberScale": 18,
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Tag Number",
									"type": "String"
								},
								"sink": {
									"name": "Tag_Number",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "RDS PP",
									"type": "String"
								},
								"sink": {
									"name": "RDS_PP",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Tag Level",
									"type": "String"
								},
								"sink": {
									"name": "Tag_Level",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Status",
									"type": "String"
								},
								"sink": {
									"name": "Status",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Approval Revision",
									"type": "String"
								},
								"sink": {
									"name": "Approval_Revision",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Approval Status",
									"type": "String"
								},
								"sink": {
									"name": "Approval_Status",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Approval Date",
									"type": "String"
								},
								"sink": {
									"name": "Approval_Date",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Approval Comment",
									"type": "String"
								},
								"sink": {
									"name": "Approval_Comment",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Discipline",
									"type": "String"
								},
								"sink": {
									"name": "Discipline",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "TenneT Object Type",
									"type": "String"
								},
								"sink": {
									"name": "TenneT_Object_Type",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Type",
									"type": "String"
								},
								"sink": {
									"name": "Type",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Description",
									"type": "String"
								},
								"sink": {
									"name": "Description",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Long Term Text",
									"type": "String"
								},
								"sink": {
									"name": "Long_Term_Text",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Service",
									"type": "String"
								},
								"sink": {
									"name": "Service",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "System Name",
									"type": "String"
								},
								"sink": {
									"name": "System_Name",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Major Equipment",
									"type": "String"
								},
								"sink": {
									"name": "Major_Equipment",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "State of Physical Label",
									"type": "String"
								},
								"sink": {
									"name": "State_of_Physical_Label",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Point of Installation",
									"type": "String"
								},
								"sink": {
									"name": "Point_of_Installation",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Point of Installation Value",
									"type": "String"
								},
								"sink": {
									"name": "Point_of_Installation_Value",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Site of Installation",
									"type": "String"
								},
								"sink": {
									"name": "Site_of_Installation",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Purchase Order Number",
									"type": "String"
								},
								"sink": {
									"name": "Purchase_Order_Number",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Source",
									"type": "String"
								},
								"sink": {
									"name": "Source",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Source Date",
									"type": "String"
								},
								"sink": {
									"name": "Source_Date",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Source Identifier",
									"type": "String"
								},
								"sink": {
									"name": "Source_Identifier",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Source Type",
									"type": "String"
								},
								"sink": {
									"name": "Source_Type",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Deck Level",
									"type": "String"
								},
								"sink": {
									"name": "Deck_Level",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Room Number",
									"type": "String"
								},
								"sink": {
									"name": "Room_Number",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Room Description",
									"type": "String"
								},
								"sink": {
									"name": "Room_Description",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "PID Number",
									"type": "String"
								},
								"sink": {
									"name": "PID_Number",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Tag Status History",
									"type": "String"
								},
								"sink": {
									"name": "Tag_Status_History",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Approval Status History",
									"type": "String"
								},
								"sink": {
									"name": "Approval_Status_History",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Approval Date History",
									"type": "String"
								},
								"sink": {
									"name": "Approval_Date_History",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Data Source History",
									"type": "String"
								},
								"sink": {
									"name": "Data_Source_History",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Point Of Installation History",
									"type": "String"
								},
								"sink": {
									"name": "Point_Of_Installation_History",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Site Of Installation History",
									"type": "String"
								},
								"sink": {
									"name": "Site_Of_Installation_History",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Design Capacity",
									"type": "String"
								},
								"sink": {
									"name": "Design_Capacity",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Design Pressure",
									"type": "String"
								},
								"sink": {
									"name": "Design_Pressure",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Design Temperature",
									"type": "String"
								},
								"sink": {
									"name": "Design_Temperature",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Operating Pressure",
									"type": "String"
								},
								"sink": {
									"name": "Operating_Pressure",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Operating Temperature",
									"type": "String"
								},
								"sink": {
									"name": "Operating_Temperature",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "L",
									"type": "String"
								},
								"sink": {
									"name": "L",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "W /  I.D.",
									"type": "String"
								},
								"sink": {
									"name": "W_ID",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "H / T.L to T.L.",
									"type": "String"
								},
								"sink": {
									"name": "H_TL_to_TL",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "MOC Main",
									"type": "String"
								},
								"sink": {
									"name": "MOC_Main",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "MOC Internal",
									"type": "String"
								},
								"sink": {
									"name": "MOC_Internal",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Insulated",
									"type": "String"
								},
								"sink": {
									"name": "Insulated",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Driver Type",
									"type": "String"
								},
								"sink": {
									"name": "Driver_Type",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Driver Power",
									"type": "String"
								},
								"sink": {
									"name": "Driver_Power",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Driver Volts",
									"type": "String"
								},
								"sink": {
									"name": "Driver_Volts",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Electrical Area Class",
									"type": "String"
								},
								"sink": {
									"name": "Electrical_Area_Class",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Dry Weight",
									"type": "String"
								},
								"sink": {
									"name": "Dry_Weight",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Contents Weight",
									"type": "String"
								},
								"sink": {
									"name": "Contents_Weight",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Gross Weight",
									"type": "String"
								},
								"sink": {
									"name": "Gross_Weight",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Long Lead Item",
									"type": "String"
								},
								"sink": {
									"name": "Long_Lead_Item",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Requisition Number",
									"type": "String"
								},
								"sink": {
									"name": "Requisition_Number",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Requisition Name",
									"type": "String"
								},
								"sink": {
									"name": "Requisition_Name",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Remarks",
									"type": "String"
								},
								"sink": {
									"name": "Remarks",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "E3D Room",
									"type": "String"
								},
								"sink": {
									"name": "E3D_Room",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Design Pressure [barg]",
									"type": "String"
								},
								"sink": {
									"name": "Design_Pressure_barg",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Operating Pressure [barg]",
									"type": "String"
								},
								"sink": {
									"name": "Operating_Pressure_barg",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Design Temperature (Max) [degC]",
									"type": "String"
								},
								"sink": {
									"name": "Design_Temperature_Max",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Design Temperature (Min) [degC]",
									"type": "String"
								},
								"sink": {
									"name": "Design_Temperature_Min",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Operating Temperature (Max) [degC]",
									"type": "String"
								},
								"sink": {
									"name": "Operating_Temperature_Max",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Operating Temperature (Min) [degC]",
									"type": "String"
								},
								"sink": {
									"name": "Operating_Temperature_Min",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Dimension Length [mm]",
									"type": "String"
								},
								"sink": {
									"name": "Dimension_Length_mm",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Dimension Width [mm]",
									"type": "String"
								},
								"sink": {
									"name": "Dimension_Width_mm",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Dimension Height [mm]",
									"type": "String"
								},
								"sink": {
									"name": "Dimension_Height_mm",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Dry Weight [kg]",
									"type": "String"
								},
								"sink": {
									"name": "Dry_Weight_kg",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Operating Weight [kg]",
									"type": "String"
								},
								"sink": {
									"name": "Operating_Weight_kg",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Long Term Text History",
									"type": "String"
								},
								"sink": {
									"name": "Long_Term_Text_History",
									"physicalType": "UTF8"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_CED_tennet_2gw_hag_oracledb02_spf09nlp",
						"type": "DatasetReference",
						"parameters": {
							"table_schema": {
								"value": "@activity('lk_get_pipeline_parameters').output.firstRow.table_schema",
								"type": "Expression"
							},
							"table_name": {
								"value": "@activity('lk_get_pipeline_parameters').output.firstRow.table_name",
								"type": "Expression"
							},
							"server_name": "@activity('lk_get_pipeline_parameters').output.firstRow.server_name",
							"port": "@activity('lk_get_pipeline_parameters').output.firstRow.port",
							"database_name": {
								"value": "@activity('lk_get_pipeline_parameters').output.firstRow.database_name",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adlsg2_parquet_generic",
						"type": "DatasetReference",
						"parameters": {
							"file_system": {
								"value": "@activity('lk_get_pipeline_parameters').output.firstRow.file_system",
								"type": "Expression"
							},
							"directory": {
								"value": "@activity('lk_get_pipeline_parameters').output.firstRow.directory",
								"type": "Expression"
							},
							"file_name": {
								"value": "@concat(activity('lk_get_pipeline_parameters').output.firstRow.file_name,'.parquet')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "cd_stg_to_synapse",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "cd_src_to_stage",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"additionalColumns": [
							{
								"name": "Load_date",
								"value": {
									"value": "@activity('lk_get_pipeline_parameters').output.firstRow.run_start_datetime",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": {
							"value": "INSERT INTO @{concat(activity('lk_get_pipeline_parameters').output.firstRow.target_table,'_archive')} SELECT * FROM @{activity('lk_get_pipeline_parameters').output.firstRow.target_table};\n\nTRUNCATE TABLE @{activity('lk_get_pipeline_parameters').output.firstRow.target_table};\n\nDELETE FROM @{concat(activity('lk_get_pipeline_parameters').output.firstRow.target_table,'_archive')}\nWHERE Load_date < DATEADD(MONTH, -6, GETDATE());",
							"type": "Expression"
						},
						"allowCopyCommand": true,
						"disableMetricsCollection": false
					},
					"enableStaging": true,
					"stagingSettings": {
						"linkedServiceName": {
							"referenceName": "ADLSG2 TimeAnalytics DEV",
							"type": "LinkedServiceReference"
						},
						"path": "mdr-raw-data/ Polybase_Staging_Space",
						"enableCompression": true
					},
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Tag_Number",
									"type": "String"
								},
								"sink": {
									"name": "Tag_Number",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "RDS_PP",
									"type": "String"
								},
								"sink": {
									"name": "RDS_PP",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Tag_Level",
									"type": "String"
								},
								"sink": {
									"name": "Tag_Level",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Status",
									"type": "String"
								},
								"sink": {
									"name": "Status",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Approval_Revision",
									"type": "String"
								},
								"sink": {
									"name": "Approval_Revision",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Approval_Status",
									"type": "String"
								},
								"sink": {
									"name": "Approval_Status",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Approval_Date",
									"type": "String"
								},
								"sink": {
									"name": "Approval_Date",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Approval_Comment",
									"type": "String"
								},
								"sink": {
									"name": "Approval_Comment",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Discipline",
									"type": "String"
								},
								"sink": {
									"name": "Discipline",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "TenneT_Object_Type",
									"type": "String"
								},
								"sink": {
									"name": "TenneT_Object_Type",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Type",
									"type": "String"
								},
								"sink": {
									"name": "Type",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Description",
									"type": "String"
								},
								"sink": {
									"name": "Description",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Long_Term_Text",
									"type": "String"
								},
								"sink": {
									"name": "Long_Term_Text",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Service",
									"type": "String"
								},
								"sink": {
									"name": "Service",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "System_Name",
									"type": "String"
								},
								"sink": {
									"name": "System_Name",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Major_Equipment",
									"type": "String"
								},
								"sink": {
									"name": "Major_Equipment",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "State_of_Physical_Label",
									"type": "String"
								},
								"sink": {
									"name": "State_of_Physical_Label",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Point_of_Installation",
									"type": "String"
								},
								"sink": {
									"name": "Point_of_Installation",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Point_of_Installation_Value",
									"type": "String"
								},
								"sink": {
									"name": "Point_of_Installation_Value",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Site_of_Installation",
									"type": "String"
								},
								"sink": {
									"name": "Site_of_Installation",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Purchase_Order_Number",
									"type": "String"
								},
								"sink": {
									"name": "Purchase_Order_Number",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Source",
									"type": "String"
								},
								"sink": {
									"name": "Source",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Source_Date",
									"type": "String"
								},
								"sink": {
									"name": "Source_Date",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Source_Identifier",
									"type": "String"
								},
								"sink": {
									"name": "Source_Identifier",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Source_Type",
									"type": "String"
								},
								"sink": {
									"name": "Source_Type",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Deck_Level",
									"type": "String"
								},
								"sink": {
									"name": "Deck_Level",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Room_Number",
									"type": "String"
								},
								"sink": {
									"name": "Room_Number",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Room_Description",
									"type": "String"
								},
								"sink": {
									"name": "Room_Description",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PID_Number",
									"type": "String"
								},
								"sink": {
									"name": "PID_Number",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Tag_Status_History",
									"type": "String"
								},
								"sink": {
									"name": "Tag_Status_History",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Approval_Status_History",
									"type": "String"
								},
								"sink": {
									"name": "Approval_Status_History",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Approval_Date_History",
									"type": "String"
								},
								"sink": {
									"name": "Approval_Date_History",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Data_Source_History",
									"type": "String"
								},
								"sink": {
									"name": "Data_Source_History",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Point_Of_Installation_History",
									"type": "String"
								},
								"sink": {
									"name": "Point_Of_Installation_History",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Site_Of_Installation_History",
									"type": "String"
								},
								"sink": {
									"name": "Site_Of_Installation_History",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Design_Capacity",
									"type": "String"
								},
								"sink": {
									"name": "Design_Capacity",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Design_Pressure",
									"type": "String"
								},
								"sink": {
									"name": "Design_Pressure",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Design_Temperature",
									"type": "String"
								},
								"sink": {
									"name": "Design_Temperature",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Operating_Pressure",
									"type": "String"
								},
								"sink": {
									"name": "Operating_Pressure",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Operating_Temperature",
									"type": "String"
								},
								"sink": {
									"name": "Operating_Temperature",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "L",
									"type": "String"
								},
								"sink": {
									"name": "L",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "W_ID",
									"type": "String"
								},
								"sink": {
									"name": "W_ID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "H_TL_to_TL",
									"type": "String"
								},
								"sink": {
									"name": "H_TL_to_TL",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "MOC_Main",
									"type": "String"
								},
								"sink": {
									"name": "MOC_Main",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "MOC_Internal",
									"type": "String"
								},
								"sink": {
									"name": "MOC_Internal",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Insulated",
									"type": "String"
								},
								"sink": {
									"name": "Insulated",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Driver_Type",
									"type": "String"
								},
								"sink": {
									"name": "Driver_Type",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Driver_Power",
									"type": "String"
								},
								"sink": {
									"name": "Driver_Power",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Driver_Volts",
									"type": "String"
								},
								"sink": {
									"name": "Driver_Volts",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Electrical_Area_Class",
									"type": "String"
								},
								"sink": {
									"name": "Electrical_Area_Class",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Dry_Weight",
									"type": "String"
								},
								"sink": {
									"name": "Dry_Weight",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Contents_Weight",
									"type": "String"
								},
								"sink": {
									"name": "Contents_Weight",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Gross_Weight",
									"type": "String"
								},
								"sink": {
									"name": "Gross_Weight",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Long_Lead_Item",
									"type": "String"
								},
								"sink": {
									"name": "Long_Lead_Item",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Requisition_Number",
									"type": "String"
								},
								"sink": {
									"name": "Requisition_Number",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Requisition_Name",
									"type": "String"
								},
								"sink": {
									"name": "Requisition_Name",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Remarks",
									"type": "String"
								},
								"sink": {
									"name": "Remarks",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "E3D_Room",
									"type": "String"
								},
								"sink": {
									"name": "E3D_Room",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Design_Pressure_barg",
									"type": "String"
								},
								"sink": {
									"name": "Design_Pressure_barg",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Operating_Pressure_barg",
									"type": "String"
								},
								"sink": {
									"name": "Operating_Pressure_barg",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Design_Temperature_Max",
									"type": "String"
								},
								"sink": {
									"name": "Design_Temperature_Max",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Design_Temperature_Min",
									"type": "String"
								},
								"sink": {
									"name": "Design_Temperature_Min",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Operating_Temperature_Max",
									"type": "String"
								},
								"sink": {
									"name": "Operating_Temperature_Max",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Operating_Temperature_Min",
									"type": "String"
								},
								"sink": {
									"name": "Operating_Temperature_Min",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Dimension_Length_mm",
									"type": "String"
								},
								"sink": {
									"name": "Dimension_Length_mm",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Dimension_Width_mm",
									"type": "String"
								},
								"sink": {
									"name": "Dimension_Width_mm",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Dimension_Height_mm",
									"type": "String"
								},
								"sink": {
									"name": "Dimension_Height_mm",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Dry_Weight_kg",
									"type": "String"
								},
								"sink": {
									"name": "Dry_Weight_kg",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Operating_Weight_kg",
									"type": "String"
								},
								"sink": {
									"name": "Operating_Weight_kg",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Long_Term_Text_History",
									"type": "String"
								},
								"sink": {
									"name": "Long_Term_Text_History",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Load_date",
									"type": "String"
								},
								"sink": {
									"name": "Load_date",
									"type": "DateTime"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "ds_adlsg2_parquet_generic",
						"type": "DatasetReference",
						"parameters": {
							"file_system": {
								"value": "@activity('lk_get_pipeline_parameters').output.firstRow.file_system",
								"type": "Expression"
							},
							"directory": {
								"value": "@activity('lk_get_pipeline_parameters').output.firstRow.directory",
								"type": "Expression"
							},
							"file_name": {
								"value": "@concat(activity('lk_get_pipeline_parameters').output.firstRow.file_name,'.parquet')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSynapseAnalyticsPool",
						"type": "DatasetReference",
						"parameters": {
							"schema": {
								"value": "@split(activity('lk_get_pipeline_parameters').output.firstRow.target_table,'.')[0]",
								"type": "Expression"
							},
							"TableName": {
								"value": "@split(activity('lk_get_pipeline_parameters').output.firstRow.target_table,'.')[1]\n",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "lk_get_pipeline_email_parameters",
				"description": "Get the parameters to be used in this pipeline",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "getPipelineParametersValues",
						"storedProcedureParameters": {
							"pPipelineCode": {
								"type": "String",
								"value": {
									"value": "pl_ced_master_email",
									"type": "Expression"
								}
							},
							"pPipeLineSubCode": {
								"type": "String",
								"value": {
									"value": "CED",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azure_synapse_parameter",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "If failure detected send mail",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Append SP Error",
						"dependencyConditions": [
							"Completed",
							"Skipped"
						]
					},
					{
						"activity": "sp_dataload_status",
						"dependencyConditions": [
							"Completed",
							"Skipped"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@if(empty(variables('v_error_message')),false,true)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Send Email On Failure",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "POST",
								"headers": {
									"Content-Type": "application/json"
								},
								"url": "https://prod-31.eastus.logic.azure.com:443/workflows/03d7da5abbab4215a05aeaceae3b96fa/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=asuyutHtoSxGFURsj1-A6AKRiNLdXZ4mTnZvZ17_8hI",
								"connectVia": {
									"referenceName": "integrationRuntimeEast2",
									"type": "IntegrationRuntimeReference"
								},
								"body": {
									"value": "{\n    \"DataFactoryName\": \"@{pipeline().DataFactory}\",\n    \"PipelineName\": \"@{pipeline().Pipeline}\",\n    \"Activity\": \"@{split(replace(replace(join(variables('v_error_message'),';'),'\"',''),'\\','/'),'|')[0]}\",\n    \"ErrorMessage\": \"@{split(replace(replace(join(variables('v_error_message'),';'),'\"',''),'\\','/'),'|')[2]}\",\n\"EmailTo\": \"@{activity('lk_get_pipeline_email_parameters').output.firstRow.master_pipeline_email}\"\n}",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "lk_get_pipeline_parameters",
				"description": "Get the parameters to be used in this pipeline",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "getPipelineParametersValues",
						"storedProcedureParameters": {
							"pPipelineCode": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"pPipeLineSubCode": {
								"type": "String",
								"value": {
									"value": "Oracle_DB",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azure_synapse_parameter",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Append SRC to STG Error",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "cd_src_to_stage",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_error_message",
					"value": {
						"value": "@concat('Source to Stage | ',\nactivity('cd_src_to_stage').output.errors[0].Code,' | ',\nactivity('cd_src_to_stage').output.errors[0].Message)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Append STG to Synapse Error",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "cd_stg_to_synapse",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_error_message",
					"value": {
						"value": "@concat('Stage to Synapse | ',\nactivity('cd_stg_to_synapse').output.errors[0].Code,' | ',\nactivity('cd_stg_to_synapse').output.errors[0].Message)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "sp_dataload_status",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "cd_stg_to_synapse",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": {
						"value": "[edw].data_warehouse_dataload_status",
						"type": "Expression"
					},
					"storedProcedureParameters": {
						"datasource": {
							"value": {
								"value": "@activity('lk_get_pipeline_parameters').output.firstRow.database_name",
								"type": "Expression"
							},
							"type": "String"
						},
						"description": {
							"value": {
								"value": "@activity('lk_get_pipeline_parameters').output.firstRow.description",
								"type": "Expression"
							},
							"type": "String"
						},
						"load_date_time": {
							"value": {
								"value": "@activity('lk_get_pipeline_parameters').output.firstRow.run_start_datetime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"project_number": {
							"value": {
								"value": "@pipeline().parameters.pProjectNumber",
								"type": "Expression"
							},
							"type": "String"
						},
						"table_name": {
							"value": {
								"value": "@activity('lk_get_pipeline_parameters').output.firstRow.target_table",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "linkedservice_DEV_entanalytics_synapse",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Append SP Error",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "sp_dataload_status",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_error_message",
					"value": {
						"value": "@concat('sp_dataload_status Failure: | |',\nactivity('sp_dataload_status').error.message)\n",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"pPipeLineSubCode": {
				"type": "string",
				"defaultValue": "Oracle_DB"
			},
			"pProjectNumber": {
				"type": "string",
				"defaultValue": "360536"
			}
		},
		"variables": {
			"v_error_message": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "Projects/Central Engineering Database/Oracle DB"
		},
		"annotations": []
	}
}