pipeline/pl_contracts_mcpm_raw_to_synapse_stage.json
{
	"name": "pl_contracts_mcpm_raw_to_synapse_stage",
	"properties": {
		"activities": [
			{
				"name": "Check Combined File non zero Bytes",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "cp_Get_Latest_File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_adlsg2_csv_contracts_mcpm_raw_ltest_file",
						"type": "DatasetReference"
					},
					"fieldList": [
						"size",
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Set start date",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "lkup_Get_Pipeline_parameters_getlrd",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_lrd_src_to_stage",
					"value": {
						"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.start_date",
						"type": "Expression"
					}
				}
			},
			{
				"name": "cp_Get_Latest_File",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set start date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": {
								"value": "@variables('v_lrd_src_to_stage')",
								"type": "Expression"
							},
							"wildcardFolderPath": "Project_Data/NCSA/MCPM/Contracts/*/*/*",
							"wildcardFileName": "contracts_*.csv"
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "MergeFiles"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": "ts_itime_combined.csv"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_adlsg2_csv_contracts_mcpm_raw",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adlsg2_csv_contracts_mcpm_raw_ltest_file",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "if_File_Exists_Copy_to_Synapse",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Check Combined File non zero Bytes",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Check Combined File non zero Bytes').output.size, 2)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy Latest Data To Synapse Stage Table",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlDWSink",
									"preCopyScript": "truncate table gpd.NCSA_MCPM_Contract_Entity",
									"allowPolyBase": true,
									"polyBaseSettings": {
										"rejectValue": 0,
										"rejectType": "value",
										"useTypeDefault": false
									},
									"disableMetricsCollection": false
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "ADLSG2 TimeAnalytics DEV",
										"type": "LinkedServiceReference"
									},
									"path": "mdr-raw-data/Polybase_Staging_Space"
								},
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "project_id",
												"type": "String"
											},
											"sink": {
												"name": "project_id"
											}
										},
										{
											"source": {
												"name": "contractno",
												"type": "String"
											},
											"sink": {
												"name": "contract_no"
											}
										},
										{
											"source": {
												"name": "location",
												"type": "String"
											},
											"sink": {
												"name": "location"
											}
										},
										{
											"source": {
												"name": "Entity",
												"type": "String"
											},
											"sink": {
												"name": "entity"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "ds_adlsg2_csv_contracts_mcpm_raw_ltest_file",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_AzureSynapseAnalytics_NCSA_MCPM_Contracts",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "sp_generic_procedure_dim_load",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Delete Temp combined File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[generic_load_dim_v2]",
					"storedProcedureParameters": {
						"debug_flag": {
							"value": "N",
							"type": "String"
						},
						"execute_flag": {
							"value": "Y",
							"type": "String"
						},
						"load_name": {
							"value": "dim_entp_mcpm_contract_entity",
							"type": "String"
						},
						"rkValidationRequired": {
							"value": "Y",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Azure_Dev_SynapseAnalyticsPool",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Delete Temp combined File",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "if_File_Exists_Copy_to_Synapse",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_adlsg2_csv_contracts_mcpm_raw_ltest_file",
						"type": "DatasetReference"
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true
					}
				}
			},
			{
				"name": "lkup_Get_Pipeline_parameters_getlrd",
				"description": "Use the lookup procedure to get the last run details to be used in the next steps",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "getPipelineParametersValues",
						"storedProcedureParameters": {
							"pPipelineCode": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"pPipeLineSubCode": {
								"type": "String",
								"value": "MCPM"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azure_synapse_parameter",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "sp_Update_Parameter",
				"description": "Update the appropriate parameter in the parameter table",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "sp_generic_procedure_dim_load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[updateIncrementPipelineParameterValue]",
					"storedProcedureParameters": {
						"pParameterValue": {
							"value": {
								"value": "@formatDateTime(activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.run_start_datetime,'yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							},
							"type": "String"
						},
						"pPipelineCode": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"pPipelineSubCode": {
							"value": "MCPM",
							"type": "String"
						},
						"pParameterCode": {
							"value": "start_date",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Azure_Dev_SynapseAnalyticsPool",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"v_lrd_src_to_stage": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Projects/NCSA/18. Contract Entity"
		},
		"annotations": [],
		"lastPublishTime": "2022-04-05T08:50:48Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}