pipeline/pl_ced_excel_Aveva_E3D_primary_support.json
{
	"name": "pl_ced_excel_Aveva_E3D_primary_support",
	"properties": {
		"activities": [
			{
				"name": "lk_get_pipeline_parameters",
				"description": "Get the parameters to be used in this pipeline",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "getPipelineParametersValues",
						"storedProcedureParameters": {
							"pPipelineCode": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"pPipeLineSubCode": {
								"type": "String",
								"value": {
									"value": "Excel",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azure_synapse_parameter",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "gm_check_sourcefile_exists",
				"description": "Check if the combined file has any data to be loaded.",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "lk_get_pipeline_parameters",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "lk_get_pipeline_email_parameters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_fileshare_excel_ced_generic",
						"type": "DatasetReference",
						"parameters": {
							"p_ds_directory": {
								"value": "@activity('lk_get_pipeline_parameters').output.firstRow.directory",
								"type": "Expression"
							},
							"p_ds_file_name": {
								"value": "@activity('lk_get_pipeline_parameters').output.firstRow.file_name",
								"type": "Expression"
							},
							"p_ds_sheet_name": {
								"value": "@activity('lk_get_pipeline_parameters').output.firstRow.sheet_name",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"lastModified"
					],
					"storeSettings": {
						"type": "FileServerReadSettings",
						"recursive": true,
						"modifiedDatetimeStart": null,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "if_File_Exists_Copy_to_Synapse",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "gm_check_sourcefile_exists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greaterOrEquals(activity('gm_check_sourcefile_exists').output.lastModified,activity('lk_get_pipeline_parameters').output.firstRow.last_run_start_date)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "sp_update_parameter",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "cd_src_to_synapse",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "[dbo].[updateIncrementPipelineParameterValue]",
									"type": "Expression"
								},
								"storedProcedureParameters": {
									"pParameterCode": {
										"value": {
											"value": "last_run_start_date",
											"type": "Expression"
										},
										"type": "String"
									},
									"pParameterValue": {
										"value": {
											"value": "@activity('lk_get_pipeline_parameters').output.firstRow.run_start_datetime",
											"type": "Expression"
										},
										"type": "String"
									},
									"pPipelineCode": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"pPipelineSubCode": {
										"value": {
											"value": "Excel",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "linkedservice_DEV_entanalytics_synapse",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "cd_src_to_synapse",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"additionalColumns": [
										{
											"name": "Load_date",
											"value": {
												"value": "@activity('lk_get_pipeline_parameters').output.firstRow.run_start_datetime",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "FileServerReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "SqlDWSink",
									"preCopyScript": {
										"value": "INSERT INTO @{concat(activity('lk_get_pipeline_parameters').output.firstRow.target_table,'_archive')}\nSELECT * FROM @{activity('lk_get_pipeline_parameters').output.firstRow.target_table};\n \nTRUNCATE TABLE @{activity('lk_get_pipeline_parameters').output.firstRow.target_table};\n \nDELETE FROM @{concat(activity('lk_get_pipeline_parameters').output.firstRow.target_table,'_archive')}\nWHERE Load_date < DATEADD(MONTH, -6, GETDATE());",
										"type": "Expression"
									},
									"allowCopyCommand": true,
									"disableMetricsCollection": false
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "ADGLS2 SRCDEST DEV",
										"type": "LinkedServiceReference"
									},
									"path": "mdr-raw-data/Polybase_Staging_Space"
								},
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "Name",
												"type": "String"
											},
											"sink": {
												"name": "Name",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Type",
												"type": "String"
											},
											"sink": {
												"name": "Type",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Lock",
												"type": "String"
											},
											"sink": {
												"name": "Lock",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Owner",
												"type": "String"
											},
											"sink": {
												"name": "Owner",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "MtoLength",
												"type": "String"
											},
											"sink": {
												"name": "MtoLength",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Gtype",
												"type": "String"
											},
											"sink": {
												"name": "Gtype",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Built",
												"type": "String"
											},
											"sink": {
												"name": "Built",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Desparam",
												"type": "String"
											},
											"sink": {
												"name": "Desparam",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Isohidden",
												"type": "String"
											},
											"sink": {
												"name": "Isohidden",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Shop",
												"type": "String"
											},
											"sink": {
												"name": "Shop",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Arrive",
												"type": "String"
											},
											"sink": {
												"name": "Arrive",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Leave",
												"type": "String"
											},
											"sink": {
												"name": "Leave",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Matref",
												"type": "String"
											},
											"sink": {
												"name": "Matref",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Oriflag",
												"type": "String"
											},
											"sink": {
												"name": "Oriflag",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Posflag",
												"type": "String"
											},
											"sink": {
												"name": "Posflag",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Lsrod",
												"type": "String"
											},
											"sink": {
												"name": "Lsrod",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Cref",
												"type": "String"
											},
											"sink": {
												"name": "Cref",
												"type": "String"
											}
										},
										{
											"source": {
												"name": ":MATRSUBS",
												"type": "String"
											},
											"sink": {
												"name": "MATRSUBS"
											}
										},
										{
											"source": {
												"name": "CompReference",
												"type": "String"
											},
											"sink": {
												"name": "CompReference",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Ispec",
												"type": "String"
											},
											"sink": {
												"name": "Ispec",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Tspec",
												"type": "String"
											},
											"sink": {
												"name": "Tspec",
												"type": "String"
											}
										},
										{
											"source": {
												"name": ":MATRSUBSDESC",
												"type": "String"
											},
											"sink": {
												"name": "MATRSUBSDESC"
											}
										},
										{
											"source": {
												"name": "Cstref",
												"type": "String"
											},
											"sink": {
												"name": "Cstref",
												"type": "String"
											}
										},
										{
											"source": {
												"name": ":ANCINote",
												"type": "String"
											},
											"sink": {
												"name": "ANCINote"
											}
										},
										{
											"source": {
												"name": "Laxes",
												"type": "String"
											},
											"sink": {
												"name": "Laxes",
												"type": "String"
											}
										},
										{
											"source": {
												"name": ":OED",
												"type": "String"
											},
											"sink": {
												"name": "OED"
											}
										},
										{
											"source": {
												"name": "Attype",
												"type": "String"
											},
											"sink": {
												"name": "Attype",
												"type": "String"
											}
										},
										{
											"source": {
												"name": ":PLATFORM-ID",
												"type": "String"
											},
											"sink": {
												"name": "PLATFORM-ID"
											}
										},
										{
											"source": {
												"name": "Lend",
												"type": "String"
											},
											"sink": {
												"name": "Lend",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Angle",
												"type": "String"
											},
											"sink": {
												"name": "Angle",
												"type": "String"
											}
										},
										{
											"source": {
												"name": ":RDS-PP",
												"type": "String"
											},
											"sink": {
												"name": "RDS-PP"
											}
										},
										{
											"source": {
												"name": "Height",
												"type": "String"
											},
											"sink": {
												"name": "Height",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Nload",
												"type": "String"
											},
											"sink": {
												"name": "Nload",
												"type": "String"
											}
										},
										{
											"source": {
												"name": ":MMISTATUSVAL",
												"type": "String"
											},
											"sink": {
												"name": "MMISTATUSVAL"
											}
										},
										{
											"source": {
												"name": ":WEIGHT",
												"type": "String"
											},
											"sink": {
												"name": "WEIGHT"
											}
										},
										{
											"source": {
												"name": "Spref",
												"type": "String"
											},
											"sink": {
												"name": "Spref",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Csfbreak",
												"type": "String"
											},
											"sink": {
												"name": "Csfbreak",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Tsfbreak",
												"type": "String"
											},
											"sink": {
												"name": "Tsfbreak",
												"type": "String"
											}
										},
										{
											"source": {
												"name": ":LENGTH",
												"type": "String"
											},
											"sink": {
												"name": "LENGTH"
											}
										},
										{
											"source": {
												"name": "Asfbreak",
												"type": "String"
											},
											"sink": {
												"name": "Asfbreak",
												"type": "String"
											}
										},
										{
											"source": {
												"name": ":FIREPROOF",
												"type": "String"
											},
											"sink": {
												"name": "FIREPROOF"
											}
										},
										{
											"source": {
												"name": "Lsfbreak",
												"type": "String"
											},
											"sink": {
												"name": "Lsfbreak",
												"type": "String"
											}
										},
										{
											"source": {
												"name": ":MMIGROUP",
												"type": "String"
											},
											"sink": {
												"name": "MMIGROUP"
											}
										},
										{
											"source": {
												"name": "Spln",
												"type": "String"
											},
											"sink": {
												"name": "Spln",
												"type": "String"
											}
										},
										{
											"source": {
												"name": ":DISC-SEQ-NO",
												"type": "String"
											},
											"sink": {
												"name": "DISC-SEQ-NO"
											}
										},
										{
											"source": {
												"name": "Position",
												"type": "String"
											},
											"sink": {
												"name": "Position",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Splt",
												"type": "String"
											},
											"sink": {
												"name": "Splt",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Dmtype",
												"type": "String"
											},
											"sink": {
												"name": "Dmtype",
												"type": "String"
											}
										},
										{
											"source": {
												"name": ":AWP",
												"type": "String"
											},
											"sink": {
												"name": "AWP"
											}
										},
										{
											"source": {
												"name": "Orientation",
												"type": "String"
											},
											"sink": {
												"name": "Orientation",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Dmfarray",
												"type": "String"
											},
											"sink": {
												"name": "Dmfarray",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Ptno",
												"type": "String"
											},
											"sink": {
												"name": "Ptno",
												"type": "String"
											}
										},
										{
											"source": {
												"name": ":CWA",
												"type": "String"
											},
											"sink": {
												"name": "CWA"
											}
										},
										{
											"source": {
												"name": "Ptntube",
												"type": "String"
											},
											"sink": {
												"name": "Ptntube",
												"type": "String"
											}
										},
										{
											"source": {
												"name": ":CWP",
												"type": "String"
											},
											"sink": {
												"name": "CWP"
											}
										},
										{
											"source": {
												"name": "Ptnbarray",
												"type": "String"
											},
											"sink": {
												"name": "Ptnbarray",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Mtocomponent",
												"type": "String"
											},
											"sink": {
												"name": "Mtocomponent",
												"type": "String"
											}
										},
										{
											"source": {
												"name": ":ROOMNUM",
												"type": "String"
											},
											"sink": {
												"name": "ROOMNUM"
											}
										},
										{
											"source": {
												"name": "Mtotube",
												"type": "String"
											},
											"sink": {
												"name": "Mtotube",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Mtoref",
												"type": "String"
											},
											"sink": {
												"name": "Mtoref",
												"type": "String"
											}
										},
										{
											"source": {
												"name": ":EWP",
												"type": "String"
											},
											"sink": {
												"name": "EWP"
											}
										},
										{
											"source": {
												"name": "Mtoxarray",
												"type": "String"
											},
											"sink": {
												"name": "Mtoxarray",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Spsp",
												"type": "String"
											},
											"sink": {
												"name": "Spsp",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Dpfname",
												"type": "String"
											},
											"sink": {
												"name": "Dpfname",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Dpgridref",
												"type": "String"
											},
											"sink": {
												"name": "Dpgridref",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Nwelds",
												"type": "String"
											},
											"sink": {
												"name": "Nwelds",
												"type": "String"
											}
										},
										{
											"source": {
												"name": ":PWP",
												"type": "String"
											},
											"sink": {
												"name": "PWP"
											}
										},
										{
											"source": {
												"name": "Bselector",
												"type": "String"
											},
											"sink": {
												"name": "Bselector",
												"type": "String"
											}
										},
										{
											"source": {
												"name": ":YARDBLOCK",
												"type": "String"
											},
											"sink": {
												"name": "YARDBLOCK"
											}
										},
										{
											"source": {
												"name": "MATN",
												"type": "String"
											},
											"sink": {
												"name": "MATN",
												"type": "String"
											}
										},
										{
											"source": {
												"name": ":IWP",
												"type": "String"
											},
											"sink": {
												"name": "IWP"
											}
										},
										{
											"source": {
												"name": "Stext",
												"type": "String"
											},
											"sink": {
												"name": "Stext",
												"type": "String"
											}
										},
										{
											"source": {
												"name": ":MATERIAL",
												"type": "String"
											},
											"sink": {
												"name": "MATERIAL"
											}
										},
										{
											"source": {
												"name": "Spkchg",
												"type": "String"
											},
											"sink": {
												"name": "Spkchg",
												"type": "String"
											}
										},
										{
											"source": {
												"name": ":DESIGNDRWG",
												"type": "String"
											},
											"sink": {
												"name": "DESIGNDRWG"
											}
										},
										{
											"source": {
												"name": "Deldsg",
												"type": "String"
											},
											"sink": {
												"name": "Deldsg",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Spkbrk",
												"type": "String"
											},
											"sink": {
												"name": "Spkbrk",
												"type": "String"
											}
										},
										{
											"source": {
												"name": ":URI",
												"type": "String"
											},
											"sink": {
												"name": "URI"
											}
										},
										{
											"source": {
												"name": "Loffline",
												"type": "String"
											},
											"sink": {
												"name": "Loffline",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Fstatus",
												"type": "String"
											},
											"sink": {
												"name": "Fstatus",
												"type": "String"
											}
										},
										{
											"source": {
												"name": ":FABDRWG",
												"type": "String"
											},
											"sink": {
												"name": "FABDRWG"
											}
										},
										{
											"source": {
												"name": "Aexcess",
												"type": "String"
											},
											"sink": {
												"name": "Aexcess",
												"type": "String"
											}
										},
										{
											"source": {
												"name": ":STATUS",
												"type": "String"
											},
											"sink": {
												"name": "STATUS"
											}
										},
										{
											"source": {
												"name": "Lexcess",
												"type": "String"
											},
											"sink": {
												"name": "Lexcess",
												"type": "String"
											}
										},
										{
											"source": {
												"name": ":PID",
												"type": "String"
											},
											"sink": {
												"name": "PID"
											}
										},
										{
											"source": {
												"name": "Loose",
												"type": "String"
											},
											"sink": {
												"name": "Loose",
												"type": "String"
											}
										},
										{
											"source": {
												"name": ":MTOSTATUS",
												"type": "String"
											},
											"sink": {
												"name": "MTOSTATUS"
											}
										},
										{
											"source": {
												"name": ":MDSAdp",
												"type": "String"
											},
											"sink": {
												"name": "MDSAdp"
											}
										},
										{
											"source": {
												"name": ":GA",
												"type": "String"
											},
											"sink": {
												"name": "GA"
											}
										},
										{
											"source": {
												"name": ":MDSAdpRem",
												"type": "String"
											},
											"sink": {
												"name": "MDSAdpRem"
											}
										},
										{
											"source": {
												"name": ":MTODESC",
												"type": "String"
											},
											"sink": {
												"name": "MTODESC"
											}
										},
										{
											"source": {
												"name": ":MDSAdpScale",
												"type": "String"
											},
											"sink": {
												"name": "MDSAdpScale"
											}
										},
										{
											"source": {
												"name": ":MDSAeE",
												"type": "String"
											},
											"sink": {
												"name": "MDSAeE"
											}
										},
										{
											"source": {
												"name": ":ENGGSYSTEM",
												"type": "String"
											},
											"sink": {
												"name": "ENGGSYSTEM"
											}
										},
										{
											"source": {
												"name": ":MDSAeN",
												"type": "String"
											},
											"sink": {
												"name": "MDSAeN"
											}
										},
										{
											"source": {
												"name": ":MdsAncRef",
												"type": "String"
											},
											"sink": {
												"name": "MdsAncRef"
											}
										},
										{
											"source": {
												"name": ":MTODATE",
												"type": "String"
											},
											"sink": {
												"name": "MTODATE"
											}
										},
										{
											"source": {
												"name": ":MDSAtE",
												"type": "String"
											},
											"sink": {
												"name": "MDSAtE"
											}
										},
										{
											"source": {
												"name": ":MDSAtN",
												"type": "String"
											},
											"sink": {
												"name": "MDSAtN"
											}
										},
										{
											"source": {
												"name": ":MTOREV",
												"type": "String"
											},
											"sink": {
												"name": "MTOREV"
											}
										},
										{
											"source": {
												"name": ":MDSAttaRef",
												"type": "String"
											},
											"sink": {
												"name": "MDSAttaRef"
											}
										},
										{
											"source": {
												"name": ":MDSBenches",
												"type": "String"
											},
											"sink": {
												"name": "MDSBenches"
											}
										},
										{
											"source": {
												"name": ":DECKNUM",
												"type": "String"
											},
											"sink": {
												"name": "DECKNUM"
											}
										},
										{
											"source": {
												"name": ":MDSBpref1",
												"type": "String"
											},
											"sink": {
												"name": "MDSBpref1"
											}
										},
										{
											"source": {
												"name": ":MDSCalcNo",
												"type": "String"
											},
											"sink": {
												"name": "MDSCalcNo"
											}
										},
										{
											"source": {
												"name": ":MTOBY",
												"type": "String"
											},
											"sink": {
												"name": "MTOBY"
											}
										},
										{
											"source": {
												"name": ":MDSComment",
												"type": "String"
											},
											"sink": {
												"name": "MDSComment"
											}
										},
										{
											"source": {
												"name": ":MDSConfig",
												"type": "String"
											},
											"sink": {
												"name": "MDSConfig"
											}
										},
										{
											"source": {
												"name": ":WELDNUM",
												"type": "String"
											},
											"sink": {
												"name": "WELDNUM"
											}
										},
										{
											"source": {
												"name": ":MDSCp1",
												"type": "String"
											},
											"sink": {
												"name": "MDSCp1"
											}
										},
										{
											"source": {
												"name": ":DESIGNALLOWANCE",
												"type": "String"
											},
											"sink": {
												"name": "DESIGNALLOWANCE"
											}
										},
										{
											"source": {
												"name": ":MDSCp2",
												"type": "String"
											},
											"sink": {
												"name": "MDSCp2"
											}
										},
										{
											"source": {
												"name": ":FLANCONN",
												"type": "String"
											},
											"sink": {
												"name": "FLANCONN"
											}
										},
										{
											"source": {
												"name": ":MDSCp3",
												"type": "String"
											},
											"sink": {
												"name": "MDSCp3"
											}
										},
										{
											"source": {
												"name": ":PAD",
												"type": "String"
											},
											"sink": {
												"name": "PAD"
											}
										},
										{
											"source": {
												"name": ":MDSCplWeight",
												"type": "String"
											},
											"sink": {
												"name": "MDSCplWeight"
											}
										},
										{
											"source": {
												"name": ":PLOC",
												"type": "String"
											},
											"sink": {
												"name": "PLOC"
											}
										},
										{
											"source": {
												"name": ":MDSDesiTemp",
												"type": "String"
											},
											"sink": {
												"name": "MDSDesiTemp"
											}
										},
										{
											"source": {
												"name": ":DIAINCH",
												"type": "String"
											},
											"sink": {
												"name": "DIAINCH"
											}
										},
										{
											"source": {
												"name": ":MDSDesiMatl",
												"type": "String"
											},
											"sink": {
												"name": "MDSDesiMatl"
											}
										},
										{
											"source": {
												"name": ":SURFACEAREA",
												"type": "String"
											},
											"sink": {
												"name": "SURFACEAREA"
											}
										},
										{
											"source": {
												"name": ":MDSForceX",
												"type": "String"
											},
											"sink": {
												"name": "MDSForceX"
											}
										},
										{
											"source": {
												"name": ":PNDT",
												"type": "String"
											},
											"sink": {
												"name": "PNDT"
											}
										},
										{
											"source": {
												"name": ":MDSForceY",
												"type": "String"
											},
											"sink": {
												"name": "MDSForceY"
											}
										},
										{
											"source": {
												"name": ":GALV",
												"type": "String"
											},
											"sink": {
												"name": "GALV"
											}
										},
										{
											"source": {
												"name": ":MDSForceZ",
												"type": "String"
											},
											"sink": {
												"name": "MDSForceZ"
											}
										},
										{
											"source": {
												"name": ":PIPESIZECATG",
												"type": "String"
											},
											"sink": {
												"name": "PIPESIZECATG"
											}
										},
										{
											"source": {
												"name": ":MDSLinkRef",
												"type": "String"
											},
											"sink": {
												"name": "MDSLinkRef"
											}
										},
										{
											"source": {
												"name": ":TESTPACKNUM",
												"type": "String"
											},
											"sink": {
												"name": "TESTPACKNUM"
											}
										},
										{
											"source": {
												"name": ":MDSGuideRef",
												"type": "String"
											},
											"sink": {
												"name": "MDSGuideRef"
											}
										},
										{
											"source": {
												"name": "ZONE",
												"type": "String"
											},
											"sink": {
												"name": "ZONE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": ":MDSHConfig",
												"type": "String"
											},
											"sink": {
												"name": "MDSHConfig"
											}
										},
										{
											"source": {
												"name": ":MDSHLoad",
												"type": "String"
											},
											"sink": {
												"name": "MDSHLoad"
											}
										},
										{
											"source": {
												"name": ":MDSELoad",
												"type": "String"
											},
											"sink": {
												"name": "MDSELoad"
											}
										},
										{
											"source": {
												"name": ":MDSFLoad",
												"type": "String"
											},
											"sink": {
												"name": "MDSFLoad"
											}
										},
										{
											"source": {
												"name": ":MDSItemCode",
												"type": "String"
											},
											"sink": {
												"name": "MDSItemCode"
											}
										},
										{
											"source": {
												"name": ":MDSLoad",
												"type": "String"
											},
											"sink": {
												"name": "MDSLoad"
											}
										},
										{
											"source": {
												"name": ":MDSMatRef",
												"type": "String"
											},
											"sink": {
												"name": "MDSMatRef"
											}
										},
										{
											"source": {
												"name": ":MDSMoveX",
												"type": "String"
											},
											"sink": {
												"name": "MDSMoveX"
											}
										},
										{
											"source": {
												"name": ":MDSMoveY",
												"type": "String"
											},
											"sink": {
												"name": "MDSMoveY"
											}
										},
										{
											"source": {
												"name": ":MDSMoveZ",
												"type": "String"
											},
											"sink": {
												"name": "MDSMoveZ"
											}
										},
										{
											"source": {
												"name": ":MdsNodeNo",
												"type": "String"
											},
											"sink": {
												"name": "MdsNodeNo"
											}
										},
										{
											"source": {
												"name": ":MDSNote",
												"type": "String"
											},
											"sink": {
												"name": "MDSNote"
											}
										},
										{
											"source": {
												"name": ":MDSNotePos",
												"type": "String"
											},
											"sink": {
												"name": "MDSNotePos"
											}
										},
										{
											"source": {
												"name": ":MDSNudgeDist",
												"type": "String"
											},
											"sink": {
												"name": "MDSNudgeDist"
											}
										},
										{
											"source": {
												"name": ":MDSPackRef",
												"type": "String"
											},
											"sink": {
												"name": "MDSPackRef"
											}
										},
										{
											"source": {
												"name": ":MDSPad",
												"type": "String"
											},
											"sink": {
												"name": "MDSPad"
											}
										},
										{
											"source": {
												"name": ":MDSPlate",
												"type": "String"
											},
											"sink": {
												"name": "MDSPlate"
											}
										},
										{
											"source": {
												"name": ":MDSPosNum",
												"type": "String"
											},
											"sink": {
												"name": "MDSPosNum"
											}
										},
										{
											"source": {
												"name": ":MDSPosNumMax",
												"type": "String"
											},
											"sink": {
												"name": "MDSPosNumMax"
											}
										},
										{
											"source": {
												"name": ":MDSReM",
												"type": "String"
											},
											"sink": {
												"name": "MDSReM"
											}
										},
										{
											"source": {
												"name": ":MDSRotated",
												"type": "String"
											},
											"sink": {
												"name": "MDSRotated"
											}
										},
										{
											"source": {
												"name": ":MDSRotDir",
												"type": "String"
											},
											"sink": {
												"name": "MDSRotDir"
											}
										},
										{
											"source": {
												"name": ":MDSSref",
												"type": "String"
											},
											"sink": {
												"name": "MDSSref"
											}
										},
										{
											"source": {
												"name": ":MDSStandType",
												"type": "String"
											},
											"sink": {
												"name": "MDSStandType"
											}
										},
										{
											"source": {
												"name": ":MDSStop",
												"type": "String"
											},
											"sink": {
												"name": "MDSStop"
											}
										},
										{
											"source": {
												"name": ":MDSStop2",
												"type": "String"
											},
											"sink": {
												"name": "MDSStop2"
											}
										},
										{
											"source": {
												"name": ":MDSSuppFunc",
												"type": "String"
											},
											"sink": {
												"name": "MDSSuppFunc"
											}
										},
										{
											"source": {
												"name": ":MDSSuppType",
												"type": "String"
											},
											"sink": {
												"name": "MDSSuppType"
											}
										},
										{
											"source": {
												"name": ":MDSSwasher",
												"type": "String"
											},
											"sink": {
												"name": "MDSSwasher"
											}
										},
										{
											"source": {
												"name": ":MDSTrimmer",
												"type": "String"
											},
											"sink": {
												"name": "MDSTrimmer"
											}
										},
										{
											"source": {
												"name": ":MDSVendorCfg",
												"type": "String"
											},
											"sink": {
												"name": "MDSVendorCfg"
											}
										},
										{
											"source": {
												"name": ":MDSViewFlip",
												"type": "String"
											},
											"sink": {
												"name": "MDSViewFlip"
											}
										},
										{
											"source": {
												"name": ":MDSVprmMto",
												"type": "String"
											},
											"sink": {
												"name": "MDSVprmMto"
											}
										},
										{
											"source": {
												"name": ":MDSWeldData",
												"type": "String"
											},
											"sink": {
												"name": "MDSWeldData"
											}
										},
										{
											"source": {
												"name": ":MDSWeldSize",
												"type": "String"
											},
											"sink": {
												"name": "MDSWeldSize"
											}
										},
										{
											"source": {
												"name": ":MDSX",
												"type": "String"
											},
											"sink": {
												"name": "MDSX"
											}
										},
										{
											"source": {
												"name": ":MDSY",
												"type": "String"
											},
											"sink": {
												"name": "MDSY"
											}
										},
										{
											"source": {
												"name": ":MDSZ",
												"type": "String"
											},
											"sink": {
												"name": "MDSZ"
											}
										},
										{
											"source": {
												"name": ":SPOOLNUM",
												"type": "String"
											},
											"sink": {
												"name": "SPOOLNUM"
											}
										},
										{
											"source": {
												"name": ":VOLUME",
												"type": "String"
											},
											"sink": {
												"name": "VOLUME"
											}
										},
										{
											"source": {
												"name": ":DIAMETER",
												"type": "String"
											},
											"sink": {
												"name": "DIAMETER"
											}
										},
										{
											"source": {
												"name": ":SERVICE",
												"type": "String"
											},
											"sink": {
												"name": "SERVICE"
											}
										},
										{
											"source": {
												"name": ":EMPDOCID",
												"type": "String"
											},
											"sink": {
												"name": "EMPDOCID"
											}
										},
										{
											"source": {
												"name": ":CONDOCID",
												"type": "String"
											},
											"sink": {
												"name": "CONDOCID"
											}
										},
										{
											"source": {
												"name": ":DWGTITLE",
												"type": "String"
											},
											"sink": {
												"name": "DWGTITLE"
											}
										},
										{
											"source": {
												"name": ":DWGREVDATE",
												"type": "String"
											},
											"sink": {
												"name": "DWGREVDATE"
											}
										},
										{
											"source": {
												"name": ":DWGREVSTATUS",
												"type": "String"
											},
											"sink": {
												"name": "DWGREVSTATUS"
											}
										},
										{
											"source": {
												"name": ":ITEMDESIGNATION",
												"type": "String"
											},
											"sink": {
												"name": "ITEMDESIGNATION"
											}
										},
										{
											"source": {
												"name": ":NodeType",
												"type": "String"
											},
											"sink": {
												"name": "NodeType"
											}
										},
										{
											"source": {
												"name": ":PSIWEIGHT",
												"type": "String"
											},
											"sink": {
												"name": "PSIWEIGHT"
											}
										},
										{
											"source": {
												"name": ":hilAddItems",
												"type": "String"
											},
											"sink": {
												"name": "hilAddItems"
											}
										},
										{
											"source": {
												"name": ":hilBase",
												"type": "String"
											},
											"sink": {
												"name": "hilBase"
											}
										},
										{
											"source": {
												"name": ":hilSupport",
												"type": "String"
											},
											"sink": {
												"name": "hilSupport"
											}
										},
										{
											"source": {
												"name": "Load_date",
												"type": "String"
											},
											"sink": {
												"name": "Load_date",
												"type": "String"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "ds_fileshare_excel_ced_generic",
									"type": "DatasetReference",
									"parameters": {
										"p_ds_directory": {
											"value": "@activity('lk_get_pipeline_parameters').output.firstRow.directory",
											"type": "Expression"
										},
										"p_ds_file_name": {
											"value": "@activity('lk_get_pipeline_parameters').output.firstRow.file_name",
											"type": "Expression"
										},
										"p_ds_sheet_name": {
											"value": "@activity('lk_get_pipeline_parameters').output.firstRow.sheet_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSynapseAnalyticsPool",
									"type": "DatasetReference",
									"parameters": {
										"schema": "@split(activity('lk_get_pipeline_parameters').output.firstRow.target_table,'.')[0]",
										"TableName": "@split(activity('lk_get_pipeline_parameters').output.firstRow.target_table,'.')[1]"
									}
								}
							]
						},
						{
							"name": "sp_dataload_status",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "cd_src_to_synapse",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "[edw].data_warehouse_dataload_status",
									"type": "Expression"
								},
								"storedProcedureParameters": {
									"datasource": {
										"value": {
											"value": "@pipeline().parameters.pPipeLineSubCode",
											"type": "Expression"
										},
										"type": "String"
									},
									"description": {
										"value": {
											"value": "@activity('lk_get_pipeline_parameters').output.firstRow.description",
											"type": "Expression"
										},
										"type": "String"
									},
									"load_date_time": {
										"value": {
											"value": "@activity('lk_get_pipeline_parameters').output.firstRow.run_start_datetime",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"project_number": {
										"value": {
											"value": "@pipeline().parameters.pProjectNumber",
											"type": "Expression"
										},
										"type": "String"
									},
									"table_name": {
										"value": {
											"value": "@activity('lk_get_pipeline_parameters').output.firstRow.target_table",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "linkedservice_DEV_entanalytics_synapse",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Append Copy to Synapse Error",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "if_File_Exists_Copy_to_Synapse",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_error_message",
					"value": {
						"value": "@concat('Copy to Synapse Failure: | |',\nactivity('if_File_Exists_Copy_to_Synapse').error.message)\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If failure detected send mail",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Append Copy to Synapse Error",
						"dependencyConditions": [
							"Completed",
							"Skipped"
						]
					},
					{
						"activity": "if_File_Exists_Copy_to_Synapse",
						"dependencyConditions": [
							"Skipped",
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@if(empty(variables('v_error_message')),false,true)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Send Email On Failure",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "POST",
								"headers": {
									"Content-Type": "application/json"
								},
								"url": "https://prod-31.eastus.logic.azure.com:443/workflows/03d7da5abbab4215a05aeaceae3b96fa/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=asuyutHtoSxGFURsj1-A6AKRiNLdXZ4mTnZvZ17_8hI",
								"connectVia": {
									"referenceName": "integrationRuntimeEast2",
									"type": "IntegrationRuntimeReference"
								},
								"body": {
									"value": "{\n    \"DataFactoryName\": \"@{pipeline().DataFactory}\",\n    \"PipelineName\": \"@{pipeline().Pipeline}\",\n    \"Activity\": \"@{split(replace(replace(join(variables('v_error_message'),';'),'\"',''),'\\','/'),'|')[0]}\",\n    \"ErrorMessage\": \"@{split(replace(replace(join(variables('v_error_message'),';'),'\"',''),'\\','/'),'|')[2]}\",\n\"EmailTo\": \"@{activity('lk_get_pipeline_email_parameters').output.firstRow.master_pipeline_email}\"\n}",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "lk_get_pipeline_email_parameters",
				"description": "Get the parameters to be used in this pipeline",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "getPipelineParametersValues",
						"storedProcedureParameters": {
							"pPipelineCode": {
								"type": "String",
								"value": {
									"value": "pl_ced_master_email",
									"type": "Expression"
								}
							},
							"pPipeLineSubCode": {
								"type": "String",
								"value": {
									"value": "CED",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azure_synapse_parameter",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Append Get Metadata Error",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "gm_check_sourcefile_exists",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_error_message",
					"value": {
						"value": "@concat('Get Metadata Failure: | |',\nactivity('gm_check_sourcefile_exists').error.message)\n",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"pPipeLineSubCode": {
				"type": "string",
				"defaultValue": "Network Folder"
			},
			"pProjectNumber": {
				"type": "string",
				"defaultValue": "360536"
			}
		},
		"variables": {
			"v_error_message": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "Projects/Central Engineering Database/Excel/Aveva E3D"
		},
		"annotations": []
	}
}