pipeline/pl_clinic_daily_visit_source_to_stage.json
{
	"name": "pl_clinic_daily_visit_source_to_stage",
	"properties": {
		"activities": [
			{
				"name": "cp_get_clinicfabautomation",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "lk_get_pipeline_parameters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "[dbo].[SickLeaveDetailReport]",
						"storedProcedureParameters": {
							"emp_type": {
								"type": "String",
								"value": {
									"value": "DUB",
									"type": "Expression"
								}
							},
							"loc_id": {
								"type": "Int32",
								"value": {
									"value": "1",
									"type": "Expression"
								}
							},
							"location": {
								"type": "String",
								"value": {
									"value": "DUBAI",
									"type": "Expression"
								}
							},
							"vis_date1": {
								"type": "DateTime",
								"value": {
									"value": "@formatDateTime(addDays(utcnow(),-30),'yyyy-MM-dd')",
									"type": "Expression"
								}
							},
							"vis_date2": {
								"type": "DateTime",
								"value": {
									"value": "@formatDateTime(addDays(utcnow(),30),'yyyy-MM-dd')",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_clinic_fab_automation_source",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adlsg2_csv_generic",
						"type": "DatasetReference",
						"parameters": {
							"p_ds_filesystem": {
								"value": "@activity('lk_get_pipeline_parameters').output.firstRow.file_system",
								"type": "Expression"
							},
							"p_ds_directory": {
								"value": "@activity('lk_get_pipeline_parameters').output.firstRow.folder_path",
								"type": "Expression"
							},
							"p_ds_filename": {
								"value": "@concat(activity('lk_get_pipeline_parameters').output.firstRow.file_name,'.csv')",
								"type": "Expression"
							},
							"p_ds_first_row_header": true
						}
					}
				]
			},
			{
				"name": "lk_get_pipeline_parameters",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[dbo].[getPipelineParametersValues]",
						"storedProcedureParameters": {
							"pPipelineCode": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"pPipeLineSubCode": {
								"type": "String",
								"value": "NetworkFolder"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azure_synapse_parameter",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set data pull date time",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "lk_get_max_prepared_on",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_run_start",
					"value": {
						"value": "@activity('lk_get_max_prepared_on').output.firstRow.prepared_on",
						"type": "Expression"
					}
				}
			},
			{
				"name": "sp_Update_Parameter",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Set data pull date time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[updateIncrementPipelineParameterValue]",
					"storedProcedureParameters": {
						"pParameterCode": {
							"value": {
								"value": "start_date",
								"type": "Expression"
							},
							"type": "String"
						},
						"pParameterValue": {
							"value": {
								"value": "@variables('v_run_start')",
								"type": "Expression"
							},
							"type": "String"
						},
						"pPipelineCode": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"pPipelineSubCode": {
							"value": "NetworkFolder",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSynapseDB_DEV",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "lk_get_max_prepared_on",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "cp_get_clinicfabautomation",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select max(prepared_on) as prepared_on from visit_details",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_clinic_fab_automation_source",
						"type": "DatasetReference"
					}
				}
			}
		],
		"variables": {
			"v_run_start": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Projects/NCSA/FAB Automation/Clinic"
		},
		"annotations": [],
		"lastPublishTime": "2023-11-17T05:35:47Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}