pipeline/pl_coa_mcpm_raw_to_synapse.json
{
	"name": "pl_coa_mcpm_raw_to_synapse",
	"properties": {
		"description": "CoA MCPM - ADLS Raw to Synapse Stage table",
		"activities": [
			{
				"name": "Check Combined File non zero Bytes",
				"description": "Check if the combined file has any data to be loaded.",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "cp_Get_Latest_File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_adlsg2_csv_coa_raw_ltst_file",
						"type": "DatasetReference"
					},
					"fieldList": [
						"size",
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Set start date",
				"description": "Set the last stage run date to the variable as start date.",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "lkup_Get_Pipeline_parameters_getlrd",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_lrd_raw_to_synapse",
					"value": {
						"value": "@formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:ss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "cp_Get_Latest_File",
				"description": "Copy all the files created since the last start date and combine them into one file to be processed into Synapse.",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set start date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": {
								"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.last_run_start_date",
								"type": "Expression"
							},
							"wildcardFolderPath": "Project_Data/NCSA/MCPM/CoA/*/*/*",
							"wildcardFileName": "CoA_MCPM*.csv"
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "MergeFiles"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": "ts_itime_combined.csv"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Domain",
									"type": "String"
								},
								"sink": {
									"name": "Domain",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CoA",
									"type": "String"
								},
								"sink": {
									"name": "CoA",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Coa_Title",
									"type": "String"
								},
								"sink": {
									"name": "Coa_Title",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CostCode",
									"type": "String"
								},
								"sink": {
									"name": "CostCode",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CostCode_Title",
									"type": "String"
								},
								"sink": {
									"name": "CostCode_Title",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CostType",
									"type": "String"
								},
								"sink": {
									"name": "CostType",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "SCT",
									"type": "String"
								},
								"sink": {
									"name": "SCT",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "WBS",
									"type": "String"
								},
								"sink": {
									"name": "WBS",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "WBS_Title",
									"type": "String"
								},
								"sink": {
									"name": "WBS_Title",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "WBSLevel2",
									"type": "String"
								},
								"sink": {
									"name": "WBSLevel2",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "WBSLevel2_Title",
									"type": "String"
								},
								"sink": {
									"name": "WBSLevel2_Title",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "WBSLevel3",
									"type": "String"
								},
								"sink": {
									"name": "WBSLevel3",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "WBSLevel3_Title",
									"type": "String"
								},
								"sink": {
									"name": "WBSLevel3_Title",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "WBSLevel4",
									"type": "String"
								},
								"sink": {
									"name": "WBSLevel4",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "WBSLevel4_Title",
									"type": "String"
								},
								"sink": {
									"name": "WBSLevel4_Title",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "KeyUoMImperial",
									"type": "String"
								},
								"sink": {
									"name": "KeyUoMImperial",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "KeyUoMMetric",
									"type": "String"
								},
								"sink": {
									"name": "KeyUoMMetric",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PSRLevel1",
									"type": "String"
								},
								"sink": {
									"name": "PSRLevel1",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PSRLevel2",
									"type": "String"
								},
								"sink": {
									"name": "PSRLevel2",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PSRLevel1_Title",
									"type": "String"
								},
								"sink": {
									"name": "PSRLevel1_Title",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PSRLevel2_Title",
									"type": "String"
								},
								"sink": {
									"name": "PSRLevel2_Title",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Phase",
									"type": "String"
								},
								"sink": {
									"name": "Phase",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Phase_Title",
									"type": "String"
								},
								"sink": {
									"name": "Phase_Title",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "domain_code_ct",
									"type": "String"
								},
								"sink": {
									"name": "domain_code_ct",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Source",
									"type": "String"
								},
								"sink": {
									"name": "Source",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "ds_adlsg2_csv_CoA_raw",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adlsg2_csv_coa_raw_ltst_file",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "if_File_Exists_Copy_to_Synapse",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Check Combined File non zero Bytes",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Check Combined File non zero Bytes').output.size, 2)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy Latest Data To Synapse Stage Table",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlDWSink",
									"preCopyScript": {
										"value": "truncate table [gpd].[NCSA_CoA_PSR_MCPM]",
										"type": "Expression"
									},
									"allowPolyBase": true,
									"polyBaseSettings": {
										"rejectValue": 0,
										"rejectType": "value",
										"useTypeDefault": false
									},
									"disableMetricsCollection": false
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "ADLSG2 TimeAnalytics DEV",
										"type": "LinkedServiceReference"
									},
									"path": "mdr-raw-data/Polybase_Staging_Space"
								},
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "Domain",
												"type": "String"
											},
											"sink": {
												"name": "Domain",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CoA",
												"type": "String"
											},
											"sink": {
												"name": "CoA",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Coa_Title",
												"type": "String"
											},
											"sink": {
												"name": "Coa_Title",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CostCode",
												"type": "String"
											},
											"sink": {
												"name": "CostCode",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CostCode_Title",
												"type": "String"
											},
											"sink": {
												"name": "CostCode_Title",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CostType",
												"type": "String"
											},
											"sink": {
												"name": "CostType",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "SCT",
												"type": "String"
											},
											"sink": {
												"name": "SCT",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "WBS",
												"type": "String"
											},
											"sink": {
												"name": "WBS",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "WBS_Title",
												"type": "String"
											},
											"sink": {
												"name": "WBS_Title",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "WBSLevel2",
												"type": "String"
											},
											"sink": {
												"name": "WBSLevel2",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "WBSLevel2_Title",
												"type": "String"
											},
											"sink": {
												"name": "WBSLevel2_Title",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "WBSLevel3",
												"type": "String"
											},
											"sink": {
												"name": "WBSLevel3",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "WBSLevel3_Title",
												"type": "String"
											},
											"sink": {
												"name": "WBSLevel3_Title",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "WBSLevel4",
												"type": "String"
											},
											"sink": {
												"name": "WBSLevel4",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "WBSLevel4_Title",
												"type": "String"
											},
											"sink": {
												"name": "WBSLevel4_Title",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "KeyUoMImperial",
												"type": "String"
											},
											"sink": {
												"name": "KeyUoMImperial",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "KeyUoMMetric",
												"type": "String"
											},
											"sink": {
												"name": "KeyUoMMetric",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PSRLevel1",
												"type": "String"
											},
											"sink": {
												"name": "PSRLevel1",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PSRLevel2",
												"type": "String"
											},
											"sink": {
												"name": "PSRLevel2",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PSRLevel1_Title",
												"type": "String"
											},
											"sink": {
												"name": "PSRLevel1_Title",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PSRLevel2_Title",
												"type": "String"
											},
											"sink": {
												"name": "PSRLevel2_Title",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Phase",
												"type": "String"
											},
											"sink": {
												"name": "Phase",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Phase_Title",
												"type": "String"
											},
											"sink": {
												"name": "Phase_Title",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "domain_code_ct",
												"type": "String"
											},
											"sink": {
												"name": "domain_code_ct",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Source",
												"type": "String"
											},
											"sink": {
												"name": "Source",
												"type": "String"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "ds_adlsg2_csv_coa_raw_ltst_file",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_AzureSynapseAnalytics_coa_psr_mcpm",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Delete Temp combined File",
				"description": "After the data has been loaded, clear the combined file from the ADLSV2 ",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "if_File_Exists_Copy_to_Synapse",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_adlsg2_csv_coa_raw_ltst_file",
						"type": "DatasetReference"
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true
					}
				}
			},
			{
				"name": "lkup_Get_Pipeline_parameters_getlrd",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "getPipelineParametersValues",
						"storedProcedureParameters": {
							"pPipelineCode": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"pPipeLineSubCode": {
								"type": "String",
								"value": "MCPM"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azure_synapse_parameter",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "sp_Update_Parameter",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "sp_generic_procedure_dim_load_PSRL1",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "sp_generic_procedure_dim_load_CostCode",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[updateIncrementPipelineParameterValue]",
					"storedProcedureParameters": {
						"pParameterValue": {
							"value": {
								"value": "@variables('v_lrd_raw_to_synapse')",
								"type": "Expression"
							},
							"type": "String"
						},
						"pPipelineCode": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"pPipelineSubCode": {
							"value": "MCPM",
							"type": "String"
						},
						"pParameterCode": {
							"value": "last_run_start_date",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSynapseDB_DEV",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "sp_generic_procedure_dim_load_PSRL1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Delete Temp combined File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[generic_load_dim_v2]",
					"storedProcedureParameters": {
						"debug_flag": {
							"value": "N",
							"type": "String"
						},
						"execute_flag": {
							"value": "Y",
							"type": "String"
						},
						"load_name": {
							"value": "dim_ent_psrlevel1_mcpm",
							"type": "String"
						},
						"rkValidationRequired": {
							"value": "Y",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Azure_Dev_SynapseAnalyticsPool",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "sp_generic_procedure_dim_load_PSRL2",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Delete Temp combined File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[generic_load_dim_v2]",
					"storedProcedureParameters": {
						"debug_flag": {
							"value": "N",
							"type": "String"
						},
						"execute_flag": {
							"value": "Y",
							"type": "String"
						},
						"load_name": {
							"value": "dim_ent_psrlevel2_mcpm",
							"type": "String"
						},
						"rkValidationRequired": {
							"value": "Y",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Azure_Dev_SynapseAnalyticsPool",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "sp_generic_procedure_dim_load_CostCode",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "sp_generic_procedure_dim_load_PSRL2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[generic_load_dim_v2]",
					"storedProcedureParameters": {
						"debug_flag": {
							"value": "N",
							"type": "String"
						},
						"execute_flag": {
							"value": "Y",
							"type": "String"
						},
						"load_name": {
							"value": "dim_entp_cost_code_mcpm",
							"type": "String"
						},
						"rkValidationRequired": {
							"value": "Y",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Azure_Dev_SynapseAnalyticsPool",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"v_lrd_raw_to_synapse": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Projects/NCSA/20. CoA"
		},
		"annotations": [],
		"lastPublishTime": "2023-08-03T13:59:10Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}