pipeline/pl_exchange_rates_data.json
{
	"name": "pl_exchange_rates_data",
	"properties": {
		"activities": [
			{
				"name": "lk_get_pipeline_parameters",
				"description": "Get the parameters to be used in this pipeline",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "getPipelineParametersValues",
						"storedProcedureParameters": {
							"pPipelineCode": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"pPipeLineSubCode": {
								"type": "String",
								"value": {
									"value": "NetworkFolder",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azure_synapse_parameter",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set last_run_date - one day",
				"description": "Sets start and current date",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "lk_get_pipeline_parameters",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "lk_get_pipeline_parameters_2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_end_date",
					"value": {
						"value": "@if(equals(activity('lk_get_pipeline_parameters').output.firstRow.end_date,'currdate'),formatDateTime(utcNow(),'yyyy-MM-dd'),formatDateTime(activity('lk_get_pipeline_parameters').output.firstRow.end_date,'yyyy-MM-dd'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Run Until start date equals to end date",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Set last_run_date - one day",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "GetClientId",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "GetClientSecret",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greaterOrEquals(activity('lk_get_pipeline_parameters_to_lookup_dates').output.firstRow.start_date,if(equals(activity('lk_get_pipeline_parameters').output.firstRow.end_date,'currdate'),formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:ss'),formatDateTime(activity('lk_get_pipeline_parameters').output.firstRow.end_date,'yyyy-MM-dd HH:mm:ss')))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CP_Exchange_Rates_Data_Data_Src_to_Stage",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Get Access Token",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "POST",
										"additionalHeaders": {
											"value": "@concat('Authorization: Bearer ', activity('Get Access Token').output.access_token,'\nContent-Type: application/soap+xml;charset=UTF-8\nContent-Length: 649\nConnection: Keep-Alive\nUser-Agent: Apache-HttpClient/4.1.1 (java 1.5)\n')",
											"type": "Expression"
										},
										"requestBody": {
											"value": "@concat('<ns1:Envelope xmlns:ns1=\"http://www.w3.org/2003/05/soap-envelope\">\n<ns1:Body>\n<ns2:runReport xmlns:ns2=\"http://xmlns.oracle.com/oxp/service/PublicReportService\">\n<ns2:reportRequest>\n<ns2:attributeFormat>xml</ns2:attributeFormat>\n<ns2:parameterNameValues>\n<ns2:item>\n<ns2:name>P_FROM_DATE</ns2:name>\n<ns2:values>\n<ns2:item>',variables('v_start_date'),'</ns2:item>\n</ns2:values>\n</ns2:item>\n<ns2:item>\n<ns2:name>P_TO_DATE</ns2:name>\n<ns2:values>\n<ns2:item>',variables('v_end_date'),'</ns2:item>\n</ns2:values>\n</ns2:item>\n</ns2:parameterNameValues>\n<ns2:reportAbsolutePath>/Custom/Oracle R2P Integrations/Invoice Inquiry Dashboard/GL_DAILY_RATES.xdo</ns2:reportAbsolutePath>\n<ns2:sizeOfDataChunkDownload>-1</ns2:sizeOfDataChunkDownload>\n</ns2:reportRequest>\n</ns2:runReport>\n</ns1:Body>\n</ns1:Envelope>')",
											"type": "Expression"
										},
										"requestTimeout": ""
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_http_binary_exchange_rates_data_source",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adlsg2_binary_exchange_rates_data_source_stage",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "df_exchange_rates_data_decoding",
							"type": "ExecuteDataFlow",
							"dependsOn": [
								{
									"activity": "CP_Exchange_Rates_Data_Data_Src_to_Stage",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "df_exchange_rates_data_decoding",
									"type": "DataFlowReference"
								},
								"compute": {
									"coreCount": 32,
									"computeType": "MemoryOptimized"
								},
								"traceLevel": "Fine"
							}
						},
						{
							"name": "df_exchange_rates_data_flattening",
							"type": "ExecuteDataFlow",
							"dependsOn": [
								{
									"activity": "df_exchange_rates_data_decoding",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "df_exchange_rates_data_flattening",
									"type": "DataFlowReference"
								},
								"compute": {
									"coreCount": 32,
									"computeType": "MemoryOptimized"
								},
								"traceLevel": "Fine"
							}
						},
						{
							"name": "Copy Latest Data To Synapse Stage Table",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "df_exchange_rates_data_flattening",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": false,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlDWSink",
									"preCopyScript": "truncate table [rpy].[Exchange_Rates_Data_stage]",
									"allowCopyCommand": true,
									"disableMetricsCollection": false
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "ADLSG2 TimeAnalytics DEV",
										"type": "LinkedServiceReference"
									},
									"path": "mdr-raw-data/Polybase_Staging_Space"
								},
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "ATTRIBUTE1",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE1",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE10",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE10",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE11",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE11",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE12",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE12",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE13",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE13",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE14",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE14",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE15",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE15",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE2",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE2",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE3",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE3",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE4",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE4",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE5",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE5",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE6",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE6",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE7",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE7",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE8",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE8",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE9",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE9",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE_CATEGORY",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE_CATEGORY",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE_DATE1",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE_DATE1",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE_DATE2",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE_DATE2",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE_DATE3",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE_DATE3",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE_DATE4",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE_DATE4",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE_DATE5",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE_DATE5",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE_NUMBER1",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE_NUMBER1",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE_NUMBER2",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE_NUMBER2",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE_NUMBER3",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE_NUMBER3",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE_NUMBER4",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE_NUMBER4",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE_NUMBER5",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE_NUMBER5",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CONVERSION_DATE",
												"type": "String"
											},
											"sink": {
												"name": "CONVERSION_DATE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CONVERSION_RATE",
												"type": "String"
											},
											"sink": {
												"name": "CONVERSION_RATE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CONVERSION_TYPE",
												"type": "String"
											},
											"sink": {
												"name": "CONVERSION_TYPE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CREATED_BY",
												"type": "String"
											},
											"sink": {
												"name": "CREATED_BY",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CREATION_DATE",
												"type": "String"
											},
											"sink": {
												"name": "CREATION_DATE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ENTERPRISE_ID",
												"type": "String"
											},
											"sink": {
												"name": "ENTERPRISE_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "FROM_CURRENCY",
												"type": "String"
											},
											"sink": {
												"name": "FROM_CURRENCY",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "LAST_UPDATED_BY",
												"type": "String"
											},
											"sink": {
												"name": "LAST_UPDATED_BY",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "LAST_UPDATE_DATE",
												"type": "String"
											},
											"sink": {
												"name": "LAST_UPDATE_DATE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "LAST_UPDATE_LOGIN",
												"type": "String"
											},
											"sink": {
												"name": "LAST_UPDATE_LOGIN",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "OBJECT_VERSION_NUMBER",
												"type": "String"
											},
											"sink": {
												"name": "OBJECT_VERSION_NUMBER",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "RATE_SOURCE_CODE",
												"type": "String"
											},
											"sink": {
												"name": "RATE_SOURCE_CODE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "STATUS_CODE",
												"type": "String"
											},
											"sink": {
												"name": "STATUS_CODE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "TO_CURRENCY",
												"type": "String"
											},
											"sink": {
												"name": "TO_CURRENCY",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "source_name",
												"type": "String"
											},
											"sink": {
												"name": "source_name",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "sub_source_name",
												"type": "String"
											},
											"sink": {
												"name": "sub_source_name",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "created_date_time",
												"type": "String"
											},
											"sink": {
												"name": "created_date_time",
												"type": "DateTime"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "ds_adlsg2_csv_exchange_rates_data_source_stage_final_flatten_csv",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_AzureSynapseAnalytics_exchange_rates_data",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Set Start Date",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "lk_get_pipeline_parameters_to_lookup_dates",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_start_date",
								"value": {
									"value": "@activity('lk_get_pipeline_parameters_to_lookup_dates').output.firstRow.start_date",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set End Date",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set Start Date",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_end_date",
								"value": {
									"value": "@formatDateTime(addDays(activity('lk_get_pipeline_parameters_to_lookup_dates').output.firstRow.start_date,int(activity('lk_get_pipeline_parameters_to_lookup_dates').output.firstRow.number_of_days)),'yyyy-MM-dd HH:mm:ss')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Increment Start Date",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Insert from stage to final table",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[updateIncrementPipelineParameterValue]",
								"storedProcedureParameters": {
									"pParameterValue": {
										"value": {
											"value": "@formatDateTime(addDays(activity('lk_get_pipeline_parameters_to_lookup_dates').output.firstRow.start_date,int(activity('lk_get_pipeline_parameters_to_lookup_dates').output.firstRow.number_of_days)),'yyyy-MM-dd HH:mm:ss')",
											"type": "Expression"
										},
										"type": "String"
									},
									"pPipelineCode": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"pPipelineSubCode": {
										"value": "NetworkFolder",
										"type": "String"
									},
									"pParameterCode": {
										"value": "start_date",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSynapseDB_DEV",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Insert from stage to final table",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Delete NULL Exchange_Rates_Data Copy",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "linkedservice_DEV_entanalytics_synapse",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "NonQuery",
										"text": "insert into [rpy].[Exchange_Rates_Data]\n(ATTRIBUTE1,ATTRIBUTE10,ATTRIBUTE11,ATTRIBUTE12,ATTRIBUTE13,ATTRIBUTE14,ATTRIBUTE15,ATTRIBUTE2,ATTRIBUTE3,ATTRIBUTE4,ATTRIBUTE5,ATTRIBUTE6,ATTRIBUTE7,ATTRIBUTE8,ATTRIBUTE9,ATTRIBUTE_CATEGORY,ATTRIBUTE_DATE1,ATTRIBUTE_DATE2,ATTRIBUTE_DATE3,ATTRIBUTE_DATE4,ATTRIBUTE_DATE5,ATTRIBUTE_NUMBER1,ATTRIBUTE_NUMBER2,ATTRIBUTE_NUMBER3,ATTRIBUTE_NUMBER4,ATTRIBUTE_NUMBER5,CONVERSION_DATE\n,CONVERSION_RATE,CONVERSION_TYPE,CREATED_BY,CREATION_DATE,ENTERPRISE_ID,FROM_CURRENCY,LAST_UPDATED_BY,LAST_UPDATE_DATE,LAST_UPDATE_LOGIN,OBJECT_VERSION_NUMBER,RATE_SOURCE_CODE,STATUS_CODE\n,TO_CURRENCY,source_name,sub_source_name,created_date_time)\nselect\na.ATTRIBUTE1,a.ATTRIBUTE10,a.ATTRIBUTE11,a.ATTRIBUTE12,a.ATTRIBUTE13,a.ATTRIBUTE14,a.ATTRIBUTE15,a.ATTRIBUTE2,a.ATTRIBUTE3,a.ATTRIBUTE4,a.ATTRIBUTE5,a.ATTRIBUTE6,a.ATTRIBUTE7,a.ATTRIBUTE8,a.ATTRIBUTE9,a.ATTRIBUTE_CATEGORY,a.ATTRIBUTE_DATE1,a.ATTRIBUTE_DATE2,a.ATTRIBUTE_DATE3,a.ATTRIBUTE_DATE4,a.ATTRIBUTE_DATE5,a.ATTRIBUTE_NUMBER1,a.ATTRIBUTE_NUMBER2,a.ATTRIBUTE_NUMBER3,a.ATTRIBUTE_NUMBER4,a.ATTRIBUTE_NUMBER5,a.CONVERSION_DATE,a.CONVERSION_RATE,a.CONVERSION_TYPE,a.CREATED_BY,a.CREATION_DATE,a.ENTERPRISE_ID,a.FROM_CURRENCY,a.LAST_UPDATED_BY,a.LAST_UPDATE_DATE,a.LAST_UPDATE_LOGIN,a.OBJECT_VERSION_NUMBER,a.RATE_SOURCE_CODE,a.STATUS_CODE,a.TO_CURRENCY,a.source_name,a.sub_source_name,a.created_date_time\nfrom [rpy].[Exchange_Rates_Data_stage] a,\n(select FROM_CURRENCY, TO_CURRENCY, CONVERSION_DATE, CONVERSION_TYPE, LAST_UPDATE_DATE, max(ID) as ID \nfrom [rpy].[Exchange_Rates_Data_stage]\ngroup by FROM_CURRENCY, TO_CURRENCY, CONVERSION_DATE, CONVERSION_TYPE, LAST_UPDATE_DATE) b\nwhere a.FROM_CURRENCY = b.FROM_CURRENCY\nand a.TO_CURRENCY = b.TO_CURRENCY\nand a.CONVERSION_DATE = b.CONVERSION_DATE\nand a.CONVERSION_TYPE = b.CONVERSION_TYPE\nand a.LAST_UPDATE_DATE = b.LAST_UPDATE_DATE"
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "lk_get_pipeline_parameters_to_lookup_dates",
							"description": "Get the parameters to be used in this pipeline",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlDWSource",
									"sqlReaderStoredProcedureName": "getPipelineParametersValues",
									"storedProcedureParameters": {
										"pPipelineCode": {
											"type": "String",
											"value": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											}
										},
										"pPipeLineSubCode": {
											"type": "String",
											"value": {
												"value": "NetworkFolder",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_azure_synapse_parameter",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Delete NULL Exchange_Rates_Data",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Copy Latest Data To Synapse Stage Table",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "linkedservice_DEV_entanalytics_synapse",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "NonQuery",
										"text": "delete from [rpy].[Exchange_Rates_Data_stage] where FROM_CURRENCY is NULL and TO_CURRENCY is NULL and CONVERSION_DATE is NULL and CONVERSION_TYPE is NULL"
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "Increment Start Date_copy1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "CP_Exchange_Rates_Data_Data_Src_to_Stage",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[updateIncrementPipelineParameterValue]",
								"storedProcedureParameters": {
									"pParameterValue": {
										"value": {
											"value": "@formatDateTime(addDays(activity('lk_get_pipeline_parameters_to_lookup_dates').output.firstRow.start_date,int(activity('lk_get_pipeline_parameters_to_lookup_dates').output.firstRow.number_of_days)),'yyyy-MM-dd HH:mm:ss')",
											"type": "Expression"
										},
										"type": "String"
									},
									"pPipelineCode": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"pPipelineSubCode": {
										"value": "NetworkFolder",
										"type": "String"
									},
									"pParameterCode": {
										"value": "start_date",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSynapseDB_DEV",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Delete NULL Exchange_Rates_Data Copy",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Delete NULL Exchange_Rates_Data",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "linkedservice_DEV_entanalytics_synapse",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "NonQuery",
										"text": "delete [rpy].[Exchange_Rates_Data]\nfrom [rpy].[Exchange_Rates_Data] a,\n(select FROM_CURRENCY, TO_CURRENCY, CONVERSION_DATE, CONVERSION_TYPE, LAST_UPDATE_DATE, max(ID) as ID \nfrom [rpy].[Exchange_Rates_Data_stage]\ngroup by FROM_CURRENCY, TO_CURRENCY, CONVERSION_DATE, CONVERSION_TYPE, LAST_UPDATE_DATE) b\nwhere a.FROM_CURRENCY = b.FROM_CURRENCY\nand a.TO_CURRENCY = b.TO_CURRENCY\nand a.CONVERSION_DATE = b.CONVERSION_DATE\nand a.CONVERSION_TYPE = b.CONVERSION_TYPE\nand a.LAST_UPDATE_DATE = b.LAST_UPDATE_DATE"
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "Get Access Token",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Set End Date",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "POST",
								"headers": {
									"Content-Type": {
										"value": "application/x-www-form-urlencoded",
										"type": "Expression"
									}
								},
								"url": {
									"value": "@activity('lk_get_pipeline_parameters_to_lookup_dates').output.firstRow.token_url",
									"type": "Expression"
								},
								"body": {
									"value": "grant_type=client_credentials&client_id=@{activity('GetClientId').output.value}&client_secret=@{activity('GetClientSecret').output.value}&scope=@{activity('lk_get_pipeline_parameters').output.firstRow.scope}",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "6.12:00:00"
				}
			},
			{
				"name": "Update Start Date with max LAST_UPDATE_DATE",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Lookup to get max LAST_UPDATE_DATE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[updateIncrementPipelineParameterValue]",
					"storedProcedureParameters": {
						"pParameterValue": {
							"value": {
								"value": "@formatDateTime(activity('Lookup to get max LAST_UPDATE_DATE').output.firstRow.last_update_date,'yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							},
							"type": "String"
						},
						"pPipelineCode": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"pPipelineSubCode": {
							"value": "NetworkFolder",
							"type": "String"
						},
						"pParameterCode": {
							"value": "start_date",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSynapseDB_DEV",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Lookup to get max LAST_UPDATE_DATE",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Run Until start date equals to end date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "select max(LAST_UPDATE_DATE) as last_update_date from [rpy].[Exchange_Rates_Data]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSynapseAnalyticsDB",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Send Email On Failure",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Run Until start date equals to end date",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": "https://prod-31.eastus.logic.azure.com:443/workflows/03d7da5abbab4215a05aeaceae3b96fa/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=asuyutHtoSxGFURsj1-A6AKRiNLdXZ4mTnZvZ17_8hI",
					"connectVia": {
						"referenceName": "integrationRuntimeEast2",
						"type": "IntegrationRuntimeReference"
					},
					"body": {
						"value": "{\n    \"DataFactoryName\": \"@{pipeline().DataFactory}\",\n    \"PipelineName\": \"@{pipeline().Pipeline}\",\n    \"ErrorMessage\": \"Pipeline Failed\",\n    \"EmailTo\": \"@{activity('lk_get_pipeline_parameters_2').output.firstRow.ncsa_master_pipeline_email_to}\",\n    \"Activity\":  \"pl_exchange_rates_data\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "lk_get_pipeline_parameters_2",
				"description": "Get the parameters to be used in this pipeline",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "getPipelineParametersValues",
						"storedProcedureParameters": {
							"pPipelineCode": {
								"type": "String",
								"value": "pl_ncsa_master_pipelines"
							},
							"pPipeLineSubCode": {
								"type": "String",
								"value": "EMAIL"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azure_synapse_parameter",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "GetClientId",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "lk_get_pipeline_parameters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@activity('lk_get_pipeline_parameters').output.firstRow.client_id",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": {
							"value": "@concat(split(activity('lk_get_pipeline_parameters').output.firstRow.client_id, '/secrets')[0], '/')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "GetClientSecret",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "lk_get_pipeline_parameters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@activity('lk_get_pipeline_parameters').output.firstRow.client_secret",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": {
							"value": "@concat(split(activity('lk_get_pipeline_parameters').output.firstRow.client_secret, '/secrets')[0], '/')",
							"type": "Expression"
						}
					}
				}
			}
		],
		"variables": {
			"v_end_date": {
				"type": "String"
			},
			"v_start_date": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Projects/Payment Dashboard"
		},
		"annotations": []
	}
}