pipeline/pl_fab_automation_turnstyle_daily_punch_raw_to_synapse.json
{
	"name": "pl_fab_automation_turnstyle_daily_punch_raw_to_synapse",
	"properties": {
		"activities": [
			{
				"name": "Check Combined File non zero Bytes",
				"description": "Check if the combined file has any data to be loaded.",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "cp_Get_Latest_File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_adlsg2_csv_fab_turnstyle_time_punch_raw_latest",
						"type": "DatasetReference"
					},
					"fieldList": [
						"size",
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Set start date",
				"description": "Set the last stage run date to the variable as start date.",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "lkup_Get_Pipeline_parameters_getlrd",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_lrd_src_to_stage",
					"value": {
						"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.start_date",
						"type": "Expression"
					}
				}
			},
			{
				"name": "cp_Get_Latest_File",
				"description": "Copy all the files created since the last start date and combine them into one file to be processed into Synapse.",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set start date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.09:00:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": {
								"value": "@variables('v_lrd_src_to_stage')",
								"type": "Expression"
							},
							"wildcardFolderPath": "Project_Data/NCSA/FAB Automation/Turnstyle Daily Punch/*/*/*",
							"wildcardFileName": "turnstyle_daily_punch*.csv"
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "MergeFiles"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_adlsg2_csv_fab_turnstyle_daily_punch_raw",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adlsg2_csv_fab_turnstyle_time_punch_raw_latest",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "if_File_Exists_Copy_to_Synapse",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Check Combined File non zero Bytes",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Check Combined File non zero Bytes').output.size, 2)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "cp_copy_from_adlsg2_to_Synapse",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 3,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlDWSink",
									"preCopyScript": "truncate table [gpd].[stage_turnstyle_daily_punch]",
									"allowCopyCommand": true,
									"disableMetricsCollection": false
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "ADLSG2 TimeAnalytics DEV",
										"type": "LinkedServiceReference"
									},
									"path": "mdr-staging-data/Project_Data/NCSA/PLM/InboxTask/Logs"
								},
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "PERSON_NO_EXTERNAL",
												"type": "String"
											},
											"sink": {
												"name": "person_no_external",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "TS_DATE",
												"type": "String"
											},
											"sink": {
												"name": "ts_date",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "PUNCH",
												"type": "String"
											},
											"sink": {
												"name": "punch",
												"type": "TimeSpan"
											}
										},
										{
											"source": {
												"name": "DEVICE_NAME",
												"type": "String"
											},
											"sink": {
												"name": "device_name",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PUNCH_TYPE",
												"type": "String"
											},
											"sink": {
												"name": "punch_type",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "RUN_TIMESTAMP",
												"type": "String"
											},
											"sink": {
												"name": "run_timestamp",
												"type": "DateTime"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "ds_adlsg2_csv_fab_turnstyle_time_punch_raw_latest",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_azure_synapse_fab_turnstyle_time_punch",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Delete Temp combined File",
							"description": "After the data has been loaded, clear the combined latest file from the ADLSV2 ",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "sp_generic_procedure_dim_turnstyle_punches",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_adlsg2_csv_fab_turnstyle_time_punch_raw_latest",
									"type": "DatasetReference"
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						},
						{
							"name": "sp_generic_procedure_dim_turnstyle_punches",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "cp_copy_from_adlsg2_to_Synapse",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[generic_load_dim_v2]",
								"storedProcedureParameters": {
									"debug_flag": {
										"value": "N",
										"type": "String"
									},
									"execute_flag": {
										"value": "Y",
										"type": "String"
									},
									"load_name": {
										"value": "dim_ent_turnstyle_daily_punch",
										"type": "String"
									},
									"rkValidationRequired": {
										"value": "Y",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSynapseDB_DEV",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "lkup_Get_Pipeline_parameters_getlrd",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "getPipelineParametersValues",
						"storedProcedureParameters": {
							"pPipelineCode": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"pPipeLineSubCode": {
								"type": "String",
								"value": "NetworkFolder"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azure_synapse_parameter",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "sp_Update_Parameter",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "if_File_Exists_Copy_to_Synapse",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[updateIncrementPipelineParameterValue]",
					"storedProcedureParameters": {
						"pParameterValue": {
							"value": {
								"value": "@formatDateTime(activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.run_start_datetime,'yyyy-MM-dd HH:mm:ss.fff')",
								"type": "Expression"
							},
							"type": "String"
						},
						"pPipelineCode": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"pPipelineSubCode": {
							"value": "NetworkFolder",
							"type": "String"
						},
						"pParameterCode": {
							"value": "start_date",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSynapseDB_DEV",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"v_lrd_src_to_stage": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Projects/NCSA/FAB Automation/Daily Time Punch"
		},
		"annotations": [],
		"lastPublishTime": "2023-11-17T05:35:47Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}