pipeline/pl_idocs_doc_master_raw_to_synapse_stage.json
{
	"name": "pl_idocs_doc_master_raw_to_synapse_stage",
	"properties": {
		"activities": [
			{
				"name": "lkup_Get_Pipeline_parameters_getlrd",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "getPipelineParametersValues",
						"storedProcedureParameters": {
							"pPipelineCode": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"pPipeLineSubCode": {
								"type": "String",
								"value": "iDocs"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azure_synapse_parameter",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set start date",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "lkup_Get_Pipeline_parameters_getlrd",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_lrd_src_to_stage",
					"value": {
						"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.last_run_start_date",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SP_load_dim_doc_master",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "updateWorkPackage",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[generic_load_dim_v2]",
					"storedProcedureParameters": {
						"debug_flag": {
							"value": "N",
							"type": "String"
						},
						"execute_flag": {
							"value": "Y",
							"type": "String"
						},
						"load_name": {
							"value": "dim_ent_idocs",
							"type": "String"
						},
						"rkValidationRequired": {
							"value": "Y",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Azure_Dev_SynapseAnalyticsPool",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Copy Raw Parquet Folder To Synapse Stage Table_copy1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set start date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": {
								"value": "@variables('v_lrd_src_to_stage')",
								"type": "Expression"
							},
							"wildcardFolderPath": "Project_Data/NCSA/iDocs/Construction_Doc_Master/*/*/*",
							"wildcardFileName": "iDocs_P24A*.csv"
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table gpd.iDocs_P24A_ConsDocMaster",
						"disableMetricsCollection": false
					},
					"enableStaging": true,
					"stagingSettings": {
						"linkedServiceName": {
							"referenceName": "ADLSG2 TimeAnalytics DEV",
							"type": "LinkedServiceReference"
						}
					},
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "PROJECT NAME",
									"type": "String"
								},
								"sink": {
									"name": "PROJECT_NAME",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PROJECT NUMBER",
									"type": "String"
								},
								"sink": {
									"name": "PROJECT_NUMBER",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "DOC ID",
									"type": "String"
								},
								"sink": {
									"name": "DOC_ID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "DELIVERABLE",
									"type": "String"
								},
								"sink": {
									"name": "DELIVERABLE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "DOCUMENT NUMBER",
									"type": "String"
								},
								"sink": {
									"name": "DOCUMENT_NUMBER",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "TITLE",
									"type": "String"
								},
								"sink": {
									"name": "Title",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ISSUE STATE",
									"type": "String"
								},
								"sink": {
									"name": "Issue_State",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "REVISION",
									"type": "String"
								},
								"sink": {
									"name": "Revision",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "REVISION DATE",
									"type": "String"
								},
								"sink": {
									"name": "Revision_Date",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "DISCIPLINE",
									"type": "String"
								},
								"sink": {
									"name": "DISCIPLINE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "UNIT",
									"type": "String"
								},
								"sink": {
									"name": "UNIT",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OFFICE LOCATION",
									"type": "String"
								},
								"sink": {
									"name": "OFFICE_LOCATION",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "FILENAME",
									"type": "String"
								},
								"sink": {
									"name": "FILENAME",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "SUPERSEDED BY",
									"type": "String"
								},
								"sink": {
									"name": "SUPERSEDED_BY",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "HOLDS",
									"type": "String"
								},
								"sink": {
									"name": "HOLDS",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "WORK PACKAGE",
									"type": "String"
								},
								"sink": {
									"name": "WORK_PACKAGE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CWA",
									"type": "String"
								},
								"sink": {
									"name": "CWA",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CWP",
									"type": "String"
								},
								"sink": {
									"name": "CWP",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CWP DISCIPLINE",
									"type": "String"
								},
								"sink": {
									"name": "CWP_DISCIPLINE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CWP ISO",
									"type": "String"
								},
								"sink": {
									"name": "CWP_ISO",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "IDOCS FOLDER",
									"type": "String"
								},
								"sink": {
									"name": "IDOCS_FOLDER",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "REVISION COUNT",
									"type": "String"
								},
								"sink": {
									"name": "REVISION_COUNT",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "ds_adlsg2_iDocs_ConsDocMaster_raw",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_AzureSynapseAnalytics_p24a_stage",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "updateProjectNumber",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy Raw Parquet Folder To Synapse Stage Table_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "usp_project_number_idocs_doc_update"
				},
				"linkedServiceName": {
					"referenceName": "AzureSynapseDB_DEV",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "updateDiscipline",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "updateProjectNumber",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_idocs_discipline_update]"
				},
				"linkedServiceName": {
					"referenceName": "AzureSynapseDB_DEV",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "updateWorkPackage",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "updateDiscipline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_idocs_work_package_update]"
				},
				"linkedServiceName": {
					"referenceName": "AzureSynapseDB_DEV",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SP Update Control Table Last Run Date",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "SP_load_dim_doc_master",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[updateIncrementPipelineParameterValue]",
					"storedProcedureParameters": {
						"pParameterCode": {
							"value": "last_run_start_date",
							"type": "String"
						},
						"pParameterValue": {
							"value": {
								"value": "@formatDateTime(utcnow(),'yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							},
							"type": "String"
						},
						"pPipelineCode": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"pPipelineSubCode": {
							"value": "iDocs",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "linkedservice_DEV_entanalytics_synapse",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"v_lrd_src_to_stage": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Projects/NCSA/iDocs/Construction Doc Master"
		},
		"annotations": [],
		"lastPublishTime": "2021-04-16T07:10:27Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}