pipeline/pl_legacy_plan_excel_p6_source_to_stage.json
{
	"name": "pl_legacy_plan_excel_p6_source_to_stage",
	"properties": {
		"activities": [
			{
				"name": "cp_get_legacy_plan_csv",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "lk_get_pipeline_parameters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "FileServerReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false,
							"fileFilter": {
								"value": "@{pipeline().parameters.p_pl_srcfilename}",
								"type": "Expression"
							}
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "MergeFiles"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_fs_csv_legacy_plan_source",
						"type": "DatasetReference",
						"parameters": {
							"Path": {
								"value": "@activity('lk_get_pipeline_parameters').output.firstRow.source_directory",
								"type": "Expression"
							},
							"File": {
								"value": "@activity('lk_get_pipeline_parameters').output.firstRow.excel_file_name",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adlsg2_csv_generic",
						"type": "DatasetReference",
						"parameters": {
							"p_ds_filesystem": {
								"value": "@activity('lk_get_pipeline_parameters').output.firstRow.file_system",
								"type": "Expression"
							},
							"p_ds_directory": {
								"value": "@activity('lk_get_pipeline_parameters').output.firstRow.folder_path",
								"type": "Expression"
							},
							"p_ds_filename": {
								"value": "@concat(activity('lk_get_pipeline_parameters').output.firstRow.file_name,'.csv')",
								"type": "Expression"
							},
							"p_ds_first_row_header": true
						}
					}
				]
			},
			{
				"name": "lk_get_pipeline_parameters",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "getPipelineParametersValues",
						"storedProcedureParameters": {
							"pPipelineCode": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"pPipeLineSubCode": {
								"type": "String",
								"value": "NetworkFolder"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azure_synapse_parameter",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "sp_Update_Parameter",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "cp_get_legacy_plan_csv",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[updateIncrementPipelineParameterValue]",
					"storedProcedureParameters": {
						"pParameterValue": {
							"value": {
								"value": "@formatDateTime(activity('lk_get_pipeline_parameters').output.firstRow.run_start_datetime,'yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							},
							"type": "String"
						},
						"pPipelineCode": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"pPipelineSubCode": {
							"value": "NetworkFolder",
							"type": "String"
						},
						"pParameterCode": {
							"value": "start_date",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSynapseDB_DEV",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "cp_archive_fs_file",
				"description": "Archive the Source file on the File server on file server location (Copy/Delete combined)",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "sp_Update_Parameter",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "FileServerReadSettings",
							"recursive": false,
							"deleteFilesAfterCompletion": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "FileServerWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_fs_binary_generic_file",
						"type": "DatasetReference",
						"parameters": {
							"p_ds_path": {
								"value": "@activity('lk_get_pipeline_parameters').output.firstRow.source_directory",
								"type": "Expression"
							},
							"p_ds_file": {
								"value": "@{pipeline().parameters.p_pl_srcfilename}",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_fs_binary_generic_file",
						"type": "DatasetReference",
						"parameters": {
							"p_ds_path": {
								"value": "@concat(split(activity('lk_get_pipeline_parameters').output.firstRow.source_directory,'/')[0],'/NCSA Operational/Archive')",
								"type": "Expression"
							},
							"p_ds_file": {
								"value": "@concat(toUpper(activity('lk_get_pipeline_parameters').output.firstRow.file_name),'/',split(pipeline().parameters.p_pl_srcfilename,'.')[0],'_',formatDateTime(utcnow(),'yyyy-MM-dd THHmmss'),'.',split(pipeline().parameters.p_pl_srcfilename,'.')[1])",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"p_pl_srcfilename": {
				"type": "string"
			}
		},
		"variables": {
			"v_run_start": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Projects/NCSA/P6 Legacy Plan"
		},
		"annotations": [],
		"lastPublishTime": "2022-03-31T05:32:47Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}