pipeline/pl_mcpmdata_laborcorrection_raw_to_synapse_stage.json
{
	"name": "pl_mcpmdata_laborcorrection_raw_to_synapse_stage",
	"properties": {
		"activities": [
			{
				"name": "cp_Get_Latest_File",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set_current_date_time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": {
								"value": "@variables('v_lrd_src_to_stage')",
								"type": "Expression"
							},
							"wildcardFolderPath": "Project_Data/NCSA/MCPM/MCPM_Offshore_LaborCorrection/*/*/*",
							"wildcardFileName": "MCPM_Offshore_LaborCorrection*.csv"
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "MergeFiles"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "PrimKey",
									"type": "String"
								},
								"sink": {
									"name": "PrimKey",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Created",
									"type": "String"
								},
								"sink": {
									"name": "Created",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CreatedBy",
									"type": "String"
								},
								"sink": {
									"name": "CreatedBy",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Updated",
									"type": "String"
								},
								"sink": {
									"name": "Updated",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "UpdatedBy",
									"type": "String"
								},
								"sink": {
									"name": "UpdatedBy",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CUT",
									"type": "String"
								},
								"sink": {
									"name": "CUT",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CDL",
									"type": "String"
								},
								"sink": {
									"name": "CDL",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Domain",
									"type": "String"
								},
								"sink": {
									"name": "Domain",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ContractNo",
									"type": "String"
								},
								"sink": {
									"name": "ContractNo",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Entity",
									"type": "String"
								},
								"sink": {
									"name": "Entity",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CostType",
									"type": "String"
								},
								"sink": {
									"name": "CostType",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "WorkArea",
									"type": "String"
								},
								"sink": {
									"name": "WorkArea",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CostCode",
									"type": "String"
								},
								"sink": {
									"name": "CostCode",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ActivityCode",
									"type": "String"
								},
								"sink": {
									"name": "ActivityCode",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "TimesheetDate",
									"type": "String"
								},
								"sink": {
									"name": "TimesheetDate",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "EmployeeNo",
									"type": "String"
								},
								"sink": {
									"name": "EmployeeNo",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "HoursBooked",
									"type": "String"
								},
								"sink": {
									"name": "HoursBooked",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "NewWorkPackID",
									"type": "String"
								},
								"sink": {
									"name": "NewWorkPackID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "NewActivityCode",
									"type": "String"
								},
								"sink": {
									"name": "NewActivityCode",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "NewHoursBooked",
									"type": "String"
								},
								"sink": {
									"name": "NewHoursBooked",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "ds_adlsg2_mcpm_offshore_laborcorrection_raw",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adlsg2_MCPM_Offshore_LaborCorrection_latest_raw",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Check Combined File non zero Bytes",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "cp_Get_Latest_File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_adlsg2_MCPM_Offshore_LaborCorrection_latest_raw",
						"type": "DatasetReference"
					},
					"fieldList": [
						"size",
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "if_File_Exists_Copy_to_Synapse",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Check Combined File non zero Bytes",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Check Combined File non zero Bytes').output.Size, 2)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy Latest Data To Synapse Stage Table",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlDWSink",
									"preCopyScript": "truncate table [gpd].[ncsa_mcpm_laborcorrection]",
									"allowPolyBase": true,
									"polyBaseSettings": {
										"rejectValue": 0,
										"rejectType": "value",
										"useTypeDefault": true
									},
									"disableMetricsCollection": false
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "ADLSG2 TimeAnalytics DEV",
										"type": "LinkedServiceReference"
									},
									"path": "mdr-raw-data/Polybase_Staging_Space"
								},
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "PrimKey",
												"type": "String"
											},
											"sink": {
												"name": "PrimKey",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Created",
												"type": "String"
											},
											"sink": {
												"name": "Created",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CreatedBy",
												"type": "String"
											},
											"sink": {
												"name": "CreatedBy",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Updated",
												"type": "String"
											},
											"sink": {
												"name": "Updated",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "UpdatedBy",
												"type": "String"
											},
											"sink": {
												"name": "UpdatedBy",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CUT",
												"type": "String"
											},
											"sink": {
												"name": "CUT",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CDL",
												"type": "String"
											},
											"sink": {
												"name": "CDL",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Domain",
												"type": "String"
											},
											"sink": {
												"name": "Domain",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ContractNo",
												"type": "String"
											},
											"sink": {
												"name": "ContractNo",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Entity",
												"type": "String"
											},
											"sink": {
												"name": "Entity",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CostType",
												"type": "String"
											},
											"sink": {
												"name": "CostType",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "WorkArea",
												"type": "String"
											},
											"sink": {
												"name": "WorkArea",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CostCode",
												"type": "String"
											},
											"sink": {
												"name": "CostCode",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ActivityCode",
												"type": "String"
											},
											"sink": {
												"name": "ActivityCode",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "TimesheetDate",
												"type": "String"
											},
											"sink": {
												"name": "TimesheetDate",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "EmployeeNo",
												"type": "String"
											},
											"sink": {
												"name": "EmployeeNo",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "HoursBooked",
												"type": "String"
											},
											"sink": {
												"name": "HoursBooked",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "NewWorkPackID",
												"type": "String"
											},
											"sink": {
												"name": "NewWorkPackID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "NewActivityCode",
												"type": "String"
											},
											"sink": {
												"name": "NewActivityCode",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "NewHoursBooked",
												"type": "String"
											},
											"sink": {
												"name": "NewHoursBooked",
												"type": "String"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "ds_adlsg2_MCPM_Offshore_LaborCorrection_latest_raw",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_AzureSynapseAnalytics_mcpm_laborcorrction_offshore_stage",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Delete Temp combined File",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "if_File_Exists_Copy_to_Synapse",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_adlsg2_MCPM_Offshore_LaborCorrection_latest_raw",
						"type": "DatasetReference"
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true
					}
				}
			},
			{
				"name": "lkup_Get_Pipeline_parameters_getlrd",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "getPipelineParametersValues",
						"storedProcedureParameters": {
							"pPipelineCode": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"pPipeLineSubCode": {
								"type": "String",
								"value": "MCPM"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azure_synapse_parameter",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set start date",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "lkup_Get_Pipeline_parameters_getlrd",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_lrd_src_to_stage",
					"value": {
						"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.last_run_start_date",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set_current_date_time",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set start date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_current_date_time",
					"value": {
						"value": "@string(utcnow())",
						"type": "Expression"
					}
				}
			},
			{
				"name": "sp_execute_final_fact_load",
				"description": "MCPM ProgressItems -fact load",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Delete Temp combined File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[load_NCSA_fact_MCPM_Offshore_LaborCorrection]"
				},
				"linkedServiceName": {
					"referenceName": "Azure_Dev_SynapseAnalyticsPool",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SP Update Control Table Start Date",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "sp_execute_final_fact_load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[updateIncrementPipelineParameterValue]",
					"storedProcedureParameters": {
						"pParameterCode": {
							"value": "last_run_start_date",
							"type": "String"
						},
						"pParameterValue": {
							"value": {
								"value": "@formatDateTime(variables('v_current_date_time'),'yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							},
							"type": "String"
						},
						"pPipelineCode": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"pPipelineSubCode": {
							"value": "MCPM",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Azure_Dev_SynapseAnalyticsPool",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"v_lrd_src_to_stage": {
				"type": "String"
			},
			"v_current_date_time": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Projects/NCSA/MCPM Labor Corrections"
		},
		"annotations": [],
		"lastPublishTime": "2023-01-17T10:17:44Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}