pipeline/pl_mcpmdata_onshore_data_raw_to_synapse_stage.json
{
	"name": "pl_mcpmdata_onshore_data_raw_to_synapse_stage",
	"properties": {
		"activities": [
			{
				"name": "cp_Get_Latest_File",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set_current_date_time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": {
								"value": "@variables('v_lrd_src_to_stage')",
								"type": "Expression"
							},
							"wildcardFolderPath": "Project_Data/NCSA/MCPM/MCPM_Onshore/*/*/*",
							"wildcardFileName": "MCPM_Onshore*.csv"
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "MergeFiles"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Domain",
									"type": "String"
								},
								"sink": {
									"name": "Domain",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "DomainName",
									"type": "String"
								},
								"sink": {
									"name": "DomainName",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CutOff",
									"type": "String"
								},
								"sink": {
									"name": "CutOff",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Currency",
									"type": "String"
								},
								"sink": {
									"name": "Currency",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CoA",
									"type": "String"
								},
								"sink": {
									"name": "CoA",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Title",
									"type": "String"
								},
								"sink": {
									"name": "Title",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ProgressType",
									"type": "String"
								},
								"sink": {
									"name": "ProgressType",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ContractNo",
									"type": "String"
								},
								"sink": {
									"name": "ContractNo",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "SummaryCostType",
									"type": "String"
								},
								"sink": {
									"name": "SummaryCostType",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CostType",
									"type": "String"
								},
								"sink": {
									"name": "CostType",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Unit",
									"type": "String"
								},
								"sink": {
									"name": "Unit",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "WorkArea",
									"type": "String"
								},
								"sink": {
									"name": "WorkArea",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Prime",
									"type": "String"
								},
								"sink": {
									"name": "Prime",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "SubPrime",
									"type": "String"
								},
								"sink": {
									"name": "SubPrime",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CostCode",
									"type": "String"
								},
								"sink": {
									"name": "CostCode",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Measurable",
									"type": "String"
								},
								"sink": {
									"name": "Measurable",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Phase",
									"type": "String"
								},
								"sink": {
									"name": "Phase",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PSRLevel1",
									"type": "String"
								},
								"sink": {
									"name": "PSRLevel1",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PSRLevel2",
									"type": "String"
								},
								"sink": {
									"name": "PSRLevel2",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PSRL1Description",
									"type": "String"
								},
								"sink": {
									"name": "PSRL1Description",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PSRL2Description",
									"type": "String"
								},
								"sink": {
									"name": "PSRL2Description",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "UoM",
									"type": "String"
								},
								"sink": {
									"name": "UoM",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OBQty",
									"type": "String"
								},
								"sink": {
									"name": "OBQty",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OBHrs",
									"type": "String"
								},
								"sink": {
									"name": "OBHrs",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OBAmt",
									"type": "String"
								},
								"sink": {
									"name": "OBAmt",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OBRate",
									"type": "String"
								},
								"sink": {
									"name": "OBRate",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CBQty",
									"type": "String"
								},
								"sink": {
									"name": "CBQty",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CBHrs",
									"type": "String"
								},
								"sink": {
									"name": "CBHrs",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CBAmt",
									"type": "String"
								},
								"sink": {
									"name": "CBAmt",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PBQty",
									"type": "String"
								},
								"sink": {
									"name": "PBQty",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PBHrs",
									"type": "String"
								},
								"sink": {
									"name": "PBHrs",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PBAmt",
									"type": "String"
								},
								"sink": {
									"name": "PBAmt",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ActualHrs",
									"type": "String"
								},
								"sink": {
									"name": "ActualHrs",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ActualAmt",
									"type": "String"
								},
								"sink": {
									"name": "ActualAmt",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ActualRate",
									"type": "String"
								},
								"sink": {
									"name": "ActualRate",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CommittedHrs",
									"type": "String"
								},
								"sink": {
									"name": "CommittedHrs",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CommittedAmt",
									"type": "String"
								},
								"sink": {
									"name": "CommittedAmt",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "EarnedQty",
									"type": "String"
								},
								"sink": {
									"name": "EarnedQty",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "EarnedHrs",
									"type": "String"
								},
								"sink": {
									"name": "EarnedHrs",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "EarnedAmt",
									"type": "String"
								},
								"sink": {
									"name": "EarnedAmt",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "TakeOffQty",
									"type": "String"
								},
								"sink": {
									"name": "TakeOffQty",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "TakeOffHrs",
									"type": "String"
								},
								"sink": {
									"name": "TakeOffHrs",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PctComplete",
									"type": "String"
								},
								"sink": {
									"name": "PctComplete",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "EACHrs",
									"type": "String"
								},
								"sink": {
									"name": "EACHrs",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "EACAmt",
									"type": "String"
								},
								"sink": {
									"name": "EACAmt",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ETCHrs",
									"type": "String"
								},
								"sink": {
									"name": "ETCHrs",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ETCAmt",
									"type": "String"
								},
								"sink": {
									"name": "ETCAmt",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ETCRate",
									"type": "String"
								},
								"sink": {
									"name": "ETCRate",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ApprovedEACQty",
									"type": "String"
								},
								"sink": {
									"name": "ApprovedEACQty",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ApprovedEACHrs",
									"type": "String"
								},
								"sink": {
									"name": "ApprovedEACHrs",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ApprovedEACAmt",
									"type": "String"
								},
								"sink": {
									"name": "ApprovedEACAmt",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ApprovedETCHrs",
									"type": "String"
								},
								"sink": {
									"name": "ApprovedETCHrs",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ApprovedETCAmt",
									"type": "String"
								},
								"sink": {
									"name": "ApprovedETCAmt",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ForecastHrs",
									"type": "String"
								},
								"sink": {
									"name": "ForecastHrs",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ForecastAmt",
									"type": "String"
								},
								"sink": {
									"name": "ForecastAmt",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ForecastRate",
									"type": "String"
								},
								"sink": {
									"name": "ForecastRate",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "ds_adlsg2_csv_mcpm_onshore_raw",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adlsg2_csv_mcpm_onshore_latest_raw",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Check Combined File non zero Bytes",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "cp_Get_Latest_File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_adlsg2_csv_mcpm_onshore_latest_raw",
						"type": "DatasetReference"
					},
					"fieldList": [
						"size",
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "if_File_Exists_Copy_to_Synapse",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Check Combined File non zero Bytes",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Check Combined File non zero Bytes').output.Size, 2)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy Latest Data To Synapse Stage Table",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "CWP_CODE",
											"value": {
												"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.CWP_CODE",
												"type": "Expression"
											}
										},
										{
											"name": "SCHEDULE_RESOURCE_CODE",
											"value": {
												"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.SCHEDULE_RESOURCE_CODE",
												"type": "Expression"
											}
										},
										{
											"name": "ACTIVITY_CODE",
											"value": {
												"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.ACTIVITY_CODE",
												"type": "Expression"
											}
										},
										{
											"name": "IWP_CODE",
											"value": {
												"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.IWP_CODE",
												"type": "Expression"
											}
										},
										{
											"name": "PIM_CODE",
											"value": {
												"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.PIM_CODE",
												"type": "Expression"
											}
										},
										{
											"name": "ROC_CODE",
											"value": {
												"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.ROC_CODE",
												"type": "Expression"
											}
										},
										{
											"name": "data_class_quantity_code",
											"value": {
												"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.data_class_quantity_code",
												"type": "Expression"
											}
										},
										{
											"name": "data_class_hours_code",
											"value": {
												"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.data_class_hours_code",
												"type": "Expression"
											}
										},
										{
											"name": "data_class_amount_code",
											"value": {
												"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.data_class_amount_code",
												"type": "Expression"
											}
										},
										{
											"name": "data_class_rate_code",
											"value": {
												"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.data_class_rate_code",
												"type": "Expression"
											}
										},
										{
											"name": "sub_class_original_budget_quantity_code",
											"value": {
												"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.Original_Budget_Quantity_code",
												"type": "Expression"
											}
										},
										{
											"name": "sub_class_original_budget_hours_code",
											"value": {
												"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.Original_Budget_Hours_code",
												"type": "Expression"
											}
										},
										{
											"name": "sub_class_original_budget_amount_code",
											"value": {
												"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.Original_Budget_Amount_code",
												"type": "Expression"
											}
										},
										{
											"name": "sub_class_original_budget_rate_code",
											"value": {
												"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.Original_Budget_Rate_code\n",
												"type": "Expression"
											}
										},
										{
											"name": "sub_class_current_budget_quantity_code",
											"value": {
												"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.Current_Budget_Quantity_code",
												"type": "Expression"
											}
										},
										{
											"name": "sub_class_current_budget_hours_code",
											"value": {
												"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.Current_Budget_Hours_code\n",
												"type": "Expression"
											}
										},
										{
											"name": "sub_class_current_budget_amount_code",
											"value": {
												"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.Current_Budget_Amount_code\n",
												"type": "Expression"
											}
										},
										{
											"name": "sub_class_progress_budget_quantity_code",
											"value": {
												"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.Progress_Base_Quantity_code",
												"type": "Expression"
											}
										},
										{
											"name": "sub_class_progress_budget_hours_code",
											"value": {
												"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.Progress_Base_Hours_code",
												"type": "Expression"
											}
										},
										{
											"name": "sub_class_progress_budget_amount_code",
											"value": {
												"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.Progress_Base_Amount_code",
												"type": "Expression"
											}
										},
										{
											"name": "sub_class_estimated_completion_hours_code",
											"value": {
												"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.Estimate_At_Completion_Hours_code",
												"type": "Expression"
											}
										},
										{
											"name": "sub_class_estimated_completion_amount_code",
											"value": {
												"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.Estimate_At_Completion_Amount_code",
												"type": "Expression"
											}
										},
										{
											"name": "sub_class_estimated_take_of_completion_hours_code",
											"value": {
												"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.Estimate_To_Complete_Hours_code",
												"type": "Expression"
											}
										},
										{
											"name": "sub_class_estimated_take_of_completion_amount_code",
											"value": {
												"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.Estimate_To_Complete_Amount_code",
												"type": "Expression"
											}
										},
										{
											"name": "sub_class_estimated_take_of_completion_rate_code",
											"value": {
												"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.Estimate_To_Complete_Rate_code",
												"type": "Expression"
											}
										},
										{
											"name": "source_code",
											"value": {
												"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.source_code",
												"type": "Expression"
											}
										},
										{
											"name": "sub_source_code",
											"value": {
												"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.sub_source_code",
												"type": "Expression"
											}
										},
										{
											"name": "unit_of_measure_code_quantity",
											"value": {
												"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.unit_of_measure_code_quantity",
												"type": "Expression"
											}
										},
										{
											"name": "unit_of_measure_code_hours",
											"value": {
												"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.unit_of_measure_code_hours",
												"type": "Expression"
											}
										},
										{
											"name": "unit_of_measure_code_amount",
											"value": {
												"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.unit_of_measure_code_amount",
												"type": "Expression"
											}
										},
										{
											"name": "unit_of_measure_code_precentage",
											"value": {
												"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.unit_of_measure_code_precentage",
												"type": "Expression"
											}
										},
										{
											"name": "FUNCTION_CODE",
											"value": {
												"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.FUNCTION_CODE",
												"type": "Expression"
											}
										},
										{
											"name": "sub_class_committed_amount_code",
											"value": {
												"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.Committed_Amount_code",
												"type": "Expression"
											}
										},
										{
											"name": "data_class_precentage_code",
											"value": {
												"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.data_class_precentage_code",
												"type": "Expression"
											}
										},
										{
											"name": "sub_class_committed_hours_code",
											"value": {
												"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.Committed_Hours_code",
												"type": "Expression"
											}
										},
										{
											"name": "sub_class_actual_hours_code",
											"value": {
												"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.Actual_Hours_code",
												"type": "Expression"
											}
										},
										{
											"name": "sub_class_actual_amount_code",
											"value": {
												"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.Actual_Amount_code\n",
												"type": "Expression"
											}
										},
										{
											"name": "sub_class_actual_rate_code",
											"value": {
												"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.Actual_Rate_code_code\n",
												"type": "Expression"
											}
										},
										{
											"name": "sub_class_earned_quantity_code",
											"value": {
												"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.Earned_Quantity_code",
												"type": "Expression"
											}
										},
										{
											"name": "sub_class_earned_hours_code",
											"value": {
												"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.Earned_Hours_code",
												"type": "Expression"
											}
										},
										{
											"name": "sub_class_earned_amount_code",
											"value": {
												"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.Earned_Amount_code",
												"type": "Expression"
											}
										},
										{
											"name": "sub_class_take_off_quantity_code",
											"value": {
												"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.Take_Off_Quantity_code",
												"type": "Expression"
											}
										},
										{
											"name": "sub_class_take_off_hours_code",
											"value": {
												"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.Take_Off_Hours_code",
												"type": "Expression"
											}
										},
										{
											"name": "sub_class_approved_eac_quantity_code",
											"value": {
												"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.Approved_EAC_Quantity_code",
												"type": "Expression"
											}
										},
										{
											"name": "sub_class_approved_eac_hours_code",
											"value": {
												"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.Approved_EAC_Hours_code",
												"type": "Expression"
											}
										},
										{
											"name": "sub_class_approved_eac_amount_code",
											"value": {
												"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.Approved_EAC_Amount_code",
												"type": "Expression"
											}
										},
										{
											"name": "sub_class_approved_etc_hours_code",
											"value": {
												"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.Approved_ETC_Hours_code",
												"type": "Expression"
											}
										},
										{
											"name": "sub_class_approved_etc_amount_code",
											"value": {
												"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.Approved_ETC_Amount_code",
												"type": "Expression"
											}
										},
										{
											"name": "sub_class_forecast_hours_code",
											"value": {
												"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.Forecast_Hours_code",
												"type": "Expression"
											}
										},
										{
											"name": "sub_class_forecast_amount_code",
											"value": {
												"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.Forecast_Amount_code",
												"type": "Expression"
											}
										},
										{
											"name": "sub_class_forecast_rate_code",
											"value": {
												"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.Forecast_Rate_code",
												"type": "Expression"
											}
										},
										{
											"name": "sub_class_percentage_complete_code",
											"value": {
												"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.Percentage_Complete_code",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlDWSink",
									"preCopyScript": "truncate table gpd.NCSA_MCPM_Onshore",
									"allowPolyBase": true,
									"polyBaseSettings": {
										"rejectValue": 0,
										"rejectType": "value",
										"useTypeDefault": true
									},
									"disableMetricsCollection": false
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "ADLSG2 TimeAnalytics DEV",
										"type": "LinkedServiceReference"
									},
									"path": "mdr-raw-data/Polybase_Staging_Space"
								},
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "Domain",
												"type": "String"
											},
											"sink": {
												"name": "Domain",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DomainName",
												"type": "String"
											},
											"sink": {
												"name": "DomainName",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CutOff",
												"type": "String"
											},
											"sink": {
												"name": "CutOff",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Currency",
												"type": "String"
											},
											"sink": {
												"name": "Currency",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CoA",
												"type": "String"
											},
											"sink": {
												"name": "CoA",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Title",
												"type": "String"
											},
											"sink": {
												"name": "Title",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ProgressType",
												"type": "String"
											},
											"sink": {
												"name": "ProgressType",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ContractNo",
												"type": "String"
											},
											"sink": {
												"name": "ContractNo",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "SummaryCostType",
												"type": "String"
											},
											"sink": {
												"name": "SummaryCostType",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CostType",
												"type": "String"
											},
											"sink": {
												"name": "CostType",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Unit",
												"type": "String"
											},
											"sink": {
												"name": "Unit",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "WorkArea",
												"type": "String"
											},
											"sink": {
												"name": "WorkArea",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Prime",
												"type": "String"
											},
											"sink": {
												"name": "Prime",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "SubPrime",
												"type": "String"
											},
											"sink": {
												"name": "SubPrime",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CostCode",
												"type": "String"
											},
											"sink": {
												"name": "CostCode",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Measurable",
												"type": "String"
											},
											"sink": {
												"name": "Measurable",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Phase",
												"type": "String"
											},
											"sink": {
												"name": "Phase",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PSRLevel1",
												"type": "String"
											},
											"sink": {
												"name": "PSRLevel1",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PSRLevel2",
												"type": "String"
											},
											"sink": {
												"name": "PSRLevel2",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PSRL1Description",
												"type": "String"
											},
											"sink": {
												"name": "PSRL1Description",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PSRL2Description",
												"type": "String"
											},
											"sink": {
												"name": "PSRL2Description",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "UoM",
												"type": "String"
											},
											"sink": {
												"name": "UoM",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "OBQty",
												"type": "String"
											},
											"sink": {
												"name": "OBQty",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "OBHrs",
												"type": "String"
											},
											"sink": {
												"name": "OBHrs",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "OBAmt",
												"type": "String"
											},
											"sink": {
												"name": "OBAmt",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "OBRate",
												"type": "String"
											},
											"sink": {
												"name": "OBRate",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CBQty",
												"type": "String"
											},
											"sink": {
												"name": "CBQty",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CBHrs",
												"type": "String"
											},
											"sink": {
												"name": "CBHrs",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CBAmt",
												"type": "String"
											},
											"sink": {
												"name": "CBAmt",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PBQty",
												"type": "String"
											},
											"sink": {
												"name": "PBQty",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PBHrs",
												"type": "String"
											},
											"sink": {
												"name": "PBHrs",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PBAmt",
												"type": "String"
											},
											"sink": {
												"name": "PBAmt",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ActualHrs",
												"type": "String"
											},
											"sink": {
												"name": "ActualHrs",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ActualAmt",
												"type": "String"
											},
											"sink": {
												"name": "ActualAmt",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ActualRate",
												"type": "String"
											},
											"sink": {
												"name": "ActualRate",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CommittedHrs",
												"type": "String"
											},
											"sink": {
												"name": "CommittedHrs",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CommittedAmt",
												"type": "String"
											},
											"sink": {
												"name": "CommittedAmt",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "EarnedQty",
												"type": "String"
											},
											"sink": {
												"name": "EarnedQty",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "EarnedHrs",
												"type": "String"
											},
											"sink": {
												"name": "EarnedHrs",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "EarnedAmt",
												"type": "String"
											},
											"sink": {
												"name": "EarnedAmt",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "TakeOffQty",
												"type": "String"
											},
											"sink": {
												"name": "TakeOffQty",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "TakeOffHrs",
												"type": "String"
											},
											"sink": {
												"name": "TakeOffHrs",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PctComplete",
												"type": "String"
											},
											"sink": {
												"name": "PctComplete",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "EACHrs",
												"type": "String"
											},
											"sink": {
												"name": "EACHrs",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "EACAmt",
												"type": "String"
											},
											"sink": {
												"name": "EACAmt",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ETCHrs",
												"type": "String"
											},
											"sink": {
												"name": "ETCHrs",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ETCAmt",
												"type": "String"
											},
											"sink": {
												"name": "ETCAmt",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ETCRate",
												"type": "String"
											},
											"sink": {
												"name": "ETCRate",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ApprovedEACQty",
												"type": "String"
											},
											"sink": {
												"name": "ApprovedEACQty",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ApprovedEACHrs",
												"type": "String"
											},
											"sink": {
												"name": "ApprovedEACHrs",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ApprovedEACAmt",
												"type": "String"
											},
											"sink": {
												"name": "ApprovedEACAmt",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ApprovedETCHrs",
												"type": "String"
											},
											"sink": {
												"name": "ApprovedETCHrs",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ApprovedETCAmt",
												"type": "String"
											},
											"sink": {
												"name": "ApprovedETCAmt",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ForecastHrs",
												"type": "String"
											},
											"sink": {
												"name": "ForecastHrs",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ForecastAmt",
												"type": "String"
											},
											"sink": {
												"name": "ForecastAmt",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ForecastRate",
												"type": "String"
											},
											"sink": {
												"name": "ForecastRate",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CWP_CODE",
												"type": "String"
											},
											"sink": {
												"name": "CWP_CODE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "SCHEDULE_RESOURCE_CODE",
												"type": "String"
											},
											"sink": {
												"name": "SCHEDULE_RESOURCE_CODE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ACTIVITY_CODE",
												"type": "String"
											},
											"sink": {
												"name": "ACTIVITY_CODE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "IWP_CODE",
												"type": "String"
											},
											"sink": {
												"name": "IWP_CODE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PIM_CODE",
												"type": "String"
											},
											"sink": {
												"name": "PIM_CODE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ROC_CODE",
												"type": "String"
											},
											"sink": {
												"name": "ROC_CODE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "FUNCTION_CODE",
												"type": "String"
											},
											"sink": {
												"name": "FUNCTION_CODE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "data_class_quantity_code",
												"type": "String"
											},
											"sink": {
												"name": "data_class_quantity_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "data_class_hours_code",
												"type": "String"
											},
											"sink": {
												"name": "data_class_hours_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "data_class_amount_code",
												"type": "String"
											},
											"sink": {
												"name": "data_class_amount_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "data_class_rate_code",
												"type": "String"
											},
											"sink": {
												"name": "data_class_rate_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "data_class_precentage_code",
												"type": "String"
											},
											"sink": {
												"name": "data_class_precentage_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "sub_class_original_budget_quantity_code",
												"type": "String"
											},
											"sink": {
												"name": "sub_class_original_budget_quantity_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "sub_class_original_budget_hours_code",
												"type": "String"
											},
											"sink": {
												"name": "sub_class_original_budget_hours_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "sub_class_original_budget_amount_code",
												"type": "String"
											},
											"sink": {
												"name": "sub_class_original_budget_amount_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "sub_class_original_budget_rate_code",
												"type": "String"
											},
											"sink": {
												"name": "sub_class_original_budget_rate_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "sub_class_current_budget_quantity_code",
												"type": "String"
											},
											"sink": {
												"name": "sub_class_current_budget_quantity_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "sub_class_current_budget_hours_code",
												"type": "String"
											},
											"sink": {
												"name": "sub_class_current_budget_hours_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "sub_class_current_budget_amount_code",
												"type": "String"
											},
											"sink": {
												"name": "sub_class_current_budget_amount_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "sub_class_progress_budget_quantity_code",
												"type": "String"
											},
											"sink": {
												"name": "sub_class_progress_budget_quantity_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "sub_class_progress_budget_hours_code",
												"type": "String"
											},
											"sink": {
												"name": "sub_class_progress_budget_hours_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "sub_class_progress_budget_amount_code",
												"type": "String"
											},
											"sink": {
												"name": "sub_class_progress_budget_amount_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "sub_class_estimated_completion_hours_code",
												"type": "String"
											},
											"sink": {
												"name": "sub_class_estimated_completion_hours_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "sub_class_estimated_completion_amount_code",
												"type": "String"
											},
											"sink": {
												"name": "sub_class_estimated_completion_amount_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "sub_class_estimated_take_of_completion_hours_code",
												"type": "String"
											},
											"sink": {
												"name": "sub_class_estimated_take_of_completion_hours_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "sub_class_estimated_take_of_completion_amount_code",
												"type": "String"
											},
											"sink": {
												"name": "sub_class_estimated_take_of_completion_amount_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "sub_class_estimated_take_of_completion_rate_code",
												"type": "String"
											},
											"sink": {
												"name": "sub_class_estimated_take_of_completion_rate_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "sub_class_committed_amount_code",
												"type": "String"
											},
											"sink": {
												"name": "sub_class_committed_amount_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "sub_class_committed_hours_code",
												"type": "String"
											},
											"sink": {
												"name": "sub_class_committed_hours_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "sub_class_actual_hours_code",
												"type": "String"
											},
											"sink": {
												"name": "sub_class_actual_hours_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "sub_class_actual_amount_code",
												"type": "String"
											},
											"sink": {
												"name": "sub_class_actual_amount_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "sub_class_actual_rate_code",
												"type": "String"
											},
											"sink": {
												"name": "sub_class_actual_rate_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "sub_class_earned_quantity_code",
												"type": "String"
											},
											"sink": {
												"name": "sub_class_earned_quantity_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "sub_class_earned_hours_code",
												"type": "String"
											},
											"sink": {
												"name": "sub_class_earned_hours_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "sub_class_earned_amount_code",
												"type": "String"
											},
											"sink": {
												"name": "sub_class_earned_amount_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "sub_class_take_off_quantity_code",
												"type": "String"
											},
											"sink": {
												"name": "sub_class_take_off_quantity_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "sub_class_take_off_hours_code",
												"type": "String"
											},
											"sink": {
												"name": "sub_class_take_off_hours_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "sub_class_approved_eac_quantity_code",
												"type": "String"
											},
											"sink": {
												"name": "sub_class_approved_eac_quantity_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "sub_class_approved_eac_hours_code",
												"type": "String"
											},
											"sink": {
												"name": "sub_class_approved_eac_hours_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "sub_class_approved_eac_amount_code",
												"type": "String"
											},
											"sink": {
												"name": "sub_class_approved_eac_amount_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "sub_class_approved_etc_hours_code",
												"type": "String"
											},
											"sink": {
												"name": "sub_class_approved_etc_hours_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "sub_class_approved_etc_amount_code",
												"type": "String"
											},
											"sink": {
												"name": "sub_class_approved_etc_amount_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "sub_class_forecast_hours_code",
												"type": "String"
											},
											"sink": {
												"name": "sub_class_forecast_hours_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "sub_class_forecast_amount_code",
												"type": "String"
											},
											"sink": {
												"name": "sub_class_forecast_amount_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "sub_class_forecast_rate_code",
												"type": "String"
											},
											"sink": {
												"name": "sub_class_forecast_rate_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "sub_class_percentage_complete_code",
												"type": "String"
											},
											"sink": {
												"name": "sub_class_percentage_complete_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "source_code",
												"type": "String"
											},
											"sink": {
												"name": "source_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "sub_source_code",
												"type": "String"
											},
											"sink": {
												"name": "sub_source_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "unit_of_measure_code_quantity",
												"type": "String"
											},
											"sink": {
												"name": "unit_of_measure_code_quantity",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "unit_of_measure_code_hours",
												"type": "String"
											},
											"sink": {
												"name": "unit_of_measure_code_hours",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "unit_of_measure_code_amount",
												"type": "String"
											},
											"sink": {
												"name": "unit_of_measure_code_amount",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "unit_of_measure_code_precentage",
												"type": "String"
											},
											"sink": {
												"name": "unit_of_measure_code_precentage",
												"type": "String"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "ds_adlsg2_csv_mcpm_onshore_latest_raw",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_AzureSynapseAnalytics_MCPM_Onshore_stage",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Delete Temp combined File",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "if_File_Exists_Copy_to_Synapse",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_adlsg2_csv_mcpm_onshore_latest_raw",
						"type": "DatasetReference"
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true
					}
				}
			},
			{
				"name": "Set start date",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "lkup_Get_Pipeline_parameters_getlrd",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_lrd_src_to_stage",
					"value": {
						"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.start_date",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set_current_date_time",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set start date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_current_date_time",
					"value": {
						"value": "@string(utcnow())",
						"type": "Expression"
					}
				}
			},
			{
				"name": "sp_execute_fact_validate",
				"description": "MCPM SPU call to validate prior to FACT table. ProjectID is the input parameter. ",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Delete Temp combined File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[load_NCSA_fact_MCPM_Onshore_validate]",
					"storedProcedureParameters": {
						"projectId": {
							"value": {
								"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.projectid",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Azure_Dev_SynapseAnalyticsPool",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "sp_execute_fact_load",
				"description": "MCPM SPU call to load the FACT table.  ",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "sp_execute_fact_validate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[load_NCSA_fact_MCPM_Onshore_fact_load]"
				},
				"linkedServiceName": {
					"referenceName": "Azure_Dev_SynapseAnalyticsPool",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "lkup_Get_Pipeline_parameters_getlrd",
				"description": "Use the lookup procedure to get the last run details to be used in the next steps",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "getPipelineParametersValues",
						"storedProcedureParameters": {
							"pPipelineCode": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"pPipeLineSubCode": {
								"type": "String",
								"value": "MCPM"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azure_synapse_parameter",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "sp_Update_Parameter",
				"description": "Update the appropriate parameter in the parameter table",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "sp_execute_fact_load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[updateIncrementPipelineParameterValue]",
					"storedProcedureParameters": {
						"pParameterValue": {
							"value": {
								"value": "@formatDateTime(variables('v_current_date_time'),'yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							},
							"type": "String"
						},
						"pPipelineCode": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"pPipelineSubCode": {
							"value": "MCPM",
							"type": "String"
						},
						"pParameterCode": {
							"value": "start_date",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Azure_Dev_SynapseAnalyticsPool",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"v_lrd_src_to_stage": {
				"type": "String"
			},
			"v_current_date_time": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Projects/NCSA/MCPM"
		},
		"annotations": [],
		"lastPublishTime": "2023-01-30T08:27:07Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}