pipeline/pl_mcpmdata_offshore_weekly_raw_to_synapse.json
{
	"name": "pl_mcpmdata_offshore_weekly_raw_to_synapse",
	"properties": {
		"activities": [
			{
				"name": "cp_Get_Latest_File",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set_current_date_time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": {
								"value": "@variables('v_lrd_src_to_stage')",
								"type": "Expression"
							},
							"wildcardFolderPath": "Project_Data/NCSA/MCPM/MCPM_offshore_weekly/*/*/*",
							"wildcardFileName": "MCPM_offshorewk_*.csv"
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "MergeFiles"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Domain",
									"type": "String"
								},
								"sink": {
									"name": "Domain",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "KeyUoM",
									"type": "String"
								},
								"sink": {
									"name": "KeyUoM",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CoA",
									"type": "String"
								},
								"sink": {
									"name": "CoA",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ActivityCode",
									"type": "String"
								},
								"sink": {
									"name": "ActivityCode",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "EarnedQty",
									"type": "String"
								},
								"sink": {
									"name": "EarnedQty",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "EarnedHrs",
									"type": "String"
								},
								"sink": {
									"name": "EarnedHrs",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PrevEarnedQty",
									"type": "String"
								},
								"sink": {
									"name": "PrevEarnedQty",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PrevEarnedHrs",
									"type": "String"
								},
								"sink": {
									"name": "PrevEarnedHrs",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "VarianceEarnedQty",
									"type": "String"
								},
								"sink": {
									"name": "VarianceEarnedQty",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "VarianceEarnedHrs",
									"type": "String"
								},
								"sink": {
									"name": "VarianceEarnedHrs",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "TakeOffQty",
									"type": "String"
								},
								"sink": {
									"name": "TakeOffQty",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "TakeOffHrs",
									"type": "String"
								},
								"sink": {
									"name": "TakeOffHrs",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ProgressBaseQty",
									"type": "String"
								},
								"sink": {
									"name": "ProgressBaseQty",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ProgressBaseHrs",
									"type": "String"
								},
								"sink": {
									"name": "ProgressBaseHrs",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ProgressBaseAmt",
									"type": "String"
								},
								"sink": {
									"name": "ProgressBaseAmt",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ActualHrs",
									"type": "String"
								},
								"sink": {
									"name": "ActualHrs",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ActualAmt",
									"type": "String"
								},
								"sink": {
									"name": "ActualAmt",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Phase",
									"type": "String"
								},
								"sink": {
									"name": "Phase",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Prime",
									"type": "String"
								},
								"sink": {
									"name": "Prime",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "SubPrime",
									"type": "String"
								},
								"sink": {
									"name": "SubPrime",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CostCode",
									"type": "String"
								},
								"sink": {
									"name": "CostCode",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Contract",
									"type": "String"
								},
								"sink": {
									"name": "Contract",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "UNIT",
									"type": "String"
								},
								"sink": {
									"name": "UNIT",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "WorkArea",
									"type": "String"
								},
								"sink": {
									"name": "WorkArea",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "SummaryCostType",
									"type": "String"
								},
								"sink": {
									"name": "SummaryCostType",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CostType",
									"type": "String"
								},
								"sink": {
									"name": "CostType",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PSRLevel1",
									"type": "String"
								},
								"sink": {
									"name": "PSRLevel1",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PSRLevel2",
									"type": "String"
								},
								"sink": {
									"name": "PSRLevel2",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PSRL1DESC",
									"type": "String"
								},
								"sink": {
									"name": "PSRL1DESC",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PSRL2DESC",
									"type": "String"
								},
								"sink": {
									"name": "PSRL2DESC",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OriginalHrs",
									"type": "String"
								},
								"sink": {
									"name": "OriginalHrs",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OriginalQty",
									"type": "String"
								},
								"sink": {
									"name": "OriginalQty",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OriginalAmt",
									"type": "String"
								},
								"sink": {
									"name": "OriginalAmt",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Cutoff",
									"type": "String"
								},
								"sink": {
									"name": "Cutoff",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "VarianceActualHrs",
									"type": "String"
								},
								"sink": {
									"name": "VarianceActualHrs",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "VarianceActualAmt",
									"type": "String"
								},
								"sink": {
									"name": "VarianceActualAmt",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CoaDesc",
									"type": "String"
								},
								"sink": {
									"name": "CoaDesc",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "ds_adlsg2_mcpm_offshore_week_raw",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adlsg2_MCPM_offshore_week_latest_raw",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Check Combined File non zero Bytes",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "cp_Get_Latest_File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_adlsg2_MCPM_offshore_week_latest_raw",
						"type": "DatasetReference"
					},
					"fieldList": [
						"size",
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "if_File_Exists_Copy_to_Synapse",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Check Combined File non zero Bytes",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Check Combined File non zero Bytes').output.Size, 2)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy Latest Data To Synapse Stage Table",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "cwp_code",
											"value": "ZZZ"
										},
										{
											"name": "schedule_resource_code",
											"value": "ZZZ"
										},
										{
											"name": "iwp_code",
											"value": "ZZZ"
										},
										{
											"name": "pim_code",
											"value": "ZZZ"
										},
										{
											"name": "roc_code",
											"value": "ZZZ"
										},
										{
											"name": "function_code",
											"value": "CON"
										},
										{
											"name": "source_code",
											"value": "SYSTEM"
										},
										{
											"name": "sub_source_code",
											"value": "MCPM Offshore"
										},
										{
											"name": "sub_class_earned_variance_quantity_code",
											"value": "Progress Module Variance Earned Quantity"
										},
										{
											"name": "sub_class_earned_variance_hours_code",
											"value": "Progress Module Variance Earned Hours"
										},
										{
											"name": "unit_of_measure_code_quantity",
											"value": "Quantity"
										},
										{
											"name": "unit_of_measure_code_hours",
											"value": "Hours"
										},
										{
											"name": "data_class_quantity_code",
											"value": "Quantity"
										},
										{
											"name": "data_class_hours_code",
											"value": "TIME"
										},
										{
											"name": "sub_class_earned_quantity_code",
											"value": "Progress Module Earned Quantity"
										},
										{
											"name": "sub_class_earned_hours_code",
											"value": "Progress Module Earned Hours"
										},
										{
											"name": "data_class_amount_code",
											"value": "Amount"
										},
										{
											"name": "unit_of_measure_code_amount",
											"value": "Amount"
										},
										{
											"name": "sub_class_variance_actual_amount_code",
											"value": "Progress Module Variance Actual Amount"
										},
										{
											"name": "sub_class_variance_actual_hours_code",
											"value": "Progress Module Variance Actual Hours"
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlDWSink",
									"preCopyScript": "truncate table gpd.NCSA_MCPM_weekly_offshore",
									"allowPolyBase": true,
									"polyBaseSettings": {
										"rejectValue": 0,
										"rejectType": "value",
										"useTypeDefault": false
									},
									"disableMetricsCollection": false
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "ADLSG2 TimeAnalytics DEV",
										"type": "LinkedServiceReference"
									},
									"path": "mdr-raw-data/Polybase_Staging_Space"
								},
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "Domain",
												"type": "String"
											},
											"sink": {
												"name": "Domain",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "KeyUoM",
												"type": "String"
											},
											"sink": {
												"name": "KeyUoM",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Cutoff",
												"type": "String"
											},
											"sink": {
												"name": "CutOff",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CoA",
												"type": "String"
											},
											"sink": {
												"name": "CoA",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "EarnedQty",
												"type": "String"
											},
											"sink": {
												"name": "EarnedQty",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "EarnedHrs",
												"type": "String"
											},
											"sink": {
												"name": "EarnedHrs",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PrevEarnedQty",
												"type": "String"
											},
											"sink": {
												"name": "PrevEarnedQty",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PrevEarnedHrs",
												"type": "String"
											},
											"sink": {
												"name": "PrevEarnedHrs",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "VarianceEarnedQty",
												"type": "String"
											},
											"sink": {
												"name": "VarianceEarnedQty",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "VarianceEarnedHrs",
												"type": "String"
											},
											"sink": {
												"name": "VarianceEarnedHrs",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "TakeOffQty",
												"type": "String"
											},
											"sink": {
												"name": "TakeOffQty",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "TakeOffHrs",
												"type": "String"
											},
											"sink": {
												"name": "TakeOffHrs",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ProgressBaseQty",
												"type": "String"
											},
											"sink": {
												"name": "ProgressBaseQty",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ProgressBaseHrs",
												"type": "String"
											},
											"sink": {
												"name": "ProgressBaseHrs",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ProgressBaseAmt",
												"type": "String"
											},
											"sink": {
												"name": "ProgressBaseAmt",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ActualHrs",
												"type": "String"
											},
											"sink": {
												"name": "ActualHrs",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ActualAmt",
												"type": "String"
											},
											"sink": {
												"name": "ActualAmt",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "VarianceActualHrs",
												"type": "String"
											},
											"sink": {
												"name": "VarianceActualHrs",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "VarianceActualAmt",
												"type": "String"
											},
											"sink": {
												"name": "VarianceActualAmt",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Phase",
												"type": "String"
											},
											"sink": {
												"name": "Phase",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Prime",
												"type": "String"
											},
											"sink": {
												"name": "Prime",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "SubPrime",
												"type": "String"
											},
											"sink": {
												"name": "SubPrime",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CostCode",
												"type": "String"
											},
											"sink": {
												"name": "CostCode",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Contract",
												"type": "String"
											},
											"sink": {
												"name": "Contract",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "WorkArea",
												"type": "String"
											},
											"sink": {
												"name": "WorkArea",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "SummaryCostType",
												"type": "String"
											},
											"sink": {
												"name": "SummaryCostType",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CostType",
												"type": "String"
											},
											"sink": {
												"name": "CostType",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "OriginalHrs",
												"type": "String"
											},
											"sink": {
												"name": "OriginalHrs",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "OriginalQty",
												"type": "String"
											},
											"sink": {
												"name": "OriginalQty",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "OriginalAmt",
												"type": "String"
											},
											"sink": {
												"name": "OriginalAmt",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "cwp_code",
												"type": "String"
											},
											"sink": {
												"name": "cwp_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "schedule_resource_code",
												"type": "String"
											},
											"sink": {
												"name": "schedule_resource_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ActivityCode",
												"type": "String"
											},
											"sink": {
												"name": "activity_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "iwp_code",
												"type": "String"
											},
											"sink": {
												"name": "iwp_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "pim_code",
												"type": "String"
											},
											"sink": {
												"name": "pim_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "roc_code",
												"type": "String"
											},
											"sink": {
												"name": "roc_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "function_code",
												"type": "String"
											},
											"sink": {
												"name": "function_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "source_code",
												"type": "String"
											},
											"sink": {
												"name": "source_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "sub_source_code",
												"type": "String"
											},
											"sink": {
												"name": "sub_source_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "unit_of_measure_code_quantity",
												"type": "String"
											},
											"sink": {
												"name": "unit_of_measure_code_quantity",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "unit_of_measure_code_hours",
												"type": "String"
											},
											"sink": {
												"name": "unit_of_measure_code_hours",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "data_class_quantity_code",
												"type": "String"
											},
											"sink": {
												"name": "data_class_quantity_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "data_class_hours_code",
												"type": "String"
											},
											"sink": {
												"name": "data_class_hours_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "sub_class_earned_variance_quantity_code",
												"type": "String"
											},
											"sink": {
												"name": "sub_class_earned_variance_quantity_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "sub_class_earned_variance_hours_code",
												"type": "String"
											},
											"sink": {
												"name": "sub_class_earned_variance_hours_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "sub_class_earned_quantity_code",
												"type": "String"
											},
											"sink": {
												"name": "sub_class_earned_quantity_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "sub_class_earned_hours_code",
												"type": "String"
											},
											"sink": {
												"name": "sub_class_earned_hours_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "data_class_amount_code",
												"type": "String"
											},
											"sink": {
												"name": "data_class_amount_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "unit_of_measure_code_amount",
												"type": "String"
											},
											"sink": {
												"name": "unit_of_measure_code_amount",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "sub_class_variance_actual_amount_code",
												"type": "String"
											},
											"sink": {
												"name": "sub_class_variance_actual_amount_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "sub_class_variance_actual_hours_code",
												"type": "String"
											},
											"sink": {
												"name": "sub_class_variance_actual_hours_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "UNIT",
												"type": "String"
											},
											"sink": {
												"name": "Unit",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PSRLevel1",
												"type": "String"
											},
											"sink": {
												"name": "PSRLevel1",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PSRLevel2",
												"type": "String"
											},
											"sink": {
												"name": "PSRLevel2",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PSRL1DESC",
												"type": "String"
											},
											"sink": {
												"name": "PSRL1Description",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PSRL2DESC",
												"type": "String"
											},
											"sink": {
												"name": "PSRL2Description",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CoaDesc",
												"type": "String"
											},
											"sink": {
												"name": "coadesc"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "ds_adlsg2_MCPM_offshore_week_latest_raw",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_AzureSynapseAnalytics_mcpm_weekly_offshore",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Delete Temp combined File",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "if_File_Exists_Copy_to_Synapse",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_adlsg2_MCPM_offshore_week_latest_raw",
						"type": "DatasetReference"
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true
					}
				}
			},
			{
				"name": "lkup_Get_Pipeline_parameters_getlrd",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "getPipelineParametersValues",
						"storedProcedureParameters": {
							"pPipelineCode": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"pPipeLineSubCode": {
								"type": "String",
								"value": "MCPM"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azure_synapse_parameter",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set start date",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "lkup_Get_Pipeline_parameters_getlrd",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_lrd_src_to_stage",
					"value": {
						"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.last_run_start_date",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set_current_date_time",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set start date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_current_date_time",
					"value": {
						"value": "@string(utcnow())",
						"type": "Expression"
					}
				}
			},
			{
				"name": "sp_execute_final_fact_load_validate",
				"description": "MCPM Weekly Offshore -fact load validate",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Delete Temp combined File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[load_NCSA_fact_MCPM_weekly_offshore_validate]"
				},
				"linkedServiceName": {
					"referenceName": "Azure_Dev_SynapseAnalyticsPool",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "sp_execute_final_fact_load",
				"description": "MCPM Weekly Offshore-fact load",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "sp_execute_final_fact_load_validate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[load_NCSA_fact_MCPM_weekly_offshore_fact_load]"
				},
				"linkedServiceName": {
					"referenceName": "Azure_Dev_SynapseAnalyticsPool",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SP Update Control Table Start Date",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "sp_execute_final_fact_load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[updateIncrementPipelineParameterValue]",
					"storedProcedureParameters": {
						"pParameterCode": {
							"value": "last_run_start_date",
							"type": "String"
						},
						"pParameterValue": {
							"value": {
								"value": "@formatDateTime(variables('v_current_date_time'),'yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							},
							"type": "String"
						},
						"pPipelineCode": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"pPipelineSubCode": {
							"value": "MCPM",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Azure_Dev_SynapseAnalyticsPool",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"v_lrd_src_to_stage": {
				"type": "String"
			},
			"v_current_date_time": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Projects/NCSA/MCPM Progress Items/MCPM Offshore Weekly"
		},
		"annotations": [],
		"lastPublishTime": "2023-01-05T05:46:58Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}