pipeline/pl_maps_qualification_master_pipeline.json
{
	"name": "pl_maps_qualification_master_pipeline",
	"properties": {
		"activities": [
			{
				"name": "Source to Stage",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "lk_get_pipeline_parameters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_maps_qualification_source_to_stage",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Stage to Raw",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Source to Stage",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_maps_qualification_stage_to_raw",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Raw to Synapse",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Stage to Raw",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_maps_qualification_raw_to_synapse",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "lk_get_pipeline_parameters",
				"description": "Get the parameters to be used in this pipeline",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "getPipelineParametersValues",
						"storedProcedureParameters": {
							"pPipelineCode": {
								"type": "String",
								"value": "pl_ncsa_master_pipelines"
							},
							"pPipeLineSubCode": {
								"type": "String",
								"value": "EMAIL"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azure_synapse_parameter",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Append SRC to STG Error",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "Source to Stage",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_error_message",
					"value": {
						"value": "@concat('Source to Stage Failure: ',\nactivity('Source To Stage').error.message,'|',\nactivity('Source To Stage').output.pipelineName,'|',\nactivity('Source To Stage').output.pipelineRunId,'|')\n\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Append STG to RAW Error",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "Stage to Raw",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_error_message",
					"value": {
						"value": "@concat('Stage to Raw Failure: ',\nactivity('Stage to Raw').error.message ,'|',\nactivity('Stage to Raw').output.pipelineName,'|',\nactivity('Stage to Raw').output.pipelineRunId,'|')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Append RAW to SYN",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "Raw to Synapse",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_error_message",
					"value": {
						"value": "@concat('Raw to Synapse Failure: ',\nactivity('Raw to Synapse').error.message ,'|',\nactivity('Raw to Synapse').output.pipelineName,'|',\nactivity('Raw to Synapse').output.pipelineRunId,'|')\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ADF_Log",
				"description": "SPU to log the details of the Pipeline run",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Raw to Synapse",
						"dependencyConditions": [
							"Completed",
							"Skipped"
						]
					},
					{
						"activity": "Append RAW to SYN",
						"dependencyConditions": [
							"Completed",
							"Skipped"
						]
					}
				],
				"policy": {
					"timeout": "0.07:00:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_InsertADFLogs]",
					"storedProcedureParameters": {
						"DataFactoryName": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"Error_pipeline_name": {
							"value": {
								"value": "@if(empty(variables('v_error_message')),\nconcat(activity('Source To Stage').output.pipelineName,';',\nactivity('Stage to Raw').output.pipelineName,';',\nactivity('Raw to Synapse').output.pipelineName)\n,split(join(variables('v_error_message'),';'),'|' )[1])",
								"type": "Expression"
							},
							"type": "String"
						},
						"Error_pipeline_runid": {
							"value": {
								"value": "@if(empty(variables('v_error_message')),NULL,split(join(variables('v_error_message'),';'),'|' )[2])",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorMessage": {
							"value": {
								"value": "@if(empty(variables('v_error_message')),NULL,split(join(variables('v_error_message'),';'),'|' )[0])",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"runid": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"status": {
							"value": {
								"value": "@if(empty(variables('v_error_message')),'Success','Failed')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Azure_Dev_SynapseAnalyticsPool",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "If failure detected send mail",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "ADF_Log",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@if(empty(variables('v_error_message')),false,true)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Send Email On Failure",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "1.00:00:00",
								"retry": 1,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "POST",
								"headers": {
									"Content-Type": "application/json"
								},
								"url": "https://prod-31.eastus.logic.azure.com:443/workflows/03d7da5abbab4215a05aeaceae3b96fa/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=asuyutHtoSxGFURsj1-A6AKRiNLdXZ4mTnZvZ17_8hI",
								"connectVia": {
									"referenceName": "integrationRuntimeEast2",
									"type": "IntegrationRuntimeReference"
								},
								"body": {
									"value": "{\n    \"DataFactoryName\": \"@{pipeline().DataFactory}\",\n    \"PipelineName\": \"@{pipeline().Pipeline}\",\n    \"ErrorMessage\": \"@{replace(replace(join(variables('v_error_message'),';'),'\"',''),'\\','/')}\",\n\"EmailTo\": \"@{activity('lk_get_pipeline_parameters').output.firstRow.ncsa_master_pipeline_email_to}\",\n    \"Activity\":  \"@{if(empty(variables('v_error_message')),'',split(join(variables('v_error_message'),';'),'|' )[1])}\"\n}",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"v_error_message": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "Projects/NCSA/FAB Automation/MAPS/Qualification"
		},
		"annotations": [],
		"lastPublishTime": "2023-04-12T05:22:17Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}