pipeline/pl_milestone_scm_excel_raw_to_syn.json
{
	"name": "pl_milestone_scm_excel_raw_to_syn",
	"properties": {
		"description": "Pipeline to load the data from RAW CSV file(s) into Synapse Stage table.",
		"activities": [
			{
				"name": "lk_get_pipeline_parameters",
				"description": "Use the lookup procedure to get the last run details to be used in the next steps",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "getPipelineParametersValues",
						"storedProcedureParameters": {
							"pPipelineCode": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.p_pl_pipelineCode",
									"type": "Expression"
								}
							},
							"pPipeLineSubCode": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.p_pl_pipelineSubCode",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azure_synapse_parameter",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set start date",
				"description": "Set the last stage run date to the variable as start date.",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "lk_get_pipeline_parameters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_lastrundate",
					"value": {
						"value": "@formatDateTime(activity('lk_get_pipeline_parameters').output.firstRow.last_run_start_date,'yyyy-MM-dd HH:mm:ss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "cp_RAW_CSV_to_latest",
				"description": "Copy the RAW CSV file(s) into the one latest file",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set start date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": {
								"value": "@variables('v_lastrundate')",
								"type": "Expression"
							},
							"wildcardFolderPath": {
								"value": "@concat(activity('lk_get_pipeline_parameters').output.firstRow.folder_path,'/*/*/*')",
								"type": "Expression"
							},
							"wildcardFileName": {
								"value": "@concat(activity('lk_get_pipeline_parameters').output.firstRow.file_name,'*.csv')",
								"type": "Expression"
							},
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_adlsg2_csv_parameter_generic",
						"type": "DatasetReference",
						"parameters": {
							"p_ds_filename": {
								"value": "@concat(activity('lk_get_pipeline_parameters').output.firstRow.file_name,'*.csv')",
								"type": "Expression"
							},
							"p_ds_folderpath": {
								"value": "@concat(activity('lk_get_pipeline_parameters').output.firstRow.folder_path,'/*/*/*')",
								"type": "Expression"
							},
							"p_ds_first_row_header": true,
							"p_ds_filesystem": "mdr-raw-data"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adlsg2_csv_milestone_SCM_raw_ltst_file",
						"type": "DatasetReference",
						"parameters": {
							"p_ds_path": {
								"value": "@activity('lk_get_pipeline_parameters').output.firstRow.folder_path",
								"type": "Expression"
							},
							"p_ds_file": {
								"value": "@activity('lk_get_pipeline_parameters').output.firstRow.file_name",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "sp_Update_Parameter",
				"description": "Update the stg_raw date last_run_start_date ,  in the plp parameters.",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "sp_generic_procedure_dim_entp_milestone",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[updateIncrementPipelineParameterValue]",
					"storedProcedureParameters": {
						"pParameterValue": {
							"value": {
								"value": "@formatDateTime(utcnow(),'yyyy-MM-dd HH:mm:ss.fff')",
								"type": "Expression"
							},
							"type": "String"
						},
						"pPipelineCode": {
							"value": {
								"value": "@pipeline().parameters.p_pl_pipelineCode",
								"type": "Expression"
							},
							"type": "String"
						},
						"pPipelineSubCode": {
							"value": {
								"value": "@pipeline().parameters.p_pl_pipelineSubCode",
								"type": "Expression"
							},
							"type": "String"
						},
						"pParameterCode": {
							"value": "last_run_start_date",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSynapseDB_DEV",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Check Combined File non zero Bytes",
				"description": "Check if the combined file has any data to be loaded.",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "cp_RAW_CSV_to_latest",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_adlsg2_csv_milestone_SCM_raw_ltst_file",
						"type": "DatasetReference",
						"parameters": {
							"p_ds_path": {
								"value": "@activity('lk_get_pipeline_parameters').output.firstRow.folder_path",
								"type": "Expression"
							},
							"p_ds_file": {
								"value": "@activity('lk_get_pipeline_parameters').output.firstRow.file_name",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"size",
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "if_File_Exists_Copy_to_Synapse",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Check Combined File non zero Bytes",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Check Combined File non zero Bytes').output.size, 2)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy Latest Data To Synapse Stage Table",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "1.00:00:00",
								"retry": 1,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "Source",
											"value": {
												"value": "@activity('lk_get_pipeline_parameters').output.firstRow.file_name",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlDWSink",
									"preCopyScript": {
										"value": "@{concat('DELETE from [gpd].[NCSA_excel_milestone] WHERE Source = ''',activity('lk_get_pipeline_parameters').output.firstRow.file_name,'''')}",
										"type": "Expression"
									},
									"allowPolyBase": true,
									"polyBaseSettings": {
										"rejectValue": 0,
										"rejectType": "value",
										"useTypeDefault": false
									},
									"disableMetricsCollection": false
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "ADLSG2 TimeAnalytics DEV",
										"type": "LinkedServiceReference"
									},
									"path": "mdr-raw-data/Polybase_Staging_Space"
								},
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "Contract Number",
												"type": "String"
											},
											"sink": {
												"name": "Contract",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Sort Order",
												"type": "String"
											},
											"sink": {
												"name": "Sort_Order",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Standard Milestones",
												"type": "String"
											},
											"sink": {
												"name": "Milestone",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Project Milestones",
												"type": "String"
											},
											"sink": {
												"name": "Milestone_Name",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Category",
												"type": "String"
											},
											"sink": {
												"name": "Category",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Weighting",
												"type": "String"
											},
											"sink": {
												"name": "Weighting",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Weighting Type",
												"type": "String"
											},
											"sink": {
												"name": "Weighting_Type",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Source",
												"type": "String"
											},
											"sink": {
												"name": "Source",
												"type": "String"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "ds_adlsg2_csv_milestone_SCM_raw_ltst_file",
									"type": "DatasetReference",
									"parameters": {
										"p_ds_path": {
											"value": "@activity('lk_get_pipeline_parameters').output.firstRow.folder_path",
											"type": "Expression"
										},
										"p_ds_file": {
											"value": "@activity('lk_get_pipeline_parameters').output.firstRow.file_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_AzureSynapseAnalytics_milestone_SCM",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Cleanup_Script",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Copy Latest Data To Synapse Stage Table",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "1.00:00:00",
								"retry": 1,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "linkedservice_DEV_entanalytics_synapse",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "NonQuery",
										"text": {
											"value": "@{concat('DELETE from [gpd].[NCSA_excel_milestone] WHERE Milestone IS NULL AND Source = ''',activity('lk_get_pipeline_parameters').output.firstRow.file_name,'''')}",
											"type": "Expression"
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Delete Temp combined File",
				"description": "After the data has been loaded, clear the combined file from the ADLSV2 ",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "if_File_Exists_Copy_to_Synapse",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_adlsg2_csv_milestone_SCM_raw_ltst_file",
						"type": "DatasetReference",
						"parameters": {
							"p_ds_path": {
								"value": "@activity('lk_get_pipeline_parameters').output.firstRow.folder_path",
								"type": "Expression"
							},
							"p_ds_file": {
								"value": "@activity('lk_get_pipeline_parameters').output.firstRow.file_name",
								"type": "Expression"
							}
						}
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true
					}
				}
			},
			{
				"name": "sp_generic_procedure_dim_entp_milestone",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Delete Temp combined File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[generic_load_dim_v2]",
					"storedProcedureParameters": {
						"debug_flag": {
							"value": "N",
							"type": "String"
						},
						"execute_flag": {
							"value": "Y",
							"type": "String"
						},
						"load_name": {
							"value": "dim_entp_milestone_excel",
							"type": "String"
						},
						"rkValidationRequired": {
							"value": "Y",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Azure_Dev_SynapseAnalyticsPool",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"p_pl_pipelineCode": {
				"type": "string",
				"defaultValue": "pl_milestone_scm_excel_master_pipeline"
			},
			"p_pl_pipelineSubCode": {
				"type": "string"
			}
		},
		"variables": {
			"v_lastrundate": {
				"type": "String",
				"defaultValue": "'2021-10-04 12:36:58.280'"
			}
		},
		"folder": {
			"name": "Projects/NCSA/SCM/Global Procurement Status/Milestone SCM"
		},
		"annotations": [],
		"lastPublishTime": "2022-08-12T05:23:48Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}