pipeline/pl_milestone_scm_excel_source_to_stage.json
{
	"name": "pl_milestone_scm_excel_source_to_stage",
	"properties": {
		"description": "milestone Src_stg pipeline that consume Excel file source into CSV at stg container",
		"activities": [
			{
				"name": "cp_copy_from_network_to_blob",
				"description": "Copy from File Network to Block  Container (stage)",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "lk_get_pipeline_parameters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.07:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "FileServerReadSettings",
							"recursive": false,
							"fileFilter": {
								"value": "@{activity('lk_get_pipeline_parameters').output.firstRow.input_file_name}",
								"type": "Expression"
							}
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "MergeFiles"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_filesystem_milestone_excel_ncsa",
						"type": "DatasetReference",
						"parameters": {
							"path": {
								"value": "@activity('lk_get_pipeline_parameters').output.firstRow.source_directory",
								"type": "Expression"
							},
							"file": {
								"value": "@activity('lk_get_pipeline_parameters').output.firstRow.input_file_name",
								"type": "Expression"
							},
							"sheet": {
								"value": "@activity('lk_get_pipeline_parameters').output.firstRow.excel_sheet_name",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adlsg2_csv_generic",
						"type": "DatasetReference",
						"parameters": {
							"p_ds_filesystem": {
								"value": "@activity('lk_get_pipeline_parameters').output.firstRow.file_system",
								"type": "Expression"
							},
							"p_ds_directory": {
								"value": "@activity('lk_get_pipeline_parameters').output.firstRow.folder_path",
								"type": "Expression"
							},
							"p_ds_filename": {
								"value": "@concat(activity('lk_get_pipeline_parameters').output.firstRow.file_name,'.csv')",
								"type": "Expression"
							},
							"p_ds_first_row_header": true
						}
					}
				]
			},
			{
				"name": "lk_get_pipeline_parameters",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "getPipelineParametersValues",
						"storedProcedureParameters": {
							"pPipelineCode": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.p_pl_pipelineCode",
									"type": "Expression"
								}
							},
							"pPipeLineSubCode": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.p_pl_pipelineSubCode",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azure_synapse_parameter",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SP Update Control Table Last Run Date",
				"description": "Update the Start_date for the pipeline  parameters",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "cp_copy_from_network_to_blob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[updateIncrementPipelineParameterValue]",
					"storedProcedureParameters": {
						"pParameterCode": {
							"value": "start_date",
							"type": "String"
						},
						"pParameterValue": {
							"value": {
								"value": "@formatDateTime(activity('lk_get_pipeline_parameters').output.firstRow.run_start_datetime,'yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							},
							"type": "String"
						},
						"pPipelineCode": {
							"value": {
								"value": "@pipeline().parameters.p_pl_pipelineCode",
								"type": "Expression"
							},
							"type": "String"
						},
						"pPipelineSubCode": {
							"value": {
								"value": "@pipeline().parameters.p_pl_pipelineSubCode",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "linkedservice_DEV_entanalytics_synapse",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "if_StgFile_has_zero_records",
				"description": "Check the output of the copy activity is zero records. If yes then stop/fail the flow.",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "cp_copy_from_network_to_blob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('cp_copy_from_network_to_blob').output.rowsCopied,0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Fail_zero_records",
							"description": "Fail parent Pipeline for zero records",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "@concat('Error: The Stage CSV file  [',activity('lk_get_pipeline_parameters').output.firstRow.file_name,'.CSV] has ZERO records written on to it. Stopping the workflow from proceeding further. Please check the logs and source file(s) for inconsistencies.')",
									"type": "Expression"
								},
								"errorCode": "501"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"p_pl_pipelineCode": {
				"type": "string",
				"defaultValue": "pl_milestone_scm_excel_master_pipeline"
			},
			"p_pl_pipelineSubCode": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Projects/NCSA/SCM/Global Procurement Status/Milestone SCM"
		},
		"annotations": [],
		"lastPublishTime": "2022-08-12T05:23:48Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}