pipeline/pl_progress_sitepro_raw_to_synapse_stage.json
{
	"name": "pl_progress_sitepro_raw_to_synapse_stage",
	"properties": {
		"activities": [
			{
				"name": "cp_Get_Latest_File",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set_current_date_time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": {
								"value": "@variables('v_lrd_src_to_stage')",
								"type": "Expression"
							},
							"wildcardFolderPath": "Project_Data/NCSA/SitePro/SiteproProgress/*/*/*",
							"wildcardFileName": "Sitepro_Progress*.csv"
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "MergeFiles"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "project_number",
									"type": "String"
								},
								"sink": {
									"name": "project_number",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "function_code",
									"type": "String"
								},
								"sink": {
									"name": "function_code",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "source_name",
									"type": "String"
								},
								"sink": {
									"name": "source_name",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "sub_source_name",
									"type": "String"
								},
								"sink": {
									"name": "sub_source_name",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "data_class_budget_name",
									"type": "String"
								},
								"sink": {
									"name": "data_class_budget_name",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "data_class_Progress_name",
									"type": "String"
								},
								"sink": {
									"name": "data_class_Progress_name",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "data_class_percentage_code",
									"type": "String"
								},
								"sink": {
									"name": "data_class_percentage_code",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "data_class_quantity_name",
									"type": "String"
								},
								"sink": {
									"name": "data_class_quantity_name",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "data_class_time_name",
									"type": "String"
								},
								"sink": {
									"name": "data_class_time_name",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "sub_class_budget_hours_name",
									"type": "String"
								},
								"sink": {
									"name": "sub_class_budget_hours_name",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "sub_class_budget_quantity_name",
									"type": "String"
								},
								"sink": {
									"name": "sub_class_budget_quantity_name",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "sub_class_progress_hours_name",
									"type": "String"
								},
								"sink": {
									"name": "sub_class_progress_hours_name",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "sub_class_progress_quantity_name",
									"type": "String"
								},
								"sink": {
									"name": "sub_class_progress_quantity_name",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "sub_class_progress_installed_quantity_name",
									"type": "String"
								},
								"sink": {
									"name": "sub_class_progress_installed_quantity_name",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "sub_class_percentage_code",
									"type": "String"
								},
								"sink": {
									"name": "sub_class_percentage_code",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "unit_of_measure_Hours",
									"type": "String"
								},
								"sink": {
									"name": "unit_of_measure_Hours",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "unit_of_measure_Quantity",
									"type": "String"
								},
								"sink": {
									"name": "unit_of_measure_Quantity",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "unit_of_measure_code_percentage",
									"type": "String"
								},
								"sink": {
									"name": "unit_of_measure_code_percentage",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "phase_code",
									"type": "String"
								},
								"sink": {
									"name": "phase_code",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "schedule_resource_code",
									"type": "String"
								},
								"sink": {
									"name": "schedule_resource_code",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "work_unit_code",
									"type": "String"
								},
								"sink": {
									"name": "work_unit_code",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "work_area_code",
									"type": "String"
								},
								"sink": {
									"name": "work_area_code",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "activity_code",
									"type": "String"
								},
								"sink": {
									"name": "activity_code",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CWP_Code",
									"type": "String"
								},
								"sink": {
									"name": "CWP_Code",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "IWP_Code",
									"type": "String"
								},
								"sink": {
									"name": "IWP_Code",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "IWP_Status_Code",
									"type": "String"
								},
								"sink": {
									"name": "IWP_Status_Code",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "IWP_StatusDescription",
									"type": "String"
								},
								"sink": {
									"name": "IWP_StatusDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PMID",
									"type": "String"
								},
								"sink": {
									"name": "PMID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PMID_Description",
									"type": "String"
								},
								"sink": {
									"name": "PMID_Description",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Contract",
									"type": "String"
								},
								"sink": {
									"name": "Contract",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Cost_Code",
									"type": "String"
								},
								"sink": {
									"name": "Cost_Code",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Cost_Code_Description",
									"type": "String"
								},
								"sink": {
									"name": "Cost_Code_Description",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Costing_COA",
									"type": "String"
								},
								"sink": {
									"name": "Costing_COA",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Drawing_No",
									"type": "String"
								},
								"sink": {
									"name": "Drawing_No",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Tag_No",
									"type": "String"
								},
								"sink": {
									"name": "Tag_No",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "spool",
									"type": "String"
								},
								"sink": {
									"name": "spool",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "line",
									"type": "String"
								},
								"sink": {
									"name": "line",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "spec",
									"type": "String"
								},
								"sink": {
									"name": "spec",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "system",
									"type": "String"
								},
								"sink": {
									"name": "system",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Piece_Mark",
									"type": "String"
								},
								"sink": {
									"name": "Piece_Mark",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Cost_Type",
									"type": "String"
								},
								"sink": {
									"name": "Cost_Type",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Number_Of_Pieces",
									"type": "String"
								},
								"sink": {
									"name": "Number_Of_Pieces",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Subsystem",
									"type": "String"
								},
								"sink": {
									"name": "Subsystem",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "text5",
									"type": "String"
								},
								"sink": {
									"name": "text5",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Bom_Node_ID",
									"type": "String"
								},
								"sink": {
									"name": "Bom_Node_ID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Doc_ID",
									"type": "String"
								},
								"sink": {
									"name": "Doc_ID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Staging_Reference",
									"type": "String"
								},
								"sink": {
									"name": "Staging_Reference",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Level6",
									"type": "String"
								},
								"sink": {
									"name": "Level6",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "planned_Status",
									"type": "String"
								},
								"sink": {
									"name": "planned_Status",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "progress_Status",
									"type": "String"
								},
								"sink": {
									"name": "progress_Status",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "workpack_status",
									"type": "String"
								},
								"sink": {
									"name": "workpack_status",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "IFC",
									"type": "String"
								},
								"sink": {
									"name": "IFC",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ProgressHistoryID",
									"type": "String"
								},
								"sink": {
									"name": "ProgressHistoryID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ROCCode",
									"type": "String"
								},
								"sink": {
									"name": "ROCCode",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Step",
									"type": "String"
								},
								"sink": {
									"name": "Step",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Is_Driving",
									"type": "String"
								},
								"sink": {
									"name": "Is_Driving",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Name",
									"type": "String"
								},
								"sink": {
									"name": "Name",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Capture_Origin",
									"type": "String"
								},
								"sink": {
									"name": "Capture_Origin",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "UserName",
									"type": "String"
								},
								"sink": {
									"name": "UserName",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Progress_Entry_Date_Time",
									"type": "String"
								},
								"sink": {
									"name": "Progress_Entry_Date_Time",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "TimestampShift",
									"type": "String"
								},
								"sink": {
									"name": "TimestampShift",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ProgressDate",
									"type": "String"
								},
								"sink": {
									"name": "ProgressDate",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ProgressDelta",
									"type": "String"
								},
								"sink": {
									"name": "ProgressDelta",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ProgressCumulative",
									"type": "String"
								},
								"sink": {
									"name": "ProgressCumulative",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Budget_Hrs",
									"type": "String"
								},
								"sink": {
									"name": "Budget_Hrs",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Progressed_Hrs",
									"type": "String"
								},
								"sink": {
									"name": "Progressed_Hrs",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Budget_Qty",
									"type": "String"
								},
								"sink": {
									"name": "Budget_Qty",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Progressed_Qty",
									"type": "String"
								},
								"sink": {
									"name": "Progressed_Qty",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Install_Qty",
									"type": "String"
								},
								"sink": {
									"name": "Install_Qty",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "max_date",
									"type": "String"
								},
								"sink": {
									"name": "max_date",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "ds_adlsg2_progress_sitepro_raw",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adlsg2_CSV_progress_sitepro_raw",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Check Combined File non zero Bytes",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "cp_Get_Latest_File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_adlsg2_CSV_progress_sitepro_raw",
						"type": "DatasetReference"
					},
					"fieldList": [
						"size",
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "if_File_Exists_Copy_to_Synapse",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Check Combined File non zero Bytes",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Check Combined File non zero Bytes').output.Size, 2)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy Raw Parquet Folder To Synapse Stage Table",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlDWSink",
									"preCopyScript": "truncate table gpd.NCSA_Sitepro_Progress",
									"allowPolyBase": true,
									"polyBaseSettings": {
										"rejectValue": 0,
										"rejectType": "value",
										"useTypeDefault": true
									},
									"disableMetricsCollection": false
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "ADLSG2 TimeAnalytics DEV",
										"type": "LinkedServiceReference"
									}
								},
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "project_number",
												"type": "String"
											},
											"sink": {
												"name": "project_number",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "function_code",
												"type": "String"
											},
											"sink": {
												"name": "function_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "source_name",
												"type": "String"
											},
											"sink": {
												"name": "source_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "sub_source_name",
												"type": "String"
											},
											"sink": {
												"name": "sub_source_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "data_class_budget_name",
												"type": "String"
											},
											"sink": {
												"name": "data_class_budget_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "data_class_Progress_name",
												"type": "String"
											},
											"sink": {
												"name": "data_class_progress_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "data_class_quantity_name",
												"type": "String"
											},
											"sink": {
												"name": "data_class_quantity_name",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "data_class_time_name",
												"type": "String"
											},
											"sink": {
												"name": "data_class_time_name",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "sub_class_budget_hours_name",
												"type": "String"
											},
											"sink": {
												"name": "sub_class_budget_hours_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "sub_class_budget_quantity_name",
												"type": "String"
											},
											"sink": {
												"name": "sub_class_budget_quantity_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "sub_class_progress_hours_name",
												"type": "String"
											},
											"sink": {
												"name": "sub_class_progress_hours_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "sub_class_progress_quantity_name",
												"type": "String"
											},
											"sink": {
												"name": "sub_class_progress_quantity_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "sub_class_progress_installed_quantity_name",
												"type": "String"
											},
											"sink": {
												"name": "sub_class_progress_installed_quantity_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "unit_of_measure_Quantity",
												"type": "String"
											},
											"sink": {
												"name": "unit_of_measure_code_quantity",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "unit_of_measure_Hours",
												"type": "String"
											},
											"sink": {
												"name": "unit_of_measure_code_hours",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "phase_code",
												"type": "String"
											},
											"sink": {
												"name": "phase_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "schedule_resource_code",
												"type": "String"
											},
											"sink": {
												"name": "schedule_resource_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "work_unit_code",
												"type": "String"
											},
											"sink": {
												"name": "work_unit_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "work_area_code",
												"type": "String"
											},
											"sink": {
												"name": "work_area_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "activity_code",
												"type": "String"
											},
											"sink": {
												"name": "activity_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "IWP_Code",
												"type": "String"
											},
											"sink": {
												"name": "IWP_Code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "IWP_Status_Code",
												"type": "String"
											},
											"sink": {
												"name": "IWP_Status_Code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "IWP_StatusDescription",
												"type": "String"
											},
											"sink": {
												"name": "IWP_StatusDescription",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PMID",
												"type": "String"
											},
											"sink": {
												"name": "PMID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PMID_Description",
												"type": "String"
											},
											"sink": {
												"name": "PMID_Description",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Contract",
												"type": "String"
											},
											"sink": {
												"name": "Contract",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Cost_Code",
												"type": "String"
											},
											"sink": {
												"name": "Cost_Code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Cost_Code_Description",
												"type": "String"
											},
											"sink": {
												"name": "Cost_Code_Description",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Costing_COA",
												"type": "String"
											},
											"sink": {
												"name": "Costing_COA",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Drawing_No",
												"type": "String"
											},
											"sink": {
												"name": "Drawing_No",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Tag_No",
												"type": "String"
											},
											"sink": {
												"name": "Tag_No",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "spool",
												"type": "String"
											},
											"sink": {
												"name": "spool",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "line",
												"type": "String"
											},
											"sink": {
												"name": "line",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "spec",
												"type": "String"
											},
											"sink": {
												"name": "spec",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "system",
												"type": "String"
											},
											"sink": {
												"name": "system",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Piece_Mark",
												"type": "String"
											},
											"sink": {
												"name": "Piece_Mark",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Cost_Type",
												"type": "String"
											},
											"sink": {
												"name": "Cost_Type",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Number_Of_Pieces",
												"type": "String"
											},
											"sink": {
												"name": "Number_Of_Pieces",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Subsystem",
												"type": "String"
											},
											"sink": {
												"name": "Subsystem",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "text5",
												"type": "String"
											},
											"sink": {
												"name": "Text5",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Bom_Node_ID",
												"type": "String"
											},
											"sink": {
												"name": "Bom_Node_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Doc_ID",
												"type": "String"
											},
											"sink": {
												"name": "Doc_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Staging_Reference",
												"type": "String"
											},
											"sink": {
												"name": "Staging_Reference",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Level6",
												"type": "String"
											},
											"sink": {
												"name": "Level6",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "planned_Status",
												"type": "String"
											},
											"sink": {
												"name": "planned_Status",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "progress_Status",
												"type": "String"
											},
											"sink": {
												"name": "progress_Status",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "workpack_status",
												"type": "String"
											},
											"sink": {
												"name": "workpack_status",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "IFC",
												"type": "String"
											},
											"sink": {
												"name": "IFC",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ProgressHistoryID",
												"type": "String"
											},
											"sink": {
												"name": "ProgressHistoryID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ROCCode",
												"type": "String"
											},
											"sink": {
												"name": "ROCCode",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Step",
												"type": "String"
											},
											"sink": {
												"name": "Step",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Is_Driving",
												"type": "String"
											},
											"sink": {
												"name": "Is_Driving",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Name",
												"type": "String"
											},
											"sink": {
												"name": "Name",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Capture_Origin",
												"type": "String"
											},
											"sink": {
												"name": "Capture_Origin",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "UserName",
												"type": "String"
											},
											"sink": {
												"name": "UserName",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Progress_Entry_Date_Time",
												"type": "String"
											},
											"sink": {
												"name": "Progress_Entry_Date_Time",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "TimestampShift",
												"type": "String"
											},
											"sink": {
												"name": "TimestampShift",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ProgressDate",
												"type": "String"
											},
											"sink": {
												"name": "ProgressDate",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ProgressDelta",
												"type": "String"
											},
											"sink": {
												"name": "ProgressDelta",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ProgressCumulative",
												"type": "String"
											},
											"sink": {
												"name": "ProgressCumulative",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Budget_Hrs",
												"type": "String"
											},
											"sink": {
												"name": "Budget_Hrs",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Progressed_Hrs",
												"type": "String"
											},
											"sink": {
												"name": "Progressed_Hrs",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Budget_Qty",
												"type": "String"
											},
											"sink": {
												"name": "Budget_Qty",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Progressed_Qty",
												"type": "String"
											},
											"sink": {
												"name": "Progressed_Qty",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Install_Qty",
												"type": "String"
											},
											"sink": {
												"name": "Install_Qty",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "max_date",
												"type": "String"
											},
											"sink": {
												"name": "max_date",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CWP_Code",
												"type": "String"
											},
											"sink": {
												"name": "CWP_Code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "data_class_percentage_code",
												"type": "String"
											},
											"sink": {
												"name": "data_class_percentage_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "sub_class_percentage_code",
												"type": "String"
											},
											"sink": {
												"name": "sub_class_percentage_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "unit_of_measure_code_percentage",
												"type": "String"
											},
											"sink": {
												"name": "unit_of_measure_code_percentage",
												"type": "String"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "ds_adlsg2_CSV_progress_sitepro_raw",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_AzureSynapseAnalytics_progress_sitepro_stage",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Delete Temp combined File",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "if_File_Exists_Copy_to_Synapse",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_adlsg2_CSV_progress_sitepro_raw",
						"type": "DatasetReference"
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true
					}
				}
			},
			{
				"name": "Set start date",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "lkup_Get_Pipeline_parameters_getlrd",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_lrd_src_to_stage",
					"value": {
						"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.file_merge_start_date",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set_current_date_time",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set start date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_current_date_time",
					"value": {
						"value": "@string(utcnow())",
						"type": "Expression"
					}
				}
			},
			{
				"name": "sp_execute_final_sp_validate",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "sp_Update_Parameter",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[load_NCSA_fact_sitepro_progress_validate]"
				},
				"linkedServiceName": {
					"referenceName": "Azure_Dev_SynapseAnalyticsPool",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "sp_execute_final_sp_fact_load",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "sp_execute_final_sp_validate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[load_NCSA_fact_sitepro_progress_fact_load]"
				},
				"linkedServiceName": {
					"referenceName": "Azure_Dev_SynapseAnalyticsPool",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "lkup_Get_Pipeline_parameters_getlrd",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[dbo].[getPipelineParametersValues]",
						"storedProcedureParameters": {
							"pPipelineCode": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"pPipeLineSubCode": {
								"type": "String",
								"value": {
									"value": "Sitepro",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azure_synapse_parameter",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "sp_Update_Parameter",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Delete Temp combined File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[updateIncrementPipelineParameterValue]",
					"storedProcedureParameters": {
						"pParameterCode": {
							"value": {
								"value": "file_merge_start_date",
								"type": "Expression"
							},
							"type": "String"
						},
						"pParameterValue": {
							"value": {
								"value": "@formatDateTime(variables('v_current_date_time'),'yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							},
							"type": "String"
						},
						"pPipelineCode": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"pPipelineSubCode": {
							"value": {
								"value": "Sitepro",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSynapseDB_DEV",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"v_lrd_src_to_stage": {
				"type": "String"
			},
			"v_current_date_time": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Projects/NCSA/Siteproprogress"
		},
		"annotations": [],
		"lastPublishTime": "2021-04-16T00:29:38Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}