pipeline/pl_payment_details.json
{
	"name": "pl_payment_details",
	"properties": {
		"activities": [
			{
				"name": "lk_get_pipeline_parameters",
				"description": "Get the parameters to be used in this pipeline",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "getPipelineParametersValues",
						"storedProcedureParameters": {
							"pPipelineCode": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"pPipeLineSubCode": {
								"type": "String",
								"value": {
									"value": "NetworkFolder",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azure_synapse_parameter",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set last_run_date - one day",
				"description": "Sets start and current date",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "lk_get_pipeline_parameters",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "lk_get_pipeline_parameters_2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_end_date",
					"value": {
						"value": "@if(equals(activity('lk_get_pipeline_parameters').output.firstRow.end_date,'currdate'),formatDateTime(utcNow(),'yyyy-MM-dd'),formatDateTime(activity('lk_get_pipeline_parameters').output.firstRow.end_date,'yyyy-MM-dd'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Run Until start date equals to end date",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Set last_run_date - one day",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "GetClientId",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "GetClientSecret",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greaterOrEquals(activity('lk_get_pipeline_parameters_to_lookup_dates').output.firstRow.start_date,if(equals(activity('lk_get_pipeline_parameters').output.firstRow.end_date,'currdate'),formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:ss'),formatDateTime(activity('lk_get_pipeline_parameters').output.firstRow.end_date,'yyyy-MM-dd HH:mm:ss')))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CP_Payment_Details_Src_to_Stage",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Get Access Token",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "POST",
										"additionalHeaders": {
											"value": "@concat('Authorization: Bearer ', activity('Get Access Token').output.access_token,'\nContent-Type: application/soap+xml;charset=UTF-8\nContent-Length: 649\nConnection: Keep-Alive\nUser-Agent: Apache-HttpClient/4.1.1 (java 1.5)\n')",
											"type": "Expression"
										},
										"requestBody": {
											"value": "@concat('<ns1:Envelope xmlns:ns1=\"http://www.w3.org/2003/05/soap-envelope\">\n<ns1:Body>\n<ns2:runReport xmlns:ns2=\"http://xmlns.oracle.com/oxp/service/PublicReportService\">\n<ns2:reportRequest>\n<ns2:attributeFormat>xml</ns2:attributeFormat>\n<ns2:parameterNameValues>\n<ns2:item>\n<ns2:name>P_FROM_DATE</ns2:name>\n<ns2:values>\n<ns2:item>',variables('v_start_date'),'</ns2:item>\n</ns2:values>\n</ns2:item>\n<ns2:item>\n<ns2:name>P_TO_DATE</ns2:name>\n<ns2:values>\n<ns2:item>',variables('v_end_date'),'</ns2:item>\n</ns2:values>\n</ns2:item>\n</ns2:parameterNameValues>\n<ns2:reportAbsolutePath>/Custom/Oracle R2P Integrations/Invoice Inquiry Dashboard/AP_CHECKS_ALL.xdo</ns2:reportAbsolutePath>\n<ns2:sizeOfDataChunkDownload>-1</ns2:sizeOfDataChunkDownload>\n</ns2:reportRequest>\n</ns2:runReport>\n</ns1:Body>\n</ns1:Envelope>')",
											"type": "Expression"
										},
										"requestTimeout": ""
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_http_binary_payment_details_source",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adlsg2_binary_payment_details_source_stage",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "df_payment_details_decoding",
							"type": "ExecuteDataFlow",
							"dependsOn": [
								{
									"activity": "CP_Payment_Details_Src_to_Stage",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "df_payment_details_decoding",
									"type": "DataFlowReference"
								},
								"compute": {
									"coreCount": 32,
									"computeType": "MemoryOptimized"
								},
								"traceLevel": "Fine"
							}
						},
						{
							"name": "df_payment_details_flattening",
							"type": "ExecuteDataFlow",
							"dependsOn": [
								{
									"activity": "df_payment_details_decoding",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "df_payment_details_flattening",
									"type": "DataFlowReference"
								},
								"compute": {
									"coreCount": 32,
									"computeType": "MemoryOptimized"
								},
								"traceLevel": "Fine"
							}
						},
						{
							"name": "Copy Latest Data To Synapse Stage Table",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "df_payment_details_flattening",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": false,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlDWSink",
									"preCopyScript": "truncate table [rpy].[Payment_Details_stage]",
									"allowCopyCommand": true,
									"disableMetricsCollection": false
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "ADLSG2 TimeAnalytics DEV",
										"type": "LinkedServiceReference"
									},
									"path": "mdr-raw-data/Polybase_Staging_Space"
								},
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "ACTUAL_VALUE_DATE",
												"type": "String"
											},
											"sink": {
												"name": "ACTUAL_VALUE_DATE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ADDRESS_LINE1",
												"type": "String"
											},
											"sink": {
												"name": "ADDRESS_LINE1",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ADDRESS_LINE2",
												"type": "String"
											},
											"sink": {
												"name": "ADDRESS_LINE2",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ADDRESS_LINE3",
												"type": "String"
											},
											"sink": {
												"name": "ADDRESS_LINE3",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ADDRESS_LINE4",
												"type": "String"
											},
											"sink": {
												"name": "ADDRESS_LINE4",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ADDRESS_STYLE",
												"type": "String"
											},
											"sink": {
												"name": "ADDRESS_STYLE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "AMOUNT",
												"type": "String"
											},
											"sink": {
												"name": "AMOUNT",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ANTICIPATED_VALUE_DATE",
												"type": "String"
											},
											"sink": {
												"name": "ANTICIPATED_VALUE_DATE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE1",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE1",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE10",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE10",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE11",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE11",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE12",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE12",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE13",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE13",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE14",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE14",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE15",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE15",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE2",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE2",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE3",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE3",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE4",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE4",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE5",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE5",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE6",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE6",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE7",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE7",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE8",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE8",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE9",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE9",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE_CATEGORY",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE_CATEGORY",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE_DATE1",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE_DATE1",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE_DATE2",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE_DATE2",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE_DATE3",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE_DATE3",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE_DATE4",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE_DATE4",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE_DATE5",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE_DATE5",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE_NUMBER1",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE_NUMBER1",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE_NUMBER2",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE_NUMBER2",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE_NUMBER3",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE_NUMBER3",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE_NUMBER4",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE_NUMBER4",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE_NUMBER5",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE_NUMBER5",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "BANK_ACCOUNT_NAME",
												"type": "String"
											},
											"sink": {
												"name": "BANK_ACCOUNT_NAME",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "BANK_ACCOUNT_NUM",
												"type": "String"
											},
											"sink": {
												"name": "BANK_ACCOUNT_NUM",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "BANK_ACCOUNT_TYPE",
												"type": "String"
											},
											"sink": {
												"name": "BANK_ACCOUNT_TYPE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "BANK_CHARGE_BEARER",
												"type": "String"
											},
											"sink": {
												"name": "BANK_CHARGE_BEARER",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "BANK_NUM",
												"type": "String"
											},
											"sink": {
												"name": "BANK_NUM",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "BASE_AMOUNT",
												"type": "String"
											},
											"sink": {
												"name": "BASE_AMOUNT",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "BEP_RESPONSE_CODE",
												"type": "String"
											},
											"sink": {
												"name": "BEP_RESPONSE_CODE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "BEP_RESPONSE_DATE",
												"type": "String"
											},
											"sink": {
												"name": "BEP_RESPONSE_DATE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "BEP_STATUS",
												"type": "String"
											},
											"sink": {
												"name": "BEP_STATUS",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "BEP_TRXN_RESPONSE_ID",
												"type": "String"
											},
											"sink": {
												"name": "BEP_TRXN_RESPONSE_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CE_BANK_ACCT_USE_ID",
												"type": "String"
											},
											"sink": {
												"name": "CE_BANK_ACCT_USE_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CHECKRUN_ID",
												"type": "String"
											},
											"sink": {
												"name": "CHECKRUN_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CHECKRUN_NAME",
												"type": "String"
											},
											"sink": {
												"name": "CHECKRUN_NAME",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CHECK_DATE",
												"type": "String"
											},
											"sink": {
												"name": "CHECK_DATE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CHECK_FORMAT_ID",
												"type": "String"
											},
											"sink": {
												"name": "CHECK_FORMAT_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CHECK_ID",
												"type": "String"
											},
											"sink": {
												"name": "CHECK_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CHECK_NUMBER",
												"type": "String"
											},
											"sink": {
												"name": "CHECK_NUMBER",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CHECK_STOCK_ID",
												"type": "String"
											},
											"sink": {
												"name": "CHECK_STOCK_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CHECK_VOUCHER_NUM",
												"type": "String"
											},
											"sink": {
												"name": "CHECK_VOUCHER_NUM",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CITY",
												"type": "String"
											},
											"sink": {
												"name": "CITY",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CLEARED_AMOUNT",
												"type": "String"
											},
											"sink": {
												"name": "CLEARED_AMOUNT",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CLEARED_BASE_AMOUNT",
												"type": "String"
											},
											"sink": {
												"name": "CLEARED_BASE_AMOUNT",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CLEARED_CHARGES_AMOUNT",
												"type": "String"
											},
											"sink": {
												"name": "CLEARED_CHARGES_AMOUNT",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CLEARED_CHARGES_BASE_AMOUNT",
												"type": "String"
											},
											"sink": {
												"name": "CLEARED_CHARGES_BASE_AMOUNT",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CLEARED_DATE",
												"type": "String"
											},
											"sink": {
												"name": "CLEARED_DATE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CLEARED_ERROR_AMOUNT",
												"type": "String"
											},
											"sink": {
												"name": "CLEARED_ERROR_AMOUNT",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CLEARED_ERROR_BASE_AMOUNT",
												"type": "String"
											},
											"sink": {
												"name": "CLEARED_ERROR_BASE_AMOUNT",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CLEARED_EXCHANGE_DATE",
												"type": "String"
											},
											"sink": {
												"name": "CLEARED_EXCHANGE_DATE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CLEARED_EXCHANGE_RATE",
												"type": "String"
											},
											"sink": {
												"name": "CLEARED_EXCHANGE_RATE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CLEARED_EXCHANGE_RATE_TYPE",
												"type": "String"
											},
											"sink": {
												"name": "CLEARED_EXCHANGE_RATE_TYPE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "COMPLETED_PMTS_GROUP_ID",
												"type": "String"
											},
											"sink": {
												"name": "COMPLETED_PMTS_GROUP_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "COUNTRY",
												"type": "String"
											},
											"sink": {
												"name": "COUNTRY",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "COUNTY",
												"type": "String"
											},
											"sink": {
												"name": "COUNTY",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CREATED_BY",
												"type": "String"
											},
											"sink": {
												"name": "CREATED_BY",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CREATION_DATE",
												"type": "String"
											},
											"sink": {
												"name": "CREATION_DATE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CURRENCY_CODE",
												"type": "String"
											},
											"sink": {
												"name": "CURRENCY_CODE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DESCRIPTION",
												"type": "String"
											},
											"sink": {
												"name": "DESCRIPTION",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DOC_CATEGORY_CODE",
												"type": "String"
											},
											"sink": {
												"name": "DOC_CATEGORY_CODE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DOC_SEQUENCE_ID",
												"type": "String"
											},
											"sink": {
												"name": "DOC_SEQUENCE_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DOC_SEQUENCE_VALUE",
												"type": "String"
											},
											"sink": {
												"name": "DOC_SEQUENCE_VALUE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "EMPLOYEE_ADDRESS_CODE",
												"type": "String"
											},
											"sink": {
												"name": "EMPLOYEE_ADDRESS_CODE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ESCHEATMENT_INVOICE_ID",
												"type": "String"
											},
											"sink": {
												"name": "ESCHEATMENT_INVOICE_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ESCHEATMENT_VENDOR_ID",
												"type": "String"
											},
											"sink": {
												"name": "ESCHEATMENT_VENDOR_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ESCHEATMENT_VENDOR_SITE_ID",
												"type": "String"
											},
											"sink": {
												"name": "ESCHEATMENT_VENDOR_SITE_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "EXCHANGE_DATE",
												"type": "String"
											},
											"sink": {
												"name": "EXCHANGE_DATE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "EXCHANGE_RATE",
												"type": "String"
											},
											"sink": {
												"name": "EXCHANGE_RATE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "EXCHANGE_RATE_TYPE",
												"type": "String"
											},
											"sink": {
												"name": "EXCHANGE_RATE_TYPE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "EXTERNAL_BANK_ACCOUNT_ID",
												"type": "String"
											},
											"sink": {
												"name": "EXTERNAL_BANK_ACCOUNT_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "FUTURE_PAY_DUE_DATE",
												"type": "String"
											},
											"sink": {
												"name": "FUTURE_PAY_DUE_DATE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "GLOBAL_ATTRIBUTE1",
												"type": "String"
											},
											"sink": {
												"name": "GLOBAL_ATTRIBUTE1",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "GLOBAL_ATTRIBUTE10",
												"type": "String"
											},
											"sink": {
												"name": "GLOBAL_ATTRIBUTE10",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "GLOBAL_ATTRIBUTE11",
												"type": "String"
											},
											"sink": {
												"name": "GLOBAL_ATTRIBUTE11",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "GLOBAL_ATTRIBUTE12",
												"type": "String"
											},
											"sink": {
												"name": "GLOBAL_ATTRIBUTE12",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "GLOBAL_ATTRIBUTE13",
												"type": "String"
											},
											"sink": {
												"name": "GLOBAL_ATTRIBUTE13",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "GLOBAL_ATTRIBUTE14",
												"type": "String"
											},
											"sink": {
												"name": "GLOBAL_ATTRIBUTE14",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "GLOBAL_ATTRIBUTE15",
												"type": "String"
											},
											"sink": {
												"name": "GLOBAL_ATTRIBUTE15",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "GLOBAL_ATTRIBUTE16",
												"type": "String"
											},
											"sink": {
												"name": "GLOBAL_ATTRIBUTE16",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "GLOBAL_ATTRIBUTE17",
												"type": "String"
											},
											"sink": {
												"name": "GLOBAL_ATTRIBUTE17",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "GLOBAL_ATTRIBUTE18",
												"type": "String"
											},
											"sink": {
												"name": "GLOBAL_ATTRIBUTE18",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "GLOBAL_ATTRIBUTE19",
												"type": "String"
											},
											"sink": {
												"name": "GLOBAL_ATTRIBUTE19",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "GLOBAL_ATTRIBUTE2",
												"type": "String"
											},
											"sink": {
												"name": "GLOBAL_ATTRIBUTE2",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "GLOBAL_ATTRIBUTE20",
												"type": "String"
											},
											"sink": {
												"name": "GLOBAL_ATTRIBUTE20",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "GLOBAL_ATTRIBUTE3",
												"type": "String"
											},
											"sink": {
												"name": "GLOBAL_ATTRIBUTE3",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "GLOBAL_ATTRIBUTE4",
												"type": "String"
											},
											"sink": {
												"name": "GLOBAL_ATTRIBUTE4",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "GLOBAL_ATTRIBUTE5",
												"type": "String"
											},
											"sink": {
												"name": "GLOBAL_ATTRIBUTE5",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "GLOBAL_ATTRIBUTE6",
												"type": "String"
											},
											"sink": {
												"name": "GLOBAL_ATTRIBUTE6",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "GLOBAL_ATTRIBUTE7",
												"type": "String"
											},
											"sink": {
												"name": "GLOBAL_ATTRIBUTE7",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "GLOBAL_ATTRIBUTE8",
												"type": "String"
											},
											"sink": {
												"name": "GLOBAL_ATTRIBUTE8",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "GLOBAL_ATTRIBUTE9",
												"type": "String"
											},
											"sink": {
												"name": "GLOBAL_ATTRIBUTE9",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "GLOBAL_ATTRIBUTE_CATEGORY",
												"type": "String"
											},
											"sink": {
												"name": "GLOBAL_ATTRIBUTE_CATEGORY",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "GLOBAL_ATTRIBUTE_DATE1",
												"type": "String"
											},
											"sink": {
												"name": "GLOBAL_ATTRIBUTE_DATE1",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "GLOBAL_ATTRIBUTE_DATE2",
												"type": "String"
											},
											"sink": {
												"name": "GLOBAL_ATTRIBUTE_DATE2",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "GLOBAL_ATTRIBUTE_DATE3",
												"type": "String"
											},
											"sink": {
												"name": "GLOBAL_ATTRIBUTE_DATE3",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "GLOBAL_ATTRIBUTE_DATE4",
												"type": "String"
											},
											"sink": {
												"name": "GLOBAL_ATTRIBUTE_DATE4",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "GLOBAL_ATTRIBUTE_DATE5",
												"type": "String"
											},
											"sink": {
												"name": "GLOBAL_ATTRIBUTE_DATE5",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "GLOBAL_ATTRIBUTE_NUMBER1",
												"type": "String"
											},
											"sink": {
												"name": "GLOBAL_ATTRIBUTE_NUMBER1",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "GLOBAL_ATTRIBUTE_NUMBER2",
												"type": "String"
											},
											"sink": {
												"name": "GLOBAL_ATTRIBUTE_NUMBER2",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "GLOBAL_ATTRIBUTE_NUMBER3",
												"type": "String"
											},
											"sink": {
												"name": "GLOBAL_ATTRIBUTE_NUMBER3",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "GLOBAL_ATTRIBUTE_NUMBER4",
												"type": "String"
											},
											"sink": {
												"name": "GLOBAL_ATTRIBUTE_NUMBER4",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "GLOBAL_ATTRIBUTE_NUMBER5",
												"type": "String"
											},
											"sink": {
												"name": "GLOBAL_ATTRIBUTE_NUMBER5",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "IBAN_NUMBER",
												"type": "String"
											},
											"sink": {
												"name": "IBAN_NUMBER",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "LAST_UPDATED_BY",
												"type": "String"
											},
											"sink": {
												"name": "LAST_UPDATED_BY",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "LAST_UPDATE_DATE",
												"type": "String"
											},
											"sink": {
												"name": "LAST_UPDATE_DATE",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "LAST_UPDATE_LOGIN",
												"type": "String"
											},
											"sink": {
												"name": "LAST_UPDATE_LOGIN",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "LEGAL_ENTITY_ID",
												"type": "String"
											},
											"sink": {
												"name": "LEGAL_ENTITY_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "LOGICAL_GROUP_REFERENCE",
												"type": "String"
											},
											"sink": {
												"name": "LOGICAL_GROUP_REFERENCE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "MATURITY_EXCHANGE_DATE",
												"type": "String"
											},
											"sink": {
												"name": "MATURITY_EXCHANGE_DATE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "MATURITY_EXCHANGE_RATE",
												"type": "String"
											},
											"sink": {
												"name": "MATURITY_EXCHANGE_RATE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "MATURITY_EXCHANGE_RATE_TYPE",
												"type": "String"
											},
											"sink": {
												"name": "MATURITY_EXCHANGE_RATE_TYPE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "MRC_BASE_AMOUNT",
												"type": "String"
											},
											"sink": {
												"name": "MRC_BASE_AMOUNT",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "MRC_CLEARED_BASE_AMOUNT",
												"type": "String"
											},
											"sink": {
												"name": "MRC_CLEARED_BASE_AMOUNT",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "MRC_CLEARED_CHARGES_BASE_AMT",
												"type": "String"
											},
											"sink": {
												"name": "MRC_CLEARED_CHARGES_BASE_AMT",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "MRC_CLEARED_ERROR_BASE_AMOUNT",
												"type": "String"
											},
											"sink": {
												"name": "MRC_CLEARED_ERROR_BASE_AMOUNT",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "MRC_CLEARED_EXCHANGE_DATE",
												"type": "String"
											},
											"sink": {
												"name": "MRC_CLEARED_EXCHANGE_DATE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "MRC_CLEARED_EXCHANGE_RATE",
												"type": "String"
											},
											"sink": {
												"name": "MRC_CLEARED_EXCHANGE_RATE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "MRC_CLEARED_EXCHANGE_RATE_TYPE",
												"type": "String"
											},
											"sink": {
												"name": "MRC_CLEARED_EXCHANGE_RATE_TYPE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "MRC_EXCHANGE_DATE",
												"type": "String"
											},
											"sink": {
												"name": "MRC_EXCHANGE_DATE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "MRC_EXCHANGE_RATE",
												"type": "String"
											},
											"sink": {
												"name": "MRC_EXCHANGE_RATE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "MRC_EXCHANGE_RATE_TYPE",
												"type": "String"
											},
											"sink": {
												"name": "MRC_EXCHANGE_RATE_TYPE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "MRC_MATURITY_EXG_DATE",
												"type": "String"
											},
											"sink": {
												"name": "MRC_MATURITY_EXG_DATE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "MRC_MATURITY_EXG_RATE",
												"type": "String"
											},
											"sink": {
												"name": "MRC_MATURITY_EXG_RATE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "MRC_MATURITY_EXG_RATE_TYPE",
												"type": "String"
											},
											"sink": {
												"name": "MRC_MATURITY_EXG_RATE_TYPE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "MRC_STAMP_DUTY_BASE_AMT",
												"type": "String"
											},
											"sink": {
												"name": "MRC_STAMP_DUTY_BASE_AMT",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "OBJECT_VERSION_NUMBER",
												"type": "String"
											},
											"sink": {
												"name": "OBJECT_VERSION_NUMBER",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ORG_ID",
												"type": "String"
											},
											"sink": {
												"name": "ORG_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PARTY_ID",
												"type": "String"
											},
											"sink": {
												"name": "PARTY_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PARTY_SITE_ID",
												"type": "String"
											},
											"sink": {
												"name": "PARTY_SITE_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PAYMENT_DOCUMENT_ID",
												"type": "String"
											},
											"sink": {
												"name": "PAYMENT_DOCUMENT_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PAYMENT_ID",
												"type": "String"
											},
											"sink": {
												"name": "PAYMENT_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PAYMENT_INSTRUCTION_ID",
												"type": "String"
											},
											"sink": {
												"name": "PAYMENT_INSTRUCTION_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PAYMENT_INSTRUMENT_ID",
												"type": "String"
											},
											"sink": {
												"name": "PAYMENT_INSTRUMENT_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PAYMENT_METHOD_CODE",
												"type": "String"
											},
											"sink": {
												"name": "PAYMENT_METHOD_CODE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PAYMENT_METHOD_LOOKUP_CODE",
												"type": "String"
											},
											"sink": {
												"name": "PAYMENT_METHOD_LOOKUP_CODE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PAYMENT_MODE_CODE",
												"type": "String"
											},
											"sink": {
												"name": "PAYMENT_MODE_CODE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PAYMENT_PROFILE_ID",
												"type": "String"
											},
											"sink": {
												"name": "PAYMENT_PROFILE_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PAYMENT_TYPE_FLAG",
												"type": "String"
											},
											"sink": {
												"name": "PAYMENT_TYPE_FLAG",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PMT_INSTR_BU_ASSIGNMENT_ID",
												"type": "String"
											},
											"sink": {
												"name": "PMT_INSTR_BU_ASSIGNMENT_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PMT_TO_BANK_AMOUNT",
												"type": "String"
											},
											"sink": {
												"name": "PMT_TO_BANK_AMOUNT",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PMT_TO_BANK_RATE",
												"type": "String"
											},
											"sink": {
												"name": "PMT_TO_BANK_RATE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PMT_TO_BANK_RATE_TYPE",
												"type": "String"
											},
											"sink": {
												"name": "PMT_TO_BANK_RATE_TYPE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "POSITIVE_PAY_STATUS_CODE",
												"type": "String"
											},
											"sink": {
												"name": "POSITIVE_PAY_STATUS_CODE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PROVINCE",
												"type": "String"
											},
											"sink": {
												"name": "PROVINCE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "RECONCILIATION_BATCH_ID",
												"type": "String"
											},
											"sink": {
												"name": "RECONCILIATION_BATCH_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "RECON_FLAG",
												"type": "String"
											},
											"sink": {
												"name": "RECON_FLAG",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "RELATIONSHIP_ID",
												"type": "String"
											},
											"sink": {
												"name": "RELATIONSHIP_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "RELEASED_BY",
												"type": "String"
											},
											"sink": {
												"name": "RELEASED_BY",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "RELEASED_DATE",
												"type": "String"
											},
											"sink": {
												"name": "RELEASED_DATE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "REMIT_TO_ADDRESS_ID",
												"type": "String"
											},
											"sink": {
												"name": "REMIT_TO_ADDRESS_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "REMIT_TO_ADDRESS_NAME",
												"type": "String"
											},
											"sink": {
												"name": "REMIT_TO_ADDRESS_NAME",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "REMIT_TO_SUPPLIER_ID",
												"type": "String"
											},
											"sink": {
												"name": "REMIT_TO_SUPPLIER_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "REMIT_TO_SUPPLIER_NAME",
												"type": "String"
											},
											"sink": {
												"name": "REMIT_TO_SUPPLIER_NAME",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "REQUEST_ID",
												"type": "String"
											},
											"sink": {
												"name": "REQUEST_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "SETTLEMENT_PRIORITY",
												"type": "String"
											},
											"sink": {
												"name": "SETTLEMENT_PRIORITY",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "STAMP_DUTY_AMT",
												"type": "String"
											},
											"sink": {
												"name": "STAMP_DUTY_AMT",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "STAMP_DUTY_BASE_AMT",
												"type": "String"
											},
											"sink": {
												"name": "STAMP_DUTY_BASE_AMT",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "STATE",
												"type": "String"
											},
											"sink": {
												"name": "STATE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "STATUS_LOOKUP_CODE",
												"type": "String"
											},
											"sink": {
												"name": "STATUS_LOOKUP_CODE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "STOPPED_BY",
												"type": "String"
											},
											"sink": {
												"name": "STOPPED_BY",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "STOPPED_DATE",
												"type": "String"
											},
											"sink": {
												"name": "STOPPED_DATE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "TRANSFER_PRIORITY",
												"type": "String"
											},
											"sink": {
												"name": "TRANSFER_PRIORITY",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "TREASURY_PAY_DATE",
												"type": "String"
											},
											"sink": {
												"name": "TREASURY_PAY_DATE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "TREASURY_PAY_NUMBER",
												"type": "String"
											},
											"sink": {
												"name": "TREASURY_PAY_NUMBER",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "USSGL_TRANSACTION_CODE",
												"type": "String"
											},
											"sink": {
												"name": "USSGL_TRANSACTION_CODE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "USSGL_TRX_CODE_CONTEXT",
												"type": "String"
											},
											"sink": {
												"name": "USSGL_TRX_CODE_CONTEXT",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "VENDOR_ID",
												"type": "String"
											},
											"sink": {
												"name": "VENDOR_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "VENDOR_NAME",
												"type": "String"
											},
											"sink": {
												"name": "VENDOR_NAME",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "VENDOR_SITE_CODE",
												"type": "String"
											},
											"sink": {
												"name": "VENDOR_SITE_CODE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "VENDOR_SITE_ID",
												"type": "String"
											},
											"sink": {
												"name": "VENDOR_SITE_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "VOID_DATE",
												"type": "String"
											},
											"sink": {
												"name": "VOID_DATE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "X_CURR_RATE_TYPE",
												"type": "String"
											},
											"sink": {
												"name": "X_CURR_RATE_TYPE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ZIP",
												"type": "String"
											},
											"sink": {
												"name": "ZIP",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "source_name",
												"type": "String"
											},
											"sink": {
												"name": "source_name",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "sub_source_name",
												"type": "String"
											},
											"sink": {
												"name": "sub_source_name",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "created_date_time",
												"type": "String"
											},
											"sink": {
												"name": "created_date_time",
												"type": "DateTime"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "ds_adlsg2_csv_payment_details_source_stage_final_flatten_csv",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_AzureSynapseAnalytics_payment_details",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Set Start Date",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "lk_get_pipeline_parameters_to_lookup_dates",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_start_date",
								"value": {
									"value": "@activity('lk_get_pipeline_parameters_to_lookup_dates').output.firstRow.start_date",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set End Date",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set Start Date",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_end_date",
								"value": {
									"value": "@formatDateTime(addDays(activity('lk_get_pipeline_parameters_to_lookup_dates').output.firstRow.start_date,int(activity('lk_get_pipeline_parameters_to_lookup_dates').output.firstRow.number_of_days)),'yyyy-MM-dd HH:mm:ss')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Increment Start Date",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Insert from stage to final table",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[updateIncrementPipelineParameterValue]",
								"storedProcedureParameters": {
									"pParameterValue": {
										"value": {
											"value": "@formatDateTime(addDays(activity('lk_get_pipeline_parameters_to_lookup_dates').output.firstRow.start_date,int(activity('lk_get_pipeline_parameters_to_lookup_dates').output.firstRow.number_of_days)),'yyyy-MM-dd HH:mm:ss')",
											"type": "Expression"
										},
										"type": "String"
									},
									"pPipelineCode": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"pPipelineSubCode": {
										"value": "NetworkFolder",
										"type": "String"
									},
									"pParameterCode": {
										"value": "start_date",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSynapseDB_DEV",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Insert from stage to final table",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Delete NULL Payment_Details",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "linkedservice_DEV_entanalytics_synapse",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "NonQuery",
										"text": "insert into [rpy].[Payment_Details] select * from [rpy].[Payment_Details_stage]"
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "lk_get_pipeline_parameters_to_lookup_dates",
							"description": "Get the parameters to be used in this pipeline",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlDWSource",
									"sqlReaderStoredProcedureName": "getPipelineParametersValues",
									"storedProcedureParameters": {
										"pPipelineCode": {
											"type": "String",
											"value": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											}
										},
										"pPipeLineSubCode": {
											"type": "String",
											"value": {
												"value": "NetworkFolder",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_azure_synapse_parameter",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Delete NULL Payment_Details",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Copy Latest Data To Synapse Stage Table",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "linkedservice_DEV_entanalytics_synapse",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "NonQuery",
										"text": "delete from [rpy].[Payment_Details_stage] where CHECK_ID is NULL"
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "Increment Start Date_copy1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "CP_Payment_Details_Src_to_Stage",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[updateIncrementPipelineParameterValue]",
								"storedProcedureParameters": {
									"pParameterValue": {
										"value": {
											"value": "@formatDateTime(addDays(activity('lk_get_pipeline_parameters_to_lookup_dates').output.firstRow.start_date,int(activity('lk_get_pipeline_parameters_to_lookup_dates').output.firstRow.number_of_days)),'yyyy-MM-dd HH:mm:ss')",
											"type": "Expression"
										},
										"type": "String"
									},
									"pPipelineCode": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"pPipelineSubCode": {
										"value": "NetworkFolder",
										"type": "String"
									},
									"pParameterCode": {
										"value": "start_date",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSynapseDB_DEV",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Get Access Token",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Set End Date",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "POST",
								"headers": {
									"Content-Type": {
										"value": "application/x-www-form-urlencoded",
										"type": "Expression"
									}
								},
								"url": {
									"value": "@activity('lk_get_pipeline_parameters_to_lookup_dates').output.firstRow.token_url",
									"type": "Expression"
								},
								"body": {
									"value": "grant_type=client_credentials&client_id=@{activity('GetClientId').output.value}&client_secret=@{activity('GetClientSecret').output.value}&scope=@{activity('lk_get_pipeline_parameters').output.firstRow.scope}",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "6.12:00:00"
				}
			},
			{
				"name": "Update Start Date with max LAST_UPDATE_DATE",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Lookup to get max LAST_UPDATE_DATE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[updateIncrementPipelineParameterValue]",
					"storedProcedureParameters": {
						"pParameterValue": {
							"value": {
								"value": "@formatDateTime(activity('Lookup to get max LAST_UPDATE_DATE').output.firstRow.last_update_date,'yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							},
							"type": "String"
						},
						"pPipelineCode": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"pPipelineSubCode": {
							"value": "NetworkFolder",
							"type": "String"
						},
						"pParameterCode": {
							"value": "start_date",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSynapseDB_DEV",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Lookup to get max LAST_UPDATE_DATE",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Run Until start date equals to end date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "select max(LAST_UPDATE_DATE) as last_update_date from [rpy].[Payment_Details]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSynapseAnalyticsDB",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Send Email On Failure",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Run Until start date equals to end date",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": "https://prod-31.eastus.logic.azure.com:443/workflows/03d7da5abbab4215a05aeaceae3b96fa/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=asuyutHtoSxGFURsj1-A6AKRiNLdXZ4mTnZvZ17_8hI",
					"connectVia": {
						"referenceName": "integrationRuntimeEast2",
						"type": "IntegrationRuntimeReference"
					},
					"body": {
						"value": "{\n    \"DataFactoryName\": \"@{pipeline().DataFactory}\",\n    \"PipelineName\": \"@{pipeline().Pipeline}\",\n    \"ErrorMessage\": \"Pipeline Failed\",\n    \"EmailTo\": \"@{activity('lk_get_pipeline_parameters_2').output.firstRow.ncsa_master_pipeline_email_to}\",\n    \"Activity\":  \"pl_payment_details\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "lk_get_pipeline_parameters_2",
				"description": "Get the parameters to be used in this pipeline",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "getPipelineParametersValues",
						"storedProcedureParameters": {
							"pPipelineCode": {
								"type": "String",
								"value": "pl_ncsa_master_pipelines"
							},
							"pPipeLineSubCode": {
								"type": "String",
								"value": "EMAIL"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azure_synapse_parameter",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "GetClientId",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "lk_get_pipeline_parameters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@activity('lk_get_pipeline_parameters').output.firstRow.client_id",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": {
							"value": "@concat(split(activity('lk_get_pipeline_parameters').output.firstRow.client_id, '/secrets')[0], '/')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "GetClientSecret",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "lk_get_pipeline_parameters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@activity('lk_get_pipeline_parameters').output.firstRow.client_secret",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": {
							"value": "@concat(split(activity('lk_get_pipeline_parameters').output.firstRow.client_secret, '/secrets')[0], '/')",
							"type": "Expression"
						}
					}
				}
			}
		],
		"variables": {
			"v_end_date": {
				"type": "String"
			},
			"v_start_date": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Projects/Payment Dashboard"
		},
		"annotations": []
	}
}