pipeline/pl_rpsr_smat_raw_to_synapse_stage.json
{
	"name": "pl_rpsr_smat_raw_to_synapse_stage",
	"properties": {
		"description": "SMAT RPSR report - ADLS Raw to Synapse Stage table",
		"activities": [
			{
				"name": "Check Combined File non zero Bytes",
				"description": "Check if the combined file has any data to be loaded.",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "cp_Get_Latest_File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_adlsg2_csv_smat_rpsr_raw_latest_file",
						"type": "DatasetReference"
					},
					"fieldList": [
						"size",
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Set start date",
				"description": "Set the last stage run date to the variable as start date.",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "lkup_Get_Pipeline_parameters_getlrd",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_lrd_src_to_stage",
					"value": {
						"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.last_run_start_date",
						"type": "Expression"
					}
				}
			},
			{
				"name": "cp_Get_Latest_File",
				"description": "Copy all the files created since the last start date and combine them into one file to be processed into Synapse.",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set start date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": {
								"value": "@variables('v_lrd_src_to_stage')",
								"type": "Expression"
							},
							"wildcardFolderPath": "Project_Data/NCSA/SMAT/RPSR/*/*/*",
							"wildcardFileName": "SMAT_RPSR_*.csv"
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "MergeFiles"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": "ts_itime_combined.csv"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ECI_ID",
									"type": "String"
								},
								"sink": {
									"name": "ECI_ID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PROJ_NB",
									"type": "String"
								},
								"sink": {
									"name": "PROJ_NB",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "R_CODE",
									"type": "String"
								},
								"sink": {
									"name": "R_CODE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "R_SUPP",
									"type": "String"
								},
								"sink": {
									"name": "R_SUPP",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ACTUAL_IND",
									"type": "String"
								},
								"sink": {
									"name": "ACTUAL_IND",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ORDER_SEQ",
									"type": "String"
								},
								"sink": {
									"name": "ORDER_SEQ",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "SHORT_DESC",
									"type": "String"
								},
								"sink": {
									"name": "SHORT_DESC",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "SCHEDULED_DATE",
									"type": "String"
								},
								"sink": {
									"name": "SCHEDULED_DATE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PLANNED_DATE",
									"type": "String"
								},
								"sink": {
									"name": "PLANNED_DATE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ACTUAL_DATE",
									"type": "String"
								},
								"sink": {
									"name": "ACTUAL_DATE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ECI_COMMENT",
									"type": "String"
								},
								"sink": {
									"name": "ECI_COMMENT",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ECI_ATTR_4",
									"type": "String"
								},
								"sink": {
									"name": "ECI_ATTR_4",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "DISCIPLINE",
									"type": "String"
								},
								"sink": {
									"name": "DISCIPLINE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "DEPARTMENT",
									"type": "String"
								},
								"sink": {
									"name": "DEPARTMENT",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PLANNED_BUYER",
									"type": "String"
								},
								"sink": {
									"name": "PLANNED_BUYER",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "REQ_DESC",
									"type": "String"
								},
								"sink": {
									"name": "REQ_DESC",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "ds_adlsg2_csv_smat_rpsr_raw",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adlsg2_csv_smat_rpsr_raw_latest_file",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "if_File_Exists_Copy_to_Synapse",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Check Combined File non zero Bytes",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Check Combined File non zero Bytes').output.size, 2)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "df_rpsr_smat_raw_synapse",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "1.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "df_rpsr_smat_raw_synapse",
									"type": "DataFlowReference"
								},
								"staging": {
									"linkedService": {
										"referenceName": "ADLSG2 TimeAnalytics DEV",
										"type": "LinkedServiceReference"
									},
									"folderPath": "mdr-raw-data/Polybase_Staging_Space"
								},
								"integrationRuntime": {
									"referenceName": "integrationRuntimeEast2",
									"type": "IntegrationRuntimeReference"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			},
			{
				"name": "Delete Temp combined File",
				"description": "After the data has been loaded, clear the combined file from the ADLSV2 ",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "if_File_Exists_Copy_to_Synapse",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_adlsg2_csv_smat_rpsr_raw_latest_file",
						"type": "DatasetReference"
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true
					}
				}
			},
			{
				"name": "lkup_Get_Pipeline_parameters_getlrd",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "getPipelineParametersValues",
						"storedProcedureParameters": {
							"pPipelineCode": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"pPipeLineSubCode": {
								"type": "String",
								"value": "SMAT"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azure_synapse_parameter",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "sp_Update_Parameter",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Delete Temp combined File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[updateIncrementPipelineParameterValue]",
					"storedProcedureParameters": {
						"pParameterValue": {
							"value": {
								"value": "@formatDateTime(activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.run_start_datetime,'yyyy-MM-dd HH:mm:ss.fff')",
								"type": "Expression"
							},
							"type": "String"
						},
						"pPipelineCode": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"pPipelineSubCode": {
							"value": "SMAT",
							"type": "String"
						},
						"pParameterCode": {
							"value": "last_run_start_date",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSynapseDB_DEV",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "sp_generic_procedure_dim_load",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "sp_Update_Parameter",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[generic_load_dim_v2]",
					"storedProcedureParameters": {
						"debug_flag": {
							"value": "N",
							"type": "String"
						},
						"execute_flag": {
							"value": "Y",
							"type": "String"
						},
						"load_name": {
							"value": "dim_ent_requisition_header",
							"type": "String"
						},
						"rkValidationRequired": {
							"value": "Y",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Azure_Dev_SynapseAnalyticsPool",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"v_lrd_src_to_stage": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Projects/NCSA/SMAT/RPSR"
		},
		"annotations": [],
		"lastPublishTime": "2021-06-23T02:57:21Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}