pipeline/pl_resource_spread_P6_to_stage.json
{
	"name": "pl_resource_spread_P6_to_stage",
	"properties": {
		"description": "P6 Engineering resource spread to ADLS Stage Folder",
		"activities": [
			{
				"name": "cp_copy_from_network_to_blob",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "lk_get_pipeline_parameters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.07:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"additionalColumns": [
							{
								"name": "dummmydate",
								"value": "0"
							}
						],
						"storeSettings": {
							"type": "FileServerReadSettings",
							"recursive": false,
							"fileFilter": {
								"value": "@{pipeline().parameters.p_pl_srcfilename}",
								"type": "Expression"
							}
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "MergeFiles"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_filesystem_network_excel_ncsa",
						"type": "DatasetReference",
						"parameters": {
							"path": {
								"value": "@activity('lk_get_pipeline_parameters').output.firstRow.source_directory",
								"type": "Expression"
							},
							"file": {
								"value": "@activity('lk_get_pipeline_parameters').output.firstRow.excel_file_name",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adlsg2_csv_resource_spread_p6_stage_initial",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "df_p6_resource_spread_pivot_to_stage",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "cp_copy_from_network_to_blob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_p6_resource_spread_pivot_to_stagev2",
						"type": "DataFlowReference",
						"parameters": {
							"p_df_sub_class": {
								"value": "'@{concat(split(pipeline().parameters.p_pl_srcfilename,'_')[0],'_',split(pipeline().parameters.p_pl_srcfilename,'_')[1],'_')}'",
								"type": "Expression"
							}
						}
					},
					"integrationRuntime": {
						"referenceName": "integrationRuntimeEast2",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "lk_get_pipeline_parameters",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "getPipelineParametersValues",
						"storedProcedureParameters": {
							"pPipelineCode": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"pPipeLineSubCode": {
								"type": "String",
								"value": "NetworkFolder"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azure_synapse_parameter",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SP Update Control Table Last Run Date",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "cp_archive_fs_file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[updateIncrementPipelineParameterValue]",
					"storedProcedureParameters": {
						"pParameterCode": {
							"value": "start_date",
							"type": "String"
						},
						"pParameterValue": {
							"value": {
								"value": "@formatDateTime(activity('lk_get_pipeline_parameters').output.firstRow.run_start_datetime,'yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							},
							"type": "String"
						},
						"pPipelineCode": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"pPipelineSubCode": {
							"value": "NetworkFolder",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "linkedservice_DEV_entanalytics_synapse",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "cp_archive_fs_file",
				"description": "Archive the Source file on the File server on file server location (Copy/Delete combined)",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "df_p6_resource_spread_pivot_to_stage",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "FileServerReadSettings",
							"recursive": false,
							"deleteFilesAfterCompletion": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "FileServerWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_fs_binary_generic_file",
						"type": "DatasetReference",
						"parameters": {
							"p_ds_path": {
								"value": "@activity('lk_get_pipeline_parameters').output.firstRow.source_directory",
								"type": "Expression"
							},
							"p_ds_file": {
								"value": "@{pipeline().parameters.p_pl_srcfilename}",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_fs_binary_generic_file",
						"type": "DatasetReference",
						"parameters": {
							"p_ds_path": {
								"value": "@concat(split(activity('lk_get_pipeline_parameters').output.firstRow.source_directory,'/')[0],'/NCSA Operational/Archive')",
								"type": "Expression"
							},
							"p_ds_file": {
								"value": "@concat(toUpper(activity('lk_get_pipeline_parameters').output.firstRow.file_name),'/',split(pipeline().parameters.p_pl_srcfilename,'.')[0],'_',formatDateTime(utcnow(),'yyyy-MM-dd THHmmss'),'.',split(pipeline().parameters.p_pl_srcfilename,'.')[1])",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"p_pl_srcfilename": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Projects/NCSA/P6 Resource Spread"
		},
		"annotations": [],
		"lastPublishTime": "2022-08-03T10:59:27Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}