pipeline/pl_rpn_plm_source_to_stage.json
{
	"name": "pl_rpn_plm_source_to_stage",
	"properties": {
		"activities": [
			{
				"name": "Update last run DTM",
				"description": "Update last run details",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Delete Both Temp File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "00.07:00:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[updateIncrementPipelineParameterValue]",
					"storedProcedureParameters": {
						"pParameterCode": {
							"value": "plm_run_last_dtm",
							"type": "String"
						},
						"pParameterValue": {
							"value": {
								"value": "@activity('lk_get_pipeline_parameters').output.firstRow.run_start_datetime",
								"type": "Expression"
							},
							"type": "String"
						},
						"pPipelineCode": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"pPipelineSubCode": {
							"value": "NetworkFolder",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSynapseDB_DEV",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "lk_get_pipeline_parameters",
				"description": "Get Pipeline Parameters",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[getPipelineParametersValues]",
						"storedProcedureParameters": {
							"pPipelineCode": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"pPipeLineSubCode": {
								"type": "String",
								"value": "NetworkFolder"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azuresynapse_dev",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy PLM DT RPN Source to Stage",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "lk_get_pipeline_parameters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "00.07:00:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "SELECT p.PROJECT_NUMBER,a.*\nFROM PLMDATA.PLM_DT_RPN a\nLEFT JOIN PLMDATA.PLM_DT_PROJECT p on p.PROJECT_NAME=a.PROJECT\nWHERE p.PROJECT_NUMBER IS NOT NULL",
							"type": "Expression"
						},
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_oracle_plm_source",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adlsg2_csv_generic",
						"type": "DatasetReference",
						"parameters": {
							"p_ds_filesystem": {
								"value": "@activity('lk_get_pipeline_parameters').output.firstRow.file_system",
								"type": "Expression"
							},
							"p_ds_directory": {
								"value": "@activity('lk_get_pipeline_parameters').output.firstRow.folder_path",
								"type": "Expression"
							},
							"p_ds_filename": {
								"value": "DT_RPN.csv",
								"type": "Expression"
							},
							"p_ds_first_row_header": true
						}
					}
				]
			},
			{
				"name": "Copy PLM RF RPN Source to Stage",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "lk_get_pipeline_parameters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "00.07:00:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "SELECT *\nFROM PLMDATA.PLM_RF_RPN;",
							"type": "Expression"
						},
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_oracle_plm_source",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adlsg2_csv_generic",
						"type": "DatasetReference",
						"parameters": {
							"p_ds_filesystem": {
								"value": "@activity('lk_get_pipeline_parameters').output.firstRow.file_system",
								"type": "Expression"
							},
							"p_ds_directory": {
								"value": "@activity('lk_get_pipeline_parameters').output.firstRow.folder_path",
								"type": "Expression"
							},
							"p_ds_filename": {
								"value": "RF_RPN.csv",
								"type": "Expression"
							},
							"p_ds_first_row_header": true
						}
					}
				]
			},
			{
				"name": "df_rpn_plm_raw_to_synapse",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Copy PLM RF RPN Source to Stage",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Copy PLM DT RPN Source to Stage",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_PLMRPN_specCSV_to_JSONCSV",
						"type": "DataFlowReference",
						"parameters": {
							"p_ds_stgfilepath": {
								"value": "'@{activity('lk_get_pipeline_parameters').output.firstRow.folder_path}'",
								"type": "Expression"
							},
							"p_ds_snkstgpath": {
								"value": "'@{activity('lk_get_pipeline_parameters').output.firstRow.folder_path}'",
								"type": "Expression"
							},
							"p_ds_snkstgfilename": {
								"value": "'@{concat(activity('lk_get_pipeline_parameters').output.firstRow.file_name,'.csv')}'",
								"type": "Expression"
							}
						},
						"datasetParameters": {
							"SrcRpnDTFile": {
								"p_ds_stgfilepath": "@activity('lk_get_pipeline_parameters').output.firstRow.folder_path"
							},
							"srcRpnRFFile": {
								"p_ds_stgfilepath": "@activity('lk_get_pipeline_parameters').output.firstRow.folder_path"
							},
							"snkJsonSTG": {
								"p_ds_snkstgpath": {
									"value": "@activity('lk_get_pipeline_parameters').output.firstRow.folder_path",
									"type": "Expression"
								}
							}
						}
					},
					"integrationRuntime": {
						"referenceName": "integrationRuntimeEast2",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Delete Both Temp File",
				"description": "After the data has been loaded, clear the combined file from the ADLSV2 ",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "df_rpn_plm_raw_to_synapse",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_adlsg2_csv_plm_STGFiles",
						"type": "DatasetReference",
						"parameters": {
							"p_ds_stgfilepath": {
								"value": "@activity('lk_get_pipeline_parameters').output.firstRow.folder_path",
								"type": "Expression"
							}
						}
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"wildcardFileName": "*_RPN.csv",
						"enablePartitionDiscovery": false
					}
				}
			}
		],
		"variables": {
			"max_created_datetime": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Projects/NCSA/PLM/PLM RPN"
		},
		"annotations": [],
		"lastPublishTime": "2022-09-29T07:20:56Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}