pipeline/pl_rcv_transactions.json
{
	"name": "pl_rcv_transactions",
	"properties": {
		"activities": [
			{
				"name": "lk_get_pipeline_parameters",
				"description": "Get the parameters to be used in this pipeline",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "getPipelineParametersValues",
						"storedProcedureParameters": {
							"pPipelineCode": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"pPipeLineSubCode": {
								"type": "String",
								"value": {
									"value": "NetworkFolder",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azure_synapse_parameter",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set last_run_date - one day",
				"description": "Sets start and current date",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "lk_get_pipeline_parameters",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "lk_get_pipeline_parameters_2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_end_date",
					"value": {
						"value": "@if(equals(activity('lk_get_pipeline_parameters').output.firstRow.end_date,'currdate'),formatDateTime(utcNow(),'yyyy-MM-dd'),formatDateTime(activity('lk_get_pipeline_parameters').output.firstRow.end_date,'yyyy-MM-dd'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Run Until start date equals to end date",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Set last_run_date - one day",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "GetClientId",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "GetClientSecret",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greaterOrEquals(activity('lk_get_pipeline_parameters_to_lookup_dates').output.firstRow.start_date,if(equals(activity('lk_get_pipeline_parameters').output.firstRow.end_date,'currdate'),formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:ss'),formatDateTime(activity('lk_get_pipeline_parameters').output.firstRow.end_date,'yyyy-MM-dd HH:mm:ss')))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CP_Rcv_Transactions_Src_to_Stage",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Get Access Token",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "POST",
										"additionalHeaders": {
											"value": "@concat('Authorization: Bearer ', activity('Get Access Token').output.access_token,'\nContent-Type: application/soap+xml;charset=UTF-8\nContent-Length: 649\nConnection: Keep-Alive\nUser-Agent: Apache-HttpClient/4.1.1 (java 1.5)\n')",
											"type": "Expression"
										},
										"requestBody": {
											"value": "@concat('<ns1:Envelope xmlns:ns1=\"http://www.w3.org/2003/05/soap-envelope\">\n<ns1:Body>\n<ns2:runReport xmlns:ns2=\"http://xmlns.oracle.com/oxp/service/PublicReportService\">\n<ns2:reportRequest>\n<ns2:attributeFormat>xml</ns2:attributeFormat>\n<ns2:parameterNameValues>\n<ns2:item>\n<ns2:name>P_FROM_DATE</ns2:name>\n<ns2:values>\n<ns2:item>',variables('v_start_date'),'</ns2:item>\n</ns2:values>\n</ns2:item>\n<ns2:item>\n<ns2:name>P_TO_DATE</ns2:name>\n<ns2:values>\n<ns2:item>',variables('v_end_date'),'</ns2:item>\n</ns2:values>\n</ns2:item>\n</ns2:parameterNameValues>\n<ns2:reportAbsolutePath>/Custom/Oracle R2P Integrations/MDR PO and Receipts Details/RCV_TRANSACTIONS.xdo</ns2:reportAbsolutePath>\n<ns2:sizeOfDataChunkDownload>-1</ns2:sizeOfDataChunkDownload>\n</ns2:reportRequest>\n</ns2:runReport>\n</ns1:Body>\n</ns1:Envelope>')",
											"type": "Expression"
										},
										"requestTimeout": ""
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_http_binary_rcv_transactions_source",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adlsg2_binary_rcv_transactions_source_stage",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "df_rcv_transactions_decoding",
							"type": "ExecuteDataFlow",
							"dependsOn": [
								{
									"activity": "CP_Rcv_Transactions_Src_to_Stage",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "df_rcv_transactions_decoding",
									"type": "DataFlowReference"
								},
								"compute": {
									"coreCount": 32,
									"computeType": "MemoryOptimized"
								},
								"traceLevel": "Fine"
							}
						},
						{
							"name": "df_rcv_transactions_flattening",
							"type": "ExecuteDataFlow",
							"dependsOn": [
								{
									"activity": "df_rcv_transactions_decoding",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "df_rcv_transactions_flattening",
									"type": "DataFlowReference"
								},
								"compute": {
									"coreCount": 32,
									"computeType": "MemoryOptimized"
								},
								"traceLevel": "Fine"
							}
						},
						{
							"name": "Copy Latest Data To Synapse Stage Table",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "df_rcv_transactions_flattening",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": false,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlDWSink",
									"preCopyScript": "truncate table [rpy].[Rcv_Transactions_stage]",
									"allowCopyCommand": true,
									"disableMetricsCollection": false
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "ADLSG2 TimeAnalytics DEV",
										"type": "LinkedServiceReference"
									},
									"path": "mdr-raw-data/Polybase_Staging_Space"
								},
								"enableSkipIncompatibleRow": true,
								"logSettings": {
									"enableCopyActivityLog": true,
									"copyActivityLogSettings": {
										"logLevel": "Warning",
										"enableReliableLogging": false
									},
									"logLocationSettings": {
										"linkedServiceName": {
											"referenceName": "ADGLS2 SRCDEST DEV",
											"type": "LinkedServiceReference"
										}
									}
								},
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "TRANSACTION_ID",
												"type": "String"
											},
											"sink": {
												"name": "TRANSACTION_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "INTF_RETURNS_TO_SHIPPING",
												"type": "String"
											},
											"sink": {
												"name": "INTF_RETURNS_TO_SHIPPING",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CONSUMED_QUANTITY",
												"type": "String"
											},
											"sink": {
												"name": "CONSUMED_QUANTITY",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "LAST_UPDATE_DATE",
												"type": "String"
											},
											"sink": {
												"name": "LAST_UPDATE_DATE",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "LAST_UPDATED_BY",
												"type": "String"
											},
											"sink": {
												"name": "LAST_UPDATED_BY",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CREATION_DATE",
												"type": "String"
											},
											"sink": {
												"name": "CREATION_DATE",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "CREATED_BY",
												"type": "String"
											},
											"sink": {
												"name": "CREATED_BY",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "LAST_UPDATE_LOGIN",
												"type": "String"
											},
											"sink": {
												"name": "LAST_UPDATE_LOGIN",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "REQUEST_ID",
												"type": "String"
											},
											"sink": {
												"name": "REQUEST_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "TRANSACTION_TYPE",
												"type": "String"
											},
											"sink": {
												"name": "TRANSACTION_TYPE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "TRANSACTION_DATE",
												"type": "String"
											},
											"sink": {
												"name": "TRANSACTION_DATE",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "QUANTITY",
												"type": "String"
											},
											"sink": {
												"name": "QUANTITY",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "UOM_CODE",
												"type": "String"
											},
											"sink": {
												"name": "UOM_CODE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "SHIPMENT_HEADER_ID",
												"type": "String"
											},
											"sink": {
												"name": "SHIPMENT_HEADER_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "SHIPMENT_LINE_ID",
												"type": "String"
											},
											"sink": {
												"name": "SHIPMENT_LINE_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "USER_ENTERED_FLAG",
												"type": "String"
											},
											"sink": {
												"name": "USER_ENTERED_FLAG",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "INTERFACE_SOURCE_CODE",
												"type": "String"
											},
											"sink": {
												"name": "INTERFACE_SOURCE_CODE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "INTERFACE_SOURCE_LINE_ID",
												"type": "String"
											},
											"sink": {
												"name": "INTERFACE_SOURCE_LINE_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "INV_TRANSACTION_ID",
												"type": "String"
											},
											"sink": {
												"name": "INV_TRANSACTION_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "SOURCE_DOCUMENT_CODE",
												"type": "String"
											},
											"sink": {
												"name": "SOURCE_DOCUMENT_CODE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DESTINATION_TYPE_CODE",
												"type": "String"
											},
											"sink": {
												"name": "DESTINATION_TYPE_CODE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PRIMARY_QUANTITY",
												"type": "String"
											},
											"sink": {
												"name": "PRIMARY_QUANTITY",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PRIMARY_UOM_CODE",
												"type": "String"
											},
											"sink": {
												"name": "PRIMARY_UOM_CODE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "EMPLOYEE_ID",
												"type": "String"
											},
											"sink": {
												"name": "EMPLOYEE_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PARENT_TRANSACTION_ID",
												"type": "String"
											},
											"sink": {
												"name": "PARENT_TRANSACTION_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PO_HEADER_ID",
												"type": "String"
											},
											"sink": {
												"name": "PO_HEADER_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PO_LINE_ID",
												"type": "String"
											},
											"sink": {
												"name": "PO_LINE_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PO_LINE_LOCATION_ID",
												"type": "String"
											},
											"sink": {
												"name": "PO_LINE_LOCATION_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PO_DISTRIBUTION_ID",
												"type": "String"
											},
											"sink": {
												"name": "PO_DISTRIBUTION_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PO_REVISION_NUM",
												"type": "String"
											},
											"sink": {
												"name": "PO_REVISION_NUM",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "REQUISITION_LINE_ID",
												"type": "String"
											},
											"sink": {
												"name": "REQUISITION_LINE_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PO_UNIT_PRICE",
												"type": "String"
											},
											"sink": {
												"name": "PO_UNIT_PRICE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CURRENCY_CODE",
												"type": "String"
											},
											"sink": {
												"name": "CURRENCY_CODE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CURRENCY_CONVERSION_TYPE",
												"type": "String"
											},
											"sink": {
												"name": "CURRENCY_CONVERSION_TYPE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CURRENCY_CONVERSION_RATE",
												"type": "String"
											},
											"sink": {
												"name": "CURRENCY_CONVERSION_RATE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CURRENCY_CONVERSION_DATE",
												"type": "String"
											},
											"sink": {
												"name": "CURRENCY_CONVERSION_DATE",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "ROUTING_HEADER_ID",
												"type": "String"
											},
											"sink": {
												"name": "ROUTING_HEADER_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ROUTING_STEP_ID",
												"type": "String"
											},
											"sink": {
												"name": "ROUTING_STEP_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DELIVER_TO_PERSON_ID",
												"type": "String"
											},
											"sink": {
												"name": "DELIVER_TO_PERSON_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DELIVER_TO_LOCATION_ID",
												"type": "String"
											},
											"sink": {
												"name": "DELIVER_TO_LOCATION_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "VENDOR_ID",
												"type": "String"
											},
											"sink": {
												"name": "VENDOR_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "VENDOR_SITE_ID",
												"type": "String"
											},
											"sink": {
												"name": "VENDOR_SITE_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ORGANIZATION_ID",
												"type": "String"
											},
											"sink": {
												"name": "ORGANIZATION_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "SUBINVENTORY",
												"type": "String"
											},
											"sink": {
												"name": "SUBINVENTORY",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "LOCATOR_ID",
												"type": "String"
											},
											"sink": {
												"name": "LOCATOR_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "WIP_ENTITY_ID",
												"type": "String"
											},
											"sink": {
												"name": "WIP_ENTITY_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "WIP_LINE_ID",
												"type": "String"
											},
											"sink": {
												"name": "WIP_LINE_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "WIP_REPETITIVE_SCHEDULE_ID",
												"type": "String"
											},
											"sink": {
												"name": "WIP_REPETITIVE_SCHEDULE_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "WIP_OPERATION_SEQ_NUM",
												"type": "String"
											},
											"sink": {
												"name": "WIP_OPERATION_SEQ_NUM",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "WIP_RESOURCE_SEQ_NUM",
												"type": "String"
											},
											"sink": {
												"name": "WIP_RESOURCE_SEQ_NUM",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "BOM_RESOURCE_ID",
												"type": "String"
											},
											"sink": {
												"name": "BOM_RESOURCE_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "LOCATION_ID",
												"type": "String"
											},
											"sink": {
												"name": "LOCATION_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "SUBSTITUTE_UNORDERED_CODE",
												"type": "String"
											},
											"sink": {
												"name": "SUBSTITUTE_UNORDERED_CODE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "RECEIPT_EXCEPTION_FLAG",
												"type": "String"
											},
											"sink": {
												"name": "RECEIPT_EXCEPTION_FLAG",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "INSPECTION_STATUS_CODE",
												"type": "String"
											},
											"sink": {
												"name": "INSPECTION_STATUS_CODE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ACCRUAL_STATUS_CODE",
												"type": "String"
											},
											"sink": {
												"name": "ACCRUAL_STATUS_CODE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "INSPECTION_QUALITY_CODE",
												"type": "String"
											},
											"sink": {
												"name": "INSPECTION_QUALITY_CODE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "VENDOR_LOT_NUM",
												"type": "String"
											},
											"sink": {
												"name": "VENDOR_LOT_NUM",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "RMA_REFERENCE",
												"type": "String"
											},
											"sink": {
												"name": "RMA_REFERENCE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "COMMENTS",
												"type": "String"
											},
											"sink": {
												"name": "COMMENTS",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE_CATEGORY",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE_CATEGORY",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE1",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE1",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE2",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE2",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE3",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE3",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE4",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE4",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE5",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE5",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE6",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE6",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE7",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE7",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE8",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE8",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE9",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE9",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE10",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE10",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE11",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE11",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE12",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE12",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE13",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE13",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE14",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE14",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE15",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE15",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE16",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE16",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE17",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE17",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE18",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE18",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE19",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE19",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE20",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE20",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE_NUMBER1",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE_NUMBER1",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE_NUMBER2",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE_NUMBER2",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE_NUMBER3",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE_NUMBER3",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE_NUMBER4",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE_NUMBER4",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE_NUMBER5",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE_NUMBER5",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE_NUMBER6",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE_NUMBER6",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE_NUMBER7",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE_NUMBER7",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE_NUMBER8",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE_NUMBER8",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE_NUMBER9",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE_NUMBER9",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE_NUMBER10",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE_NUMBER10",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE_DATE1",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE_DATE1",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE_DATE2",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE_DATE2",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE_DATE3",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE_DATE3",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE_DATE4",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE_DATE4",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE_DATE5",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE_DATE5",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE_TIMESTAMP1",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE_TIMESTAMP1",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE_TIMESTAMP2",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE_TIMESTAMP2",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE_TIMESTAMP3",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE_TIMESTAMP3",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE_TIMESTAMP4",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE_TIMESTAMP4",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "ATTRIBUTE_TIMESTAMP5",
												"type": "String"
											},
											"sink": {
												"name": "ATTRIBUTE_TIMESTAMP5",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "REQ_DISTRIBUTION_ID",
												"type": "String"
											},
											"sink": {
												"name": "REQ_DISTRIBUTION_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DEPARTMENT_CODE",
												"type": "String"
											},
											"sink": {
												"name": "DEPARTMENT_CODE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "REASON_ID",
												"type": "String"
											},
											"sink": {
												"name": "REASON_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DESTINATION_CONTEXT",
												"type": "String"
											},
											"sink": {
												"name": "DESTINATION_CONTEXT",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "LOCATOR_ATTRIBUTE",
												"type": "String"
											},
											"sink": {
												"name": "LOCATOR_ATTRIBUTE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CHILD_INSPECTION_FLAG",
												"type": "String"
											},
											"sink": {
												"name": "CHILD_INSPECTION_FLAG",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "SOURCE_DOC_QUANTITY",
												"type": "String"
											},
											"sink": {
												"name": "SOURCE_DOC_QUANTITY",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "SOURCE_DOC_UOM_CODE",
												"type": "String"
											},
											"sink": {
												"name": "SOURCE_DOC_UOM_CODE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "INTERFACE_TRANSACTION_ID",
												"type": "String"
											},
											"sink": {
												"name": "INTERFACE_TRANSACTION_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "INTERFACE_GROUP_ID",
												"type": "String"
											},
											"sink": {
												"name": "INTERFACE_GROUP_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "GROUP_ID",
												"type": "String"
											},
											"sink": {
												"name": "GROUP_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "MOVEMENT_ID",
												"type": "String"
											},
											"sink": {
												"name": "MOVEMENT_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "INVOICE_ID",
												"type": "String"
											},
											"sink": {
												"name": "INVOICE_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "INVOICE_STATUS_CODE",
												"type": "String"
											},
											"sink": {
												"name": "INVOICE_STATUS_CODE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "QA_COLLECTION_ID",
												"type": "String"
											},
											"sink": {
												"name": "QA_COLLECTION_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "COUNTRY_OF_ORIGIN_CODE",
												"type": "String"
											},
											"sink": {
												"name": "COUNTRY_OF_ORIGIN_CODE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "MVT_STAT_STATUS",
												"type": "String"
											},
											"sink": {
												"name": "MVT_STAT_STATUS",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "QUANTITY_BILLED",
												"type": "String"
											},
											"sink": {
												"name": "QUANTITY_BILLED",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "MATCH_FLAG",
												"type": "String"
											},
											"sink": {
												"name": "MATCH_FLAG",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "AMOUNT_BILLED",
												"type": "String"
											},
											"sink": {
												"name": "AMOUNT_BILLED",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "BASE_AMOUNT_BILLED",
												"type": "String"
											},
											"sink": {
												"name": "BASE_AMOUNT_BILLED",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "MATCH_OPTION",
												"type": "String"
											},
											"sink": {
												"name": "MATCH_OPTION",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CONSIGNED_FLAG",
												"type": "String"
											},
											"sink": {
												"name": "CONSIGNED_FLAG",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "BACK_TO_BACK_FLAG",
												"type": "String"
											},
											"sink": {
												"name": "BACK_TO_BACK_FLAG",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CUSTOMER_ID",
												"type": "String"
											},
											"sink": {
												"name": "CUSTOMER_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CUSTOMER_SITE_ID",
												"type": "String"
											},
											"sink": {
												"name": "CUSTOMER_SITE_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "LPN_ID",
												"type": "String"
											},
											"sink": {
												"name": "LPN_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "TRANSFER_LPN_ID",
												"type": "String"
											},
											"sink": {
												"name": "TRANSFER_LPN_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "MOBILE_TXN",
												"type": "String"
											},
											"sink": {
												"name": "MOBILE_TXN",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "SECONDARY_QUANTITY",
												"type": "String"
											},
											"sink": {
												"name": "SECONDARY_QUANTITY",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "SECONDARY_UOM_CODE",
												"type": "String"
											},
											"sink": {
												"name": "SECONDARY_UOM_CODE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "QC_GRADE",
												"type": "String"
											},
											"sink": {
												"name": "QC_GRADE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PA_ADDITION_FLAG",
												"type": "String"
											},
											"sink": {
												"name": "PA_ADDITION_FLAG",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "SOURCE_TRANSACTION_NUM",
												"type": "String"
											},
											"sink": {
												"name": "SOURCE_TRANSACTION_NUM",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "FROM_SUBINVENTORY",
												"type": "String"
											},
											"sink": {
												"name": "FROM_SUBINVENTORY",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "FROM_LOCATOR_ID",
												"type": "String"
											},
											"sink": {
												"name": "FROM_LOCATOR_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "AMOUNT",
												"type": "String"
											},
											"sink": {
												"name": "AMOUNT",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DROPSHIP_TYPE_CODE",
												"type": "String"
											},
											"sink": {
												"name": "DROPSHIP_TYPE_CODE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "LPN_GROUP_ID",
												"type": "String"
											},
											"sink": {
												"name": "LPN_GROUP_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "JOB_ID",
												"type": "String"
											},
											"sink": {
												"name": "JOB_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "TIMECARD_ID",
												"type": "String"
											},
											"sink": {
												"name": "TIMECARD_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "TIMECARD_OVN",
												"type": "String"
											},
											"sink": {
												"name": "TIMECARD_OVN",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PROJECT_ID",
												"type": "String"
											},
											"sink": {
												"name": "PROJECT_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "TASK_ID",
												"type": "String"
											},
											"sink": {
												"name": "TASK_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "REQUESTED_AMOUNT",
												"type": "String"
											},
											"sink": {
												"name": "REQUESTED_AMOUNT",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "MATERIAL_STORED_AMOUNT",
												"type": "String"
											},
											"sink": {
												"name": "MATERIAL_STORED_AMOUNT",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "REPLENISH_ORDER_LINE_ID",
												"type": "String"
											},
											"sink": {
												"name": "REPLENISH_ORDER_LINE_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "JOB_DEFINITION_PACKAGE",
												"type": "String"
											},
											"sink": {
												"name": "JOB_DEFINITION_PACKAGE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "JOB_DEFINITION_NAME",
												"type": "String"
											},
											"sink": {
												"name": "JOB_DEFINITION_NAME",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "OBJECT_VERSION_NUMBER",
												"type": "String"
											},
											"sink": {
												"name": "OBJECT_VERSION_NUMBER",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "RECEIPT_ADVICE_HEADER_ID",
												"type": "String"
											},
											"sink": {
												"name": "RECEIPT_ADVICE_HEADER_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "RECEIPT_ADVICE_LINE_ID",
												"type": "String"
											},
											"sink": {
												"name": "RECEIPT_ADVICE_LINE_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "RCPT_CONF_STATUS",
												"type": "String"
											},
											"sink": {
												"name": "RCPT_CONF_STATUS",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "RCPT_CONF_MESSAGE_NUMBER",
												"type": "String"
											},
											"sink": {
												"name": "RCPT_CONF_MESSAGE_NUMBER",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "SP_QUANTITY",
												"type": "String"
											},
											"sink": {
												"name": "SP_QUANTITY",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "SP_UOM_CODE",
												"type": "String"
											},
											"sink": {
												"name": "SP_UOM_CODE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "SP_GROUP_ID",
												"type": "String"
											},
											"sink": {
												"name": "SP_GROUP_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PARENT_SP_GROUP_ID",
												"type": "String"
											},
											"sink": {
												"name": "PARENT_SP_GROUP_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "TXN_FLOW_HEADER_ID",
												"type": "String"
											},
											"sink": {
												"name": "TXN_FLOW_HEADER_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "TRANSFER_ORDER_HEADER_ID",
												"type": "String"
											},
											"sink": {
												"name": "TRANSFER_ORDER_HEADER_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "TRANSFER_ORDER_LINE_ID",
												"type": "String"
											},
											"sink": {
												"name": "TRANSFER_ORDER_LINE_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "TRANSFER_ORDER_DIST_ID",
												"type": "String"
											},
											"sink": {
												"name": "TRANSFER_ORDER_DIST_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PHYSICAL_RETURN_REQD",
												"type": "String"
											},
											"sink": {
												"name": "PHYSICAL_RETURN_REQD",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "FIRST_PTY_REG_ID",
												"type": "String"
											},
											"sink": {
												"name": "FIRST_PTY_REG_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "THIRD_PTY_REG_ID",
												"type": "String"
											},
											"sink": {
												"name": "THIRD_PTY_REG_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DEFAULT_TAXATION_COUNTRY",
												"type": "String"
											},
											"sink": {
												"name": "DEFAULT_TAXATION_COUNTRY",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DOCUMENT_FISCAL_CLASSIFICATION",
												"type": "String"
											},
											"sink": {
												"name": "DOCUMENT_FISCAL_CLASSIFICATION",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "TRX_BUSINESS_CATEGORY",
												"type": "String"
											},
											"sink": {
												"name": "TRX_BUSINESS_CATEGORY",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "TAX_INVOICE_NUMBER",
												"type": "String"
											},
											"sink": {
												"name": "TAX_INVOICE_NUMBER",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "TAX_INVOICE_DATE",
												"type": "String"
											},
											"sink": {
												"name": "TAX_INVOICE_DATE",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "SHIP_FROM_LOCATION_ID",
												"type": "String"
											},
											"sink": {
												"name": "SHIP_FROM_LOCATION_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "USER_DEFINED_FISC_CLASS",
												"type": "String"
											},
											"sink": {
												"name": "USER_DEFINED_FISC_CLASS",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "TAX_CLASSIFICATION_CODE",
												"type": "String"
											},
											"sink": {
												"name": "TAX_CLASSIFICATION_CODE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PRODUCT_FISC_CLASS_ID",
												"type": "String"
											},
											"sink": {
												"name": "PRODUCT_FISC_CLASS_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "INTENDED_USE",
												"type": "String"
											},
											"sink": {
												"name": "INTENDED_USE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "INTENDED_USE_CLASSIF_ID",
												"type": "String"
											},
											"sink": {
												"name": "INTENDED_USE_CLASSIF_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PRODUCT_TYPE",
												"type": "String"
											},
											"sink": {
												"name": "PRODUCT_TYPE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PRODUCT_CATEGORY",
												"type": "String"
											},
											"sink": {
												"name": "PRODUCT_CATEGORY",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ASSESSABLE_VALUE",
												"type": "String"
											},
											"sink": {
												"name": "ASSESSABLE_VALUE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "FINAL_DISCHARGE_LOCATION_ID",
												"type": "String"
											},
											"sink": {
												"name": "FINAL_DISCHARGE_LOCATION_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DS_RECEIPT_EVENT_TYPE",
												"type": "String"
											},
											"sink": {
												"name": "DS_RECEIPT_EVENT_TYPE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DS_RECEIPT_SOURCE_LINE_ID",
												"type": "String"
											},
											"sink": {
												"name": "DS_RECEIPT_SOURCE_LINE_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CSE_INTERFACE_STATUS_CODE",
												"type": "String"
											},
											"sink": {
												"name": "CSE_INTERFACE_STATUS_CODE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "FISCAL_DOC_HEADER_ID",
												"type": "String"
											},
											"sink": {
												"name": "FISCAL_DOC_HEADER_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "FISCAL_DOC_ACCESS_KNUM",
												"type": "String"
											},
											"sink": {
												"name": "FISCAL_DOC_ACCESS_KNUM",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "FISCAL_DOC_LINE_ID",
												"type": "String"
											},
											"sink": {
												"name": "FISCAL_DOC_LINE_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "REF_FISCAL_DOC_HEADER_ID",
												"type": "String"
											},
											"sink": {
												"name": "REF_FISCAL_DOC_HEADER_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "REF_FISCAL_DOC_LINE_ID",
												"type": "String"
											},
											"sink": {
												"name": "REF_FISCAL_DOC_LINE_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "REF_FISCAL_DOC_ACCESS_KNUM",
												"type": "String"
											},
											"sink": {
												"name": "REF_FISCAL_DOC_ACCESS_KNUM",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "RETURN_TO_HEADER_ID",
												"type": "String"
											},
											"sink": {
												"name": "RETURN_TO_HEADER_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "RETURN_TO_LINE_ID",
												"type": "String"
											},
											"sink": {
												"name": "RETURN_TO_LINE_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "BUSINESS_EVENT_PUBLISHED",
												"type": "String"
											},
											"sink": {
												"name": "BUSINESS_EVENT_PUBLISHED",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "INTF_FROM_EXT_SYSTEM_FLAG",
												"type": "String"
											},
											"sink": {
												"name": "INTF_FROM_EXT_SYSTEM_FLAG",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "FISCAL_DOC_SCHEDULE_ID",
												"type": "String"
											},
											"sink": {
												"name": "FISCAL_DOC_SCHEDULE_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "REF_FISCAL_DOC_SCHEDULE_ID",
												"type": "String"
											},
											"sink": {
												"name": "REF_FISCAL_DOC_SCHEDULE_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "QA_IP_EVENT_ID",
												"type": "String"
											},
											"sink": {
												"name": "QA_IP_EVENT_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "QA_SKIP_INSPECTION",
												"type": "String"
											},
											"sink": {
												"name": "QA_SKIP_INSPECTION",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ERECORD_ID",
												"type": "String"
											},
											"sink": {
												"name": "ERECORD_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "EXTERNAL_SYSTEM_PACKING_UNIT",
												"type": "String"
											},
											"sink": {
												"name": "EXTERNAL_SYSTEM_PACKING_UNIT",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "AUTO_DEBIT_MEMO_CREATED",
												"type": "String"
											},
											"sink": {
												"name": "AUTO_DEBIT_MEMO_CREATED",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "EWAY_BILL_NUMBER",
												"type": "String"
											},
											"sink": {
												"name": "EWAY_BILL_NUMBER",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "EWAY_BILL_DATE",
												"type": "String"
											},
											"sink": {
												"name": "EWAY_BILL_DATE",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "INV_STRIPING_CATEGORY",
												"type": "String"
											},
											"sink": {
												"name": "INV_STRIPING_CATEGORY",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "INV_RESERVED_ATTRIBUTE1",
												"type": "String"
											},
											"sink": {
												"name": "INV_RESERVED_ATTRIBUTE1",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "INV_RESERVED_ATTRIBUTE2",
												"type": "String"
											},
											"sink": {
												"name": "INV_RESERVED_ATTRIBUTE2",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "INV_USER_DEF_ATTRIBUTE1",
												"type": "String"
											},
											"sink": {
												"name": "INV_USER_DEF_ATTRIBUTE1",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "INV_USER_DEF_ATTRIBUTE2",
												"type": "String"
											},
											"sink": {
												"name": "INV_USER_DEF_ATTRIBUTE2",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "INV_USER_DEF_ATTRIBUTE3",
												"type": "String"
											},
											"sink": {
												"name": "INV_USER_DEF_ATTRIBUTE3",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "INV_USER_DEF_ATTRIBUTE4",
												"type": "String"
											},
											"sink": {
												"name": "INV_USER_DEF_ATTRIBUTE4",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "INV_USER_DEF_ATTRIBUTE5",
												"type": "String"
											},
											"sink": {
												"name": "INV_USER_DEF_ATTRIBUTE5",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "INV_USER_DEF_ATTRIBUTE6",
												"type": "String"
											},
											"sink": {
												"name": "INV_USER_DEF_ATTRIBUTE6",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "INV_USER_DEF_ATTRIBUTE7",
												"type": "String"
											},
											"sink": {
												"name": "INV_USER_DEF_ATTRIBUTE7",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "INV_USER_DEF_ATTRIBUTE8",
												"type": "String"
											},
											"sink": {
												"name": "INV_USER_DEF_ATTRIBUTE8",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "INV_USER_DEF_ATTRIBUTE9",
												"type": "String"
											},
											"sink": {
												"name": "INV_USER_DEF_ATTRIBUTE9",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "INV_USER_DEF_ATTRIBUTE10",
												"type": "String"
											},
											"sink": {
												"name": "INV_USER_DEF_ATTRIBUTE10",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "RECALL_HEADER_ID",
												"type": "String"
											},
											"sink": {
												"name": "RECALL_HEADER_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "RECALL_LINE_ID",
												"type": "String"
											},
											"sink": {
												"name": "RECALL_LINE_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "EXTERNAL_SYS_TXN_REFERENCE",
												"type": "String"
											},
											"sink": {
												"name": "EXTERNAL_SYS_TXN_REFERENCE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PRICING_QUANTITY",
												"type": "String"
											},
											"sink": {
												"name": "PRICING_QUANTITY",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PRICING_UOM_CODE",
												"type": "String"
											},
											"sink": {
												"name": "PRICING_UOM_CODE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ALM_INTERFACE_STATUS",
												"type": "String"
											},
											"sink": {
												"name": "ALM_INTERFACE_STATUS",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "BILLING_UOM_CODE",
												"type": "String"
											},
											"sink": {
												"name": "BILLING_UOM_CODE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "SCH_INTERFACE_STATUS",
												"type": "String"
											},
											"sink": {
												"name": "SCH_INTERFACE_STATUS",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ELASTIC_SEARCH_INGEST_STATUS",
												"type": "String"
											},
											"sink": {
												"name": "ELASTIC_SEARCH_INGEST_STATUS",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DEFAULT_LOTSER_FROM_SHIPMENT",
												"type": "String"
											},
											"sink": {
												"name": "DEFAULT_LOTSER_FROM_SHIPMENT",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DELIVERY_REQUIRED_FLAG",
												"type": "String"
											},
											"sink": {
												"name": "DELIVERY_REQUIRED_FLAG",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DIRECT_TRANSFER_ORDER_FLAG",
												"type": "String"
											},
											"sink": {
												"name": "DIRECT_TRANSFER_ORDER_FLAG",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "SUPPLIER_RETURN_HEADER_ID",
												"type": "String"
											},
											"sink": {
												"name": "SUPPLIER_RETURN_HEADER_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "SUPPLIER_RETURN_LINE_ID",
												"type": "String"
											},
											"sink": {
												"name": "SUPPLIER_RETURN_LINE_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "RETURN_FOR_CREDIT_FLAG",
												"type": "String"
											},
											"sink": {
												"name": "RETURN_FOR_CREDIT_FLAG",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "COPY_LOTSER_PARENT_TXN",
												"type": "String"
											},
											"sink": {
												"name": "COPY_LOTSER_PARENT_TXN",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "source_name",
												"type": "String"
											},
											"sink": {
												"name": "source_name",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "sub_source_name",
												"type": "String"
											},
											"sink": {
												"name": "sub_source_name",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "created_date_time",
												"type": "String"
											},
											"sink": {
												"name": "created_date_time",
												"type": "DateTime"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "ds_adlsg2_csv_rcv_transactions_source_stage_final_flatten_csv",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_AzureSynapseAnalytics_rcv_transactions",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Set Start Date",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "lk_get_pipeline_parameters_to_lookup_dates",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_start_date",
								"value": {
									"value": "@activity('lk_get_pipeline_parameters_to_lookup_dates').output.firstRow.start_date",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set End Date",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set Start Date",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_end_date",
								"value": {
									"value": "@formatDateTime(addDays(activity('lk_get_pipeline_parameters_to_lookup_dates').output.firstRow.start_date,int(activity('lk_get_pipeline_parameters_to_lookup_dates').output.firstRow.number_of_days)),'yyyy-MM-dd HH:mm:ss')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Increment Start Date",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Insert from stage to final table",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[updateIncrementPipelineParameterValue]",
								"storedProcedureParameters": {
									"pParameterValue": {
										"value": {
											"value": "@formatDateTime(addDays(activity('lk_get_pipeline_parameters_to_lookup_dates').output.firstRow.start_date,int(activity('lk_get_pipeline_parameters_to_lookup_dates').output.firstRow.number_of_days)),'yyyy-MM-dd HH:mm:ss')",
											"type": "Expression"
										},
										"type": "String"
									},
									"pPipelineCode": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"pPipelineSubCode": {
										"value": "NetworkFolder",
										"type": "String"
									},
									"pParameterCode": {
										"value": "start_date",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSynapseDB_DEV",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Insert from stage to final table",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Delete NULL Rcv_Transactions_All",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "linkedservice_DEV_entanalytics_synapse",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "NonQuery",
										"text": "insert into [rpy].[Rcv_Transactions] select * from [rpy].[Rcv_Transactions_stage]"
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "lk_get_pipeline_parameters_to_lookup_dates",
							"description": "Get the parameters to be used in this pipeline",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlDWSource",
									"sqlReaderStoredProcedureName": "getPipelineParametersValues",
									"storedProcedureParameters": {
										"pPipelineCode": {
											"type": "String",
											"value": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											}
										},
										"pPipeLineSubCode": {
											"type": "String",
											"value": {
												"value": "NetworkFolder",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_azure_synapse_parameter",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Delete NULL Rcv_Transactions_All",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Copy Latest Data To Synapse Stage Table",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "linkedservice_DEV_entanalytics_synapse",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "NonQuery",
										"text": "delete from [rpy].[Rcv_Transactions_stage] where TRANSACTION_ID is NULL"
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "Increment Start Date_copy1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "CP_Rcv_Transactions_Src_to_Stage",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[updateIncrementPipelineParameterValue]",
								"storedProcedureParameters": {
									"pParameterValue": {
										"value": {
											"value": "@formatDateTime(addDays(activity('lk_get_pipeline_parameters_to_lookup_dates').output.firstRow.start_date,int(activity('lk_get_pipeline_parameters_to_lookup_dates').output.firstRow.number_of_days)),'yyyy-MM-dd HH:mm:ss')",
											"type": "Expression"
										},
										"type": "String"
									},
									"pPipelineCode": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"pPipelineSubCode": {
										"value": "NetworkFolder",
										"type": "String"
									},
									"pParameterCode": {
										"value": "start_date",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSynapseDB_DEV",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Get Access Token",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Set End Date",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "POST",
								"headers": {
									"Content-Type": {
										"value": "application/x-www-form-urlencoded",
										"type": "Expression"
									}
								},
								"url": {
									"value": "@activity('lk_get_pipeline_parameters_to_lookup_dates').output.firstRow.token_url",
									"type": "Expression"
								},
								"body": {
									"value": "grant_type=client_credentials&client_id=@{activity('GetClientId').output.value}&client_secret=@{activity('GetClientSecret').output.value}&scope=@{activity('lk_get_pipeline_parameters').output.firstRow.scope}",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "6.12:00:00"
				}
			},
			{
				"name": "Update Start Date with max LAST_UPDATE_DATE",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Lookup to get max LAST_UPDATE_DATE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[updateIncrementPipelineParameterValue]",
					"storedProcedureParameters": {
						"pParameterValue": {
							"value": {
								"value": "@formatDateTime(activity('Lookup to get max LAST_UPDATE_DATE').output.firstRow.last_update_date,'yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							},
							"type": "String"
						},
						"pPipelineCode": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"pPipelineSubCode": {
							"value": "NetworkFolder",
							"type": "String"
						},
						"pParameterCode": {
							"value": "start_date",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSynapseDB_DEV",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Lookup to get max LAST_UPDATE_DATE",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Run Until start date equals to end date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "select max(LAST_UPDATE_DATE) as last_update_date from [rpy].[Rcv_Transactions]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSynapseAnalyticsDB",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Send Email On Failure",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Run Until start date equals to end date",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": "https://prod-31.eastus.logic.azure.com:443/workflows/03d7da5abbab4215a05aeaceae3b96fa/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=asuyutHtoSxGFURsj1-A6AKRiNLdXZ4mTnZvZ17_8hI",
					"connectVia": {
						"referenceName": "integrationRuntimeEast2",
						"type": "IntegrationRuntimeReference"
					},
					"body": {
						"value": "{\n    \"DataFactoryName\": \"@{pipeline().DataFactory}\",\n    \"PipelineName\": \"@{pipeline().Pipeline}\",\n    \"ErrorMessage\": \"Pipeline Failed\",\n    \"EmailTo\": \"@{activity('lk_get_pipeline_parameters_2').output.firstRow.ncsa_master_pipeline_email_to}\",\n    \"Activity\":  \"pl_rcv_transactions\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "lk_get_pipeline_parameters_2",
				"description": "Get the parameters to be used in this pipeline",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "getPipelineParametersValues",
						"storedProcedureParameters": {
							"pPipelineCode": {
								"type": "String",
								"value": "pl_ncsa_master_pipelines"
							},
							"pPipeLineSubCode": {
								"type": "String",
								"value": "EMAIL"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azure_synapse_parameter",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "GetClientId",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "lk_get_pipeline_parameters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@activity('lk_get_pipeline_parameters').output.firstRow.client_id",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": {
							"value": "@concat(split(activity('lk_get_pipeline_parameters').output.firstRow.client_id, '/secrets')[0], '/')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "GetClientSecret",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "lk_get_pipeline_parameters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@activity('lk_get_pipeline_parameters').output.firstRow.client_secret",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": {
							"value": "@concat(split(activity('lk_get_pipeline_parameters').output.firstRow.client_secret, '/secrets')[0], '/')",
							"type": "Expression"
						}
					}
				}
			}
		],
		"variables": {
			"v_end_date": {
				"type": "String"
			},
			"v_start_date": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Projects/Payment Dashboard"
		},
		"annotations": []
	}
}