pipeline/pl_sr_sitepro_raw_to_synapse.json
{
	"name": "pl_sr_sitepro_raw_to_synapse",
	"properties": {
		"activities": [
			{
				"name": "RawToSynapse",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "lkup_Get_Pipeline_parameters_getlrd",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": {
								"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.start_date",
								"type": "Expression"
							},
							"wildcardFolderPath": "Project_Data/NCSA/SitePro/SR/*/*/*",
							"wildcardFileName": "sr_sitepro*.csv"
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table gpd.NCSA_ScheduleResource",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Code",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Name",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DefaultCrewSize",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "DefaultCrewSize",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "PF_Planned",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PF_Planned",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "PF_Actual",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PF_Actual",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "PF_RollingPeriods",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PF_RollingPeriods",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "MaxWorkPackThreshold",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "MaxWorkPackThreshold",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "MinWorkPackThreshold",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "MinWorkPackThreshold",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "CreatedByID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "CreateByID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "ModifiedByID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ModifiedByID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "CreatedDate",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "CreatedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "ModifiedDate",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ModifiedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "FirstImportID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "FirstImportID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "LastImportID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "LastImportID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "SubPrime",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "SubPrime",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "IsActive",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "IsActive",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "SPMDiscipline",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "SPMDiscipline",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MaterialCategoryID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "MaterialCategoryID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "project_id",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "project_id",
									"type": "Int32",
									"physicalType": "int"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_adls2_sp_sr_raw",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_AzureSynapseAnalytics_sr_sitepro_stage",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "load_sp_dim_entp_schedule resource",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "RawToSynapse",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[generic_load_dim_v2]",
					"storedProcedureParameters": {
						"debug_flag": {
							"value": "N",
							"type": "String"
						},
						"execute_flag": {
							"value": "Y",
							"type": "String"
						},
						"load_name": {
							"value": "dim_entp_schedule_resource",
							"type": "String"
						},
						"rkValidationRequired": {
							"value": "Y",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "linkedservice_DEV_entanalytics_synapse",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "lkup_Get_Pipeline_parameters_getlrd",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "getPipelineParametersValues",
						"storedProcedureParameters": {
							"pPipelineCode": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"pPipeLineSubCode": {
								"type": "String",
								"value": "Sitepro"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azure_synapse_parameter",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SP Update Control Table Last Run Date",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "load_sp_dim_entp_schedule resource",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[updateIncrementPipelineParameterValue]",
					"storedProcedureParameters": {
						"pParameterCode": {
							"value": "start_date",
							"type": "String"
						},
						"pParameterValue": {
							"value": {
								"value": "@formatDateTime(utcnow(),'yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							},
							"type": "String"
						},
						"pPipelineCode": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"pPipelineSubCode": {
							"value": "Sitepro",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "linkedservice_DEV_entanalytics_synapse",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "Projects/NCSA/4. Scheduled Resource"
		},
		"annotations": [],
		"lastPublishTime": "2021-04-16T07:11:15Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}