pipeline/pl_time_office_stage_to_raw.json
{
	"name": "pl_time_office_stage_to_raw",
	"properties": {
		"description": "Pipeline to create template to load Common STG - RAW data without dataflow.",
		"activities": [
			{
				"name": "Check Employee File Exists",
				"description": "Checking if the Stage file is available before progressing to the next activity.",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Set employee filename",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set employee folderpath",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_adlsg2_csv_ncsa_time_office_employee_master_source",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists",
						"size"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Run copy if File Exists",
				"description": "Execute if a valid stage file is present",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Check Employee File Exists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Check Employee File Exists').output.size, 2)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "cp_STG_to_RAW_Employee",
							"description": "Copy the Stage file into the RAW container at the same folder hierarchy but with additional timestamps ",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "1.00:00:00",
								"retry": 1,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "MergeFiles"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_adlsg2_csv_parameter_generic",
									"type": "DatasetReference",
									"parameters": {
										"p_ds_filename": {
											"value": "@concat(variables('v_employee_filename'),'.csv')",
											"type": "Expression"
										},
										"p_ds_folderpath": {
											"value": "@concat(variables('v_employee_folderpath'),'/')",
											"type": "Expression"
										},
										"p_ds_first_row_header": true,
										"p_ds_filesystem": "mdr-staging-data"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adlsg2_csv_parameter_generic",
									"type": "DatasetReference",
									"parameters": {
										"p_ds_filename": {
											"value": "@{concat('/',formatDateTime(utcnow(),'yyyy'),'/',formatDateTime(utcnow(),'MM'),'/',formatDateTime(utcnow(),'dd'),'/',variables('v_employee_filename'), '_', formatDateTime(utcnow(),'yyyy-MM-dd THHmmss'), '.csv')  }",
											"type": "Expression"
										},
										"p_ds_folderpath": {
											"value": "@variables('v_employee_folderpath')",
											"type": "Expression"
										},
										"p_ds_first_row_header": true,
										"p_ds_filesystem": "mdr-raw-data"
									}
								}
							]
						},
						{
							"name": "Cleanup_stage_employee",
							"description": "Cleanup Stage container of the stage file. So a fresh file is loaded next time",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "cp_STG_to_RAW_Employee",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "1.00:00:00",
								"retry": 1,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_adlsg2_csv_parameter_generic",
									"type": "DatasetReference",
									"parameters": {
										"p_ds_filename": {
											"value": "@concat(variables('v_employee_filename'),'.csv')",
											"type": "Expression"
										},
										"p_ds_folderpath": {
											"value": "@concat(variables('v_employee_folderpath'),'/')",
											"type": "Expression"
										},
										"p_ds_first_row_header": true,
										"p_ds_filesystem": "mdr-staging-data"
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			},
			{
				"name": "lk_get_pipeline_parameters",
				"description": "Lookup the parameters required for this pipeline:\nfile_name\nfolder_path",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "getPipelineParametersValues",
						"storedProcedureParameters": {
							"pPipelineCode": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"pPipeLineSubCode": {
								"type": "String",
								"value": "NetworkFolder"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azure_synapse_parameter",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Check Supervisor File Exists",
				"description": "Checking if the Stage file is available before progressing to the next activity.",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Set supervisor filename",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set supervisor folderpath",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_adlsg2_csv_ncsa_time_office_supervisor_master_final",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists",
						"size"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Run copy if File Exists_copy1",
				"description": "Execute if a valid stage file is present",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Check Supervisor File Exists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Check Supervisor File Exists').output.size, 2)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "cp_STG_to_RAW_Supervisor",
							"description": "Copy the Stage file into the RAW container at the same folder hierarchy but with additional timestamps ",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "1.00:00:00",
								"retry": 1,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "MergeFiles"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_adlsg2_csv_parameter_generic",
									"type": "DatasetReference",
									"parameters": {
										"p_ds_filename": {
											"value": "@concat(variables('v_supervisor_filename'),'.csv')",
											"type": "Expression"
										},
										"p_ds_folderpath": {
											"value": "@concat(variables('v_supervisor_folderpath'),'/')",
											"type": "Expression"
										},
										"p_ds_first_row_header": true,
										"p_ds_filesystem": "mdr-staging-data"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adlsg2_csv_parameter_generic",
									"type": "DatasetReference",
									"parameters": {
										"p_ds_filename": {
											"value": "@{concat('/',formatDateTime(utcnow(),'yyyy'),'/',formatDateTime(utcnow(),'MM'),'/',formatDateTime(utcnow(),'dd'),'/',variables('v_supervisor_filename'), '_', formatDateTime(utcnow(),'yyyy-MM-dd THHmmss'), '.csv')  }",
											"type": "Expression"
										},
										"p_ds_folderpath": {
											"value": "@variables('v_supervisor_folderpath')",
											"type": "Expression"
										},
										"p_ds_first_row_header": true,
										"p_ds_filesystem": "mdr-raw-data"
									}
								}
							]
						},
						{
							"name": "Cleanup_stage_supervisor",
							"description": "Cleanup Stage container of the stage file. So a fresh file is loaded next time",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "cp_STG_to_RAW_Supervisor",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "1.00:00:00",
								"retry": 1,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_adlsg2_csv_parameter_generic",
									"type": "DatasetReference",
									"parameters": {
										"p_ds_filename": {
											"value": "@concat(variables('v_supervisor_filename'),'.csv')",
											"type": "Expression"
										},
										"p_ds_folderpath": {
											"value": "@concat(variables('v_supervisor_folderpath'),'/')",
											"type": "Expression"
										},
										"p_ds_first_row_header": true,
										"p_ds_filesystem": "mdr-staging-data"
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			},
			{
				"name": "sp_Update_Parameter",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Run copy if File Exists_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[updateIncrementPipelineParameterValue]",
					"storedProcedureParameters": {
						"pParameterValue": {
							"value": {
								"value": "@formatDateTime(utcnow(),'yyyy-MM-dd HH:mm:ss.fff')",
								"type": "Expression"
							},
							"type": "String"
						},
						"pPipelineCode": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"pPipelineSubCode": {
							"value": "NetworkFolder",
							"type": "String"
						},
						"pParameterCode": {
							"value": "lastrundate",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSynapseDB_DEV",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set employee filename",
				"description": "Set the variable v_filename either from the lookupoutput or direct string assignment.",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "lk_get_pipeline_parameters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_employee_filename",
					"value": {
						"value": "@activity('lk_get_pipeline_parameters').output.firstRow.employee_file_name",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set employee folderpath",
				"description": "Set the variable v_folderpath either from the lookupoutput or direct string assignment.",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "lk_get_pipeline_parameters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_employee_folderpath",
					"value": {
						"value": "@activity('lk_get_pipeline_parameters').output.firstRow.employee_folder_path",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set supervisor filename",
				"description": "Set the variable v_filename either from the lookupoutput or direct string assignment.",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "lk_get_pipeline_parameters_supervisor",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_supervisor_filename",
					"value": {
						"value": "@activity('lk_get_pipeline_parameters_supervisor').output.firstRow.supervisor_master_file_name",
						"type": "Expression"
					}
				}
			},
			{
				"name": "lk_get_pipeline_parameters_supervisor",
				"description": "Lookup the parameters required for this pipeline:\nfile_name\nfolder_path",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Run copy if File Exists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "getPipelineParametersValues",
						"storedProcedureParameters": {
							"pPipelineCode": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"pPipeLineSubCode": {
								"type": "String",
								"value": "NetworkFolder"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azure_synapse_parameter",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set supervisor folderpath",
				"description": "Set the variable v_folderpath either from the lookupoutput or direct string assignment.",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "lk_get_pipeline_parameters_supervisor",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_supervisor_folderpath",
					"value": {
						"value": "@activity('lk_get_pipeline_parameters_supervisor').output.firstRow.supervisor_master_folder_path",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"p_pl_fileexists": {
				"type": "Boolean"
			},
			"v_employee_filename": {
				"type": "String"
			},
			"v_employee_folderpath": {
				"type": "String"
			},
			"v_supervisor_filename": {
				"type": "String"
			},
			"v_supervisor_folderpath": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Projects/NCSA/FAB Automation/Time Office"
		},
		"annotations": [],
		"lastPublishTime": "2024-01-12T10:37:08Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}