pipeline/pl_wa_sitepro_stage_to_raw.json
{
	"name": "pl_wa_sitepro_stage_to_raw",
	"properties": {
		"activities": [
			{
				"name": "Check File Exists",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_adlsg2_sitepro_wa_stage",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Set_File_Exists_status",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Check File Exists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "p_pl_fileexists",
					"value": {
						"value": "@greaterOrEquals(indexof(string(activity('Check File Exists').output.childItems),'sitepro_wa'),0)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Run Data Flow if File Exists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set_File_Exists_status",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@variables('p_pl_fileexists')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "df_WA_Stage_To_Raw",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.02:00:00",
								"retry": 1,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "df_wa_sitepro_stage_to_raw",
									"type": "DataFlowReference"
								},
								"integrationRuntime": {
									"referenceName": "integrationRuntimeEast2",
									"type": "IntegrationRuntimeReference"
								},
								"traceLevel": "Fine"
							}
						},
						{
							"name": "sp_Update_Parameter",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "df_WA_Stage_To_Raw",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[updateIncrementPipelineParameterValue]",
								"storedProcedureParameters": {
									"pParameterValue": {
										"value": {
											"value": "@formatDateTime(utcnow(),'yyyy-MM-dd HH:mm:ss.fff')",
											"type": "Expression"
										},
										"type": "String"
									},
									"pPipelineCode": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"pPipelineSubCode": {
										"value": "Sitepro",
										"type": "String"
									},
									"pParameterCode": {
										"value": "start_date",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSynapseDB_DEV",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"variables": {
			"p_pl_fileexists": {
				"type": "Boolean"
			}
		},
		"folder": {
			"name": "Projects/NCSA/3. Work Area"
		},
		"annotations": [],
		"lastPublishTime": "2021-12-16T09:16:45Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}