pipeline/pl_yardkpi_idocs_ms_master_fab_raw_to_synapse.json
{
	"name": "pl_yardkpi_idocs_ms_master_fab_raw_to_synapse",
	"properties": {
		"description": "Milestone Master - ADLS Raw to Synapse Stage table",
		"activities": [
			{
				"name": "Check Combined File non zero Bytes",
				"description": "Check if the combined file has any data to be loaded.",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "cp_Get_Latest_File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_adlsg2_csv_yardkpi_idocs_generic",
						"type": "DatasetReference",
						"parameters": {
							"p_ds_filesystem": {
								"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.input_file_system",
								"type": "Expression"
							},
							"p_ds_directory": {
								"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.directory",
								"type": "Expression"
							},
							"p_ds_filename": {
								"value": "@concat(activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.input_file_name,'_temp.csv')\n",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"size",
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "lkup_Get_Pipeline_parameters_getlrd",
				"description": "Use the lookup procedure to get the last run details to be used in the next steps.",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "getPipelineParametersValues",
						"storedProcedureParameters": {
							"pPipelineCode": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"pPipeLineSubCode": {
								"type": "String",
								"value": "iDocs"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azure_synapse_parameter",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "cp_Get_Latest_File",
				"description": "Copy all the files created since the last start date and combine them into one file to be processed into Synapse.",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set last_run_start_date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "source_code",
								"value": {
									"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.source_code",
									"type": "Expression"
								}
							},
							{
								"name": "sub_source_code",
								"value": {
									"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.sub_source_code",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": {
								"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.last_run_start_date",
								"type": "Expression"
							},
							"wildcardFolderPath": {
								"value": "@concat(activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.directory,'/*/*/*')",
								"type": "Expression"
							},
							"wildcardFileName": {
								"value": "@concat(activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.input_file_name,'_*.csv')",
								"type": "Expression"
							}
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "MergeFiles"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": "ts_itime_combined.csv"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_adlsg2_csv_yardkpi_idocs_wildcard_generic",
						"type": "DatasetReference",
						"parameters": {
							"p_ds_filesystem": {
								"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.input_file_system",
								"type": "Expression"
							},
							"p_ds_directory": {
								"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.directory",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adlsg2_csv_yardkpi_idocs_generic",
						"type": "DatasetReference",
						"parameters": {
							"p_ds_filesystem": {
								"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.input_file_system",
								"type": "Expression"
							},
							"p_ds_directory": {
								"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.directory",
								"type": "Expression"
							},
							"p_ds_filename": {
								"value": "@concat(activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.input_file_name,'_temp.csv')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "if_File_Exists_Copy_to_Synapse",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Check Combined File non zero Bytes",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Check Combined File non zero Bytes').output.size, 2)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy Latest Data To Synapse Stage Table",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlDWSink",
									"preCopyScript": {
										"value": "truncate table yardkpi.stage_iDocs_fab_msmaster",
										"type": "Expression"
									},
									"allowPolyBase": true,
									"polyBaseSettings": {
										"rejectValue": 0,
										"rejectType": "value",
										"useTypeDefault": false
									},
									"disableMetricsCollection": false
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "ADLSG2 TimeAnalytics DEV",
										"type": "LinkedServiceReference"
									},
									"path": "mdr-raw-data/Polybase_Staging_Space"
								},
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "source_code",
												"type": "String"
											},
											"sink": {
												"name": "source_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "sub_source_code",
												"type": "String"
											},
											"sink": {
												"name": "sub_source_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PROJECT NO.",
												"type": "String"
											},
											"sink": {
												"name": "project_no",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PROJECT ID",
												"type": "String"
											},
											"sink": {
												"name": "project_id",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PROJECT NAME",
												"type": "String"
											},
											"sink": {
												"name": "project_name",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Contract_No",
												"type": "String"
											},
											"sink": {
												"name": "contract_no",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DELIVERABLE",
												"type": "String"
											},
											"sink": {
												"name": "deliverable",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DL IMPORT",
												"type": "String"
											},
											"sink": {
												"name": "dl_import",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DOC ID",
												"type": "String"
											},
											"sink": {
												"name": "doc_id",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DOCUMENT NUMBER",
												"type": "String"
											},
											"sink": {
												"name": "doc_number",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "TYPE CLASS",
												"type": "String"
											},
											"sink": {
												"name": "type_class",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "MS_ORDER",
												"type": "String"
											},
											"sink": {
												"name": "ms_order",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "MS_ID",
												"type": "String"
											},
											"sink": {
												"name": "ms_id",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "MS_GATE_NAME",
												"type": "String"
											},
											"sink": {
												"name": "ms_gate_name",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "MS_WEIGHT",
												"type": "String"
											},
											"sink": {
												"name": "ms_weight",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "SCHEDULED_DATE_ORIGINAL",
												"type": "DateTime"
											},
											"sink": {
												"name": "scheduled_date_original",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "SCHEDULED_DATE",
												"type": "DateTime"
											},
											"sink": {
												"name": "scheduled_date",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "FORECAST_DATE_ORIGINAL",
												"type": "DateTime"
											},
											"sink": {
												"name": "forecast_date_original",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "FORECAST_DATE",
												"type": "DateTime"
											},
											"sink": {
												"name": "forecast_date",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "ACTUAL_DATE_ORIGINAL",
												"type": "DateTime"
											},
											"sink": {
												"name": "actual_date_original",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "ACTUAL_DATE",
												"type": "DateTime"
											},
											"sink": {
												"name": "actual_date",
												"type": "DateTime"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "ds_adlsg2_csv_yardkpi_idocs_generic",
									"type": "DatasetReference",
									"parameters": {
										"p_ds_filesystem": {
											"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.input_file_system",
											"type": "Expression"
										},
										"p_ds_directory": {
											"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.directory",
											"type": "Expression"
										},
										"p_ds_filename": {
											"value": "@concat(activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.input_file_name,'_temp.csv')\n",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_AzureSynapseAnalytics_yardkpi",
									"type": "DatasetReference",
									"parameters": {
										"schema": {
											"value": "yardkpi",
											"type": "Expression"
										},
										"db_name": {
											"value": "stage_iDocs_fab_msmaster",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "SP load DIM MILESTONE",
							"description": "Use the SPU generic_load_dim_v2 to populate the dim_entp_eng_ven_milestone  dimension table.",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy Latest Data To Synapse Stage Table",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_yardkpi_iDocs_fab_msmaster_dim_load]"
							},
							"linkedServiceName": {
								"referenceName": "Azure_Dev_SynapseAnalyticsPool",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Delete Temp combined File",
				"description": "After the data has been loaded, clear the combined file from the ADLSV2 ",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "if_File_Exists_Copy_to_Synapse",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_adlsg2_csv_yardkpi_idocs_generic",
						"type": "DatasetReference",
						"parameters": {
							"p_ds_filesystem": {
								"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.input_file_system",
								"type": "Expression"
							},
							"p_ds_directory": {
								"value": "@activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.directory",
								"type": "Expression"
							},
							"p_ds_filename": {
								"value": "@concat(activity('lkup_Get_Pipeline_parameters_getlrd').output.firstRow.input_file_name,'_temp.csv')",
								"type": "Expression"
							}
						}
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true
					}
				}
			},
			{
				"name": "SP Update Control Table Last Run Date",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "if_File_Exists_Copy_to_Synapse",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[updateIncrementPipelineParameterValue]",
					"storedProcedureParameters": {
						"pParameterCode": {
							"value": "last_run_start_date",
							"type": "String"
						},
						"pParameterValue": {
							"value": {
								"value": "@variables('v_ms_raw_start_time')",
								"type": "Expression"
							},
							"type": "String"
						},
						"pPipelineCode": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"pPipelineSubCode": {
							"value": "iDocs",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "linkedservice_DEV_entanalytics_synapse",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set last_run_start_date",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "lkup_Get_Pipeline_parameters_getlrd",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_ms_raw_start_time",
					"value": {
						"value": "@formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:ss')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"v_ms_raw_start_time": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Projects/YARD KPI/iDocs/Milestone Master Fab"
		},
		"annotations": [],
		"lastPublishTime": "2023-03-09T05:53:34Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}