pipeline/pl_yardkpi_pcm_weld_details_raw_to_synapse_del.json
{
	"name": "pl_yardkpi_pcm_weld_details_raw_to_synapse_del",
	"properties": {
		"activities": [
			{
				"name": "Set_current_date_time",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "lkup_Get_Pipeline_parameters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_current_date_time",
					"value": {
						"value": "@string(utcnow())",
						"type": "Expression"
					}
				}
			},
			{
				"name": "lkup_Get_Pipeline_parameters",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "getPipelineParametersValues",
						"storedProcedureParameters": {
							"pPipelineCode": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"pPipeLineSubCode": {
								"type": "String",
								"value": "PCM"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azure_synapse_parameter",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "cp_Merge_Latest_Files",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set_current_date_time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:03:00",
					"retry": 3,
					"retryIntervalInSeconds": 60,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": {
								"value": "@activity('lkup_Get_Pipeline_parameters').output.firstRow.last_run_start_date",
								"type": "Expression"
							},
							"wildcardFolderPath": {
								"value": "@concat(activity('lkup_Get_Pipeline_parameters').output.firstRow.Directory,'/*/*/*')",
								"type": "Expression"
							},
							"wildcardFileName": {
								"value": "@concat(activity('lkup_Get_Pipeline_parameters').output.firstRow.file_name,'_*.csv')",
								"type": "Expression"
							},
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "MergeFiles"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_adlsg2_csv_yardkpi_pcm_default",
						"type": "DatasetReference",
						"parameters": {
							"p_ds_filesystem": "@activity('lkup_Get_Pipeline_parameters').output.firstRow.input_file_system",
							"p_ds_folderpath": "@activity('lkup_Get_Pipeline_parameters').output.firstRow.directory",
							"p_ds_filename": "@activity('lkup_Get_Pipeline_parameters').output.firstRow.file_name"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adlsg2_csv_yardkpi_pcm_default",
						"type": "DatasetReference",
						"parameters": {
							"p_ds_filesystem": "@activity('lkup_Get_Pipeline_parameters').output.firstRow.input_file_system",
							"p_ds_folderpath": "@activity('lkup_Get_Pipeline_parameters').output.firstRow.directory",
							"p_ds_filename": "@concat('Combined_',activity('lkup_Get_Pipeline_parameters').output.firstRow.file_name,'_temp.csv')"
						}
					}
				]
			},
			{
				"name": "Check Combined File non zero Bytes",
				"description": "Check if the combined file has any data to be loaded.",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "cp_Merge_Latest_Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_adlsg2_csv_yardkpi_pcm_default",
						"type": "DatasetReference",
						"parameters": {
							"p_ds_filesystem": "@activity('lkup_Get_Pipeline_parameters').output.firstRow.input_file_system",
							"p_ds_folderpath": "@activity('lkup_Get_Pipeline_parameters').output.firstRow.directory",
							"p_ds_filename": "@concat('Combined_',activity('lkup_Get_Pipeline_parameters').output.firstRow.file_name,'_temp.csv')"
						}
					},
					"fieldList": [
						"exists",
						"size"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "if_File_Exists_Copy_to_Synapse",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Check Combined File non zero Bytes",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@and(activity('Check Combined File non zero Bytes').output.exists, greater(activity('Check Combined File non zero Bytes').output.size, 2))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy_data_Raw_to_synapse_stage_copy1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:03:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlDWSink",
									"preCopyScript": {
										"value": "truncate table yardkpi.stage_entp_pcm_Weld_details",
										"type": "Expression"
									},
									"allowPolyBase": true,
									"polyBaseSettings": {
										"rejectValue": 0,
										"rejectType": "value",
										"useTypeDefault": true
									},
									"disableMetricsCollection": false
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "ADLSG2 TimeAnalytics DEV",
										"type": "LinkedServiceReference"
									},
									"path": {
										"value": "mdr-raw-data/Polybase_Staging_Space",
										"type": "Expression"
									}
								},
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "source_code",
												"type": "String"
											},
											"sink": {
												"name": "source_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "sub_source_code",
												"type": "String"
											},
											"sink": {
												"name": "sub_source_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "trans_date",
												"type": "String"
											},
											"sink": {
												"name": "trans_date",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "trans_type",
												"type": "String"
											},
											"sink": {
												"name": "trans_type",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "fab_code",
												"type": "String"
											},
											"sink": {
												"name": "fab_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "contract",
												"type": "String"
											},
											"sink": {
												"name": "contract",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "contract_title",
												"type": "String"
											},
											"sink": {
												"name": "contract_title",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "job",
												"type": "String"
											},
											"sink": {
												"name": "job",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "job_title",
												"type": "String"
											},
											"sink": {
												"name": "job_title",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "item",
												"type": "String"
											},
											"sink": {
												"name": "item",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "item_title",
												"type": "String"
											},
											"sink": {
												"name": "item_title",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ndt_drawing",
												"type": "String"
											},
											"sink": {
												"name": "ndt_drawing",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ndt_drawing_desc",
												"type": "String"
											},
											"sink": {
												"name": "ndt_drawing_desc",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "wctrl",
												"type": "String"
											},
											"sink": {
												"name": "wctrl",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "weld_suffix",
												"type": "String"
											},
											"sink": {
												"name": "weld_suffix",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "stress_relief",
												"type": "String"
											},
											"sink": {
												"name": "stress_relief",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "weld_repair_ref",
												"type": "String"
											},
											"sink": {
												"name": "weld_repair_ref",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "discipline",
												"type": "String"
											},
											"sink": {
												"name": "discipline",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "spool",
												"type": "String"
											},
											"sink": {
												"name": "spool",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "weld",
												"type": "String"
											},
											"sink": {
												"name": "weld",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "weld_location",
												"type": "String"
											},
											"sink": {
												"name": "weld_location",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "weld_type",
												"type": "String"
											},
											"sink": {
												"name": "weld_type",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "joint_type",
												"type": "String"
											},
											"sink": {
												"name": "joint_type",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "material_type",
												"type": "String"
											},
											"sink": {
												"name": "material_type",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "material_grade",
												"type": "String"
											},
											"sink": {
												"name": "material_grade",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "material_type2",
												"type": "String"
											},
											"sink": {
												"name": "material_type2",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "material_grade2",
												"type": "String"
											},
											"sink": {
												"name": "material_grade2",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "fabrication_area",
												"type": "String"
											},
											"sink": {
												"name": "fabrication_area",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "weld_attachment",
												"type": "String"
											},
											"sink": {
												"name": "weld_attachment",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "weld_category",
												"type": "String"
											},
											"sink": {
												"name": "weld_category",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "pipe_bore",
												"type": "String"
											},
											"sink": {
												"name": "pipe_bore",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "pipe_schedule",
												"type": "String"
											},
											"sink": {
												"name": "pipe_schedule",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "thickness",
												"type": "String"
											},
											"sink": {
												"name": "thickness",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "diameter",
												"type": "String"
											},
											"sink": {
												"name": "diameter",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "weld_length",
												"type": "String"
											},
											"sink": {
												"name": "weld_length",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "weld_date",
												"type": "String"
											},
											"sink": {
												"name": "weld_date",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "weld_status",
												"type": "String"
											},
											"sink": {
												"name": "weld_status",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "weld_clear_date",
												"type": "String"
											},
											"sink": {
												"name": "weld_clear_date",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "cutout",
												"type": "String"
											},
											"sink": {
												"name": "cutout",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "weldcount",
												"type": "String"
											},
											"sink": {
												"name": "weldcount",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "weld_updated_on",
												"type": "String"
											},
											"sink": {
												"name": "weld_updated_on",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "recap",
												"type": "String"
											},
											"sink": {
												"name": "recap",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "repair_gen",
												"type": "String"
											},
											"sink": {
												"name": "repair_gen",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "repair_status_code",
												"type": "String"
											},
											"sink": {
												"name": "repair_status_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "weld_repair_date",
												"type": "String"
											},
											"sink": {
												"name": "weld_repair_date",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "mcd_inspector",
												"type": "String"
											},
											"sink": {
												"name": "mcd_inspector",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "client_inspector",
												"type": "String"
											},
											"sink": {
												"name": "client_inspector",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "vis_report_num",
												"type": "String"
											},
											"sink": {
												"name": "vis_report_num",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "vis_date",
												"type": "String"
											},
											"sink": {
												"name": "vis_date",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "clear_date",
												"type": "String"
											},
											"sink": {
												"name": "clear_date",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "weld_machine",
												"type": "String"
											},
											"sink": {
												"name": "weld_machine",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "fitter1",
												"type": "String"
											},
											"sink": {
												"name": "fitter1",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "fitter2",
												"type": "String"
											},
											"sink": {
												"name": "fitter2",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "fitter3",
												"type": "String"
											},
											"sink": {
												"name": "fitter3",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Fitup_insp_name",
												"type": "String"
											},
											"sink": {
												"name": "Fitup_insp_name",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "fitup_date",
												"type": "String"
											},
											"sink": {
												"name": "fitup_date",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "fitup_status",
												"type": "String"
											},
											"sink": {
												"name": "fitup_status",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "fitup_updated_on",
												"type": "String"
											},
											"sink": {
												"name": "fitup_updated_on",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "fitup_inspection_date",
												"type": "String"
											},
											"sink": {
												"name": "fitup_inspection_date",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "fitup_inspector",
												"type": "String"
											},
											"sink": {
												"name": "fitup_inspector",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "fitup_rep_num",
												"type": "String"
											},
											"sink": {
												"name": "fitup_rep_num",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "mtn1",
												"type": "String"
											},
											"sink": {
												"name": "mtn1",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "mtn2",
												"type": "String"
											},
											"sink": {
												"name": "mtn2",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "create_date_time",
												"type": "String"
											},
											"sink": {
												"name": "created_date_time",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "include_in_rr_calc",
												"type": "String"
											},
											"sink": {
												"name": "include_in_rr_calc",
												"type": "String"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "ds_adlsg2_csv_yardkpi_pcm_default",
									"type": "DatasetReference",
									"parameters": {
										"p_ds_filesystem": {
											"value": "@activity('lkup_Get_Pipeline_parameters').output.firstRow.input_file_system",
											"type": "Expression"
										},
										"p_ds_folderpath": "@activity('lkup_Get_Pipeline_parameters').output.firstRow.directory",
										"p_ds_filename": "@concat('Combined_',activity('lkup_Get_Pipeline_parameters').output.firstRow.file_name,'_temp.csv')"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_AzureSynapseAnalytics_yardkpi",
									"type": "DatasetReference",
									"parameters": {
										"schema": {
											"value": "yardkpi",
											"type": "Expression"
										},
										"db_name": {
											"value": "stage_entp_pcm_Weld_details",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Update_dim_Dim_load",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy_data_Raw_to_synapse_stage_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "[dbo].[sp_pcm_del]",
									"type": "Expression"
								},
								"storedProcedureParameters": {
									"Parameter1": {
										"value": {
											"value": "@activity('lkup_Get_Pipeline_parameters').output.firstRow.sp_dataset_weld_details",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "linkedservice_DEV_entanalytics_synapse",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "sp_Update_Parameter",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "if_File_Exists_Copy_to_Synapse",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[updateIncrementPipelineParameterValue]",
					"storedProcedureParameters": {
						"pParameterCode": {
							"value": {
								"value": "last_run_start_date",
								"type": "Expression"
							},
							"type": "String"
						},
						"pParameterValue": {
							"value": {
								"value": "@formatDateTime(variables('v_current_date_time'),'yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							},
							"type": "String"
						},
						"pPipelineCode": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"pPipelineSubCode": {
							"value": {
								"value": "PCM",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSynapseDB_DEV",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Delete Temp File",
				"description": "After the data has been loaded, clear the combined file from the ADLSV2 ",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "if_File_Exists_Copy_to_Synapse",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_adlsg2_csv_yardkpi_pcm_default",
						"type": "DatasetReference",
						"parameters": {
							"p_ds_filesystem": "@activity('lkup_Get_Pipeline_parameters').output.firstRow.input_file_system",
							"p_ds_folderpath": "@activity('lkup_Get_Pipeline_parameters').output.firstRow.directory",
							"p_ds_filename": "@concat('Combined_',activity('lkup_Get_Pipeline_parameters').output.firstRow.file_name,'_temp.csv')"
						}
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true
					}
				}
			}
		],
		"variables": {
			"v_current_date_time": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Projects/YARD KPI/PCM/weld_details_del"
		},
		"annotations": [],
		"lastPublishTime": "2023-11-17T05:35:47Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}