pipeline/pl_yardkpi_R2P_source_to_stage.json
{
	"name": "pl_yardkpi_R2P_source_to_stage",
	"properties": {
		"activities": [
			{
				"name": "CP_R2P_Encoded_Src_to_Stage",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get Access Token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "POST",
							"additionalHeaders": {
								"value": "@concat('Authorization: Bearer ', activity('Get Access Token').output.access_token,'\nContent-Type: application/soap+xml;charset=UTF-8\nContent-Length: 649\nConnection: Keep-Alive\nUser-Agent: Apache-HttpClient/4.1.1 (java 1.5)\n')",
								"type": "Expression"
							},
							"requestBody": {
								"value": "@concat('<ns1:Envelope xmlns:ns1=\"http://www.w3.org/2003/05/soap-envelope\">\n<ns1:Body>\n<ns2:runReport xmlns:ns2=\"http://xmlns.oracle.com/oxp/service/PublicReportService\">\n<ns2:reportRequest>\n<ns2:attributeFormat>xml</ns2:attributeFormat>\n<ns2:parameterNameValues>\n<ns2:item>\n<ns2:name>PO_LAST_UPDATE_DATE_FROM</ns2:name>\n<ns2:values>\n<ns2:item>',activity('lk_get_pipeline_parameters').output.firstRow.start_date,'</ns2:item>\n</ns2:values>\n</ns2:item>\n<ns2:item>\n<ns2:name>PO_LAST_UPDATE_DATE_TO</ns2:name>\n<ns2:values>\n<ns2:item>',variables('v_end_date'),'</ns2:item>\n</ns2:values>\n</ns2:item>\n</ns2:parameterNameValues>\n<ns2:reportAbsolutePath>/Custom/AZURE/MDR_PO_HEADER_LEVEL_REPORT_FOR_AZURE.xdo</ns2:reportAbsolutePath>\n<ns2:sizeOfDataChunkDownload>-1</ns2:sizeOfDataChunkDownload>\n</ns2:reportRequest>\n</ns2:runReport>\n</ns1:Body>\n</ns1:Envelope>')",
								"type": "Expression"
							},
							"requestTimeout": ""
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_http_binary_yardkpi_r2p_source",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adlsg2_binary_yardkpi_r2p_source_stage",
						"type": "DatasetReference",
						"parameters": {
							"p_ds_filesystem": {
								"value": "@activity('lk_get_pipeline_parameters').output.firstRow.output_file_system",
								"type": "Expression"
							},
							"p_ds_directory": {
								"value": "@concat(activity('lk_get_pipeline_parameters').output.firstRow.folder_path,'/Temp')",
								"type": "Expression"
							},
							"p_ds_filename": {
								"value": "source_data_encoded.xml",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "df_yardkpi_r2p_stage_data_decoding",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "CP_R2P_Encoded_Src_to_Stage",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_yardkpi_r2p_stage_data_decoding",
						"type": "DataFlowReference",
						"parameters": {
							"decoded_file_name": "'source_data_decoded.xml'"
						},
						"datasetParameters": {
							"SrcEncodedXml": {
								"p_ds_filesystem": {
									"value": "@activity('lk_get_pipeline_parameters').output.firstRow.output_file_system",
									"type": "Expression"
								},
								"p_ds_directory": {
									"value": "@concat(activity('lk_get_pipeline_parameters').output.firstRow.folder_path,'/Temp')",
									"type": "Expression"
								},
								"p_ds_filename": {
									"value": "source_data_encoded.xml",
									"type": "Expression"
								}
							},
							"SnkDecodedXml": {
								"p_ds_filesystem": {
									"value": "@activity('lk_get_pipeline_parameters').output.firstRow.output_file_system",
									"type": "Expression"
								},
								"p_ds_directory": {
									"value": "@concat(activity('lk_get_pipeline_parameters').output.firstRow.folder_path,'/Temp')",
									"type": "Expression"
								},
								"p_ds_filename": {
									"value": "source_data_decoded.xml",
									"type": "Expression"
								}
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "df_yardkpi_r2p_stage_data_flattening",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "df_yardkpi_r2p_stage_data_decoding",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_yardkpi_r2p_stage_data_flattening",
						"type": "DataFlowReference",
						"parameters": {
							"csv_file_name": {
								"value": "'@{concat(activity('lk_get_pipeline_parameters').output.firstRow.file_name,'_',utcNow(),'.csv')\n}'",
								"type": "Expression"
							},
							"source_name": {
								"value": "'@{activity('lk_get_pipeline_parameters').output.firstRow.source_name}'",
								"type": "Expression"
							},
							"sub_source_name": {
								"value": "'@{activity('lk_get_pipeline_parameters').output.firstRow.sub_source_name}'",
								"type": "Expression"
							}
						},
						"datasetParameters": {
							"SrcXMl": {
								"p_ds_filesystem": {
									"value": "@activity('lk_get_pipeline_parameters').output.firstRow.output_file_system",
									"type": "Expression"
								},
								"p_ds_directory": {
									"value": "@concat(activity('lk_get_pipeline_parameters').output.firstRow.folder_path,'/Temp')",
									"type": "Expression"
								},
								"p_ds_filename": {
									"value": "source_data_decoded.xml",
									"type": "Expression"
								}
							},
							"SnkCsv": {
								"p_ds_filesystem": {
									"value": "@activity('lk_get_pipeline_parameters').output.firstRow.output_file_system",
									"type": "Expression"
								},
								"p_ds_directory": {
									"value": "@activity('lk_get_pipeline_parameters').output.firstRow.folder_path",
									"type": "Expression"
								},
								"p_ds_filename": {
									"value": "@concat(activity('lk_get_pipeline_parameters').output.firstRow.file_name,'.csv')",
									"type": "Expression"
								}
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "lk_get_pipeline_parameters",
				"description": "Get the parameters to be used in this pipeline",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "getPipelineParametersValues",
						"storedProcedureParameters": {
							"pPipelineCode": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"pPipeLineSubCode": {
								"type": "String",
								"value": {
									"value": "R2P",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azure_synapse_parameter",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set last_run_date - one day",
				"description": "Sets start and current date",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "lk_get_pipeline_parameters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_end_date",
					"value": {
						"value": "@if(equals(activity('lk_get_pipeline_parameters').output.firstRow.end_date,'currdate'),formatDateTime(utcNow(),'MM-dd-yyyy'),formatDateTime(activity('lk_get_pipeline_parameters').output.firstRow.end_date,'MM-dd-yyyy'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "sp_Update_Parameter",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "df_yardkpi_r2p_stage_data_flattening",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": {
						"value": "[dbo].[updateIncrementPipelineParameterValue]",
						"type": "Expression"
					},
					"storedProcedureParameters": {
						"pParameterCode": {
							"value": {
								"value": "start_date",
								"type": "Expression"
							},
							"type": "String"
						},
						"pParameterValue": {
							"value": {
								"value": "@variables('v_end_date')",
								"type": "Expression"
							},
							"type": "String"
						},
						"pPipelineCode": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"pPipelineSubCode": {
							"value": {
								"value": "R2P",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSynapseAnalytics",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Get Access Token",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set last_run_date - one day",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "GetClientId",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "GetClientSecret",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": {
							"value": "application/x-www-form-urlencoded",
							"type": "Expression"
						}
					},
					"url": {
						"value": "@activity('lk_get_pipeline_parameters').output.firstRow.token_url",
						"type": "Expression"
					},
					"body": {
						"value": "grant_type=client_credentials&client_id=@{activity('GetClientId').output.value}&client_secret=@{activity('GetClientSecret').output.value}&scope=@{activity('lk_get_pipeline_parameters').output.firstRow.scope}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "GetClientId",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "lk_get_pipeline_parameters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@activity('lk_get_pipeline_parameters').output.firstRow.client_id",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": {
							"value": "@concat(split(activity('lk_get_pipeline_parameters').output.firstRow.client_id, '/secrets')[0], '/')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "GetClientSecret",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "lk_get_pipeline_parameters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@activity('lk_get_pipeline_parameters').output.firstRow.client_secret",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": {
							"value": "@concat(split(activity('lk_get_pipeline_parameters').output.firstRow.client_secret, '/secrets')[0], '/')",
							"type": "Expression"
						}
					}
				}
			}
		],
		"variables": {
			"v_end_date": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Projects/YARD KPI/R2P"
		},
		"annotations": []
	}
}