pipeline/pl_yardkpi_pcm_dl_master_weld_process_stage_to_raw.json
{
	"name": "pl_yardkpi_pcm_dl_master_weld_process_stage_to_raw",
	"properties": {
		"activities": [
			{
				"name": "lk_get_pipeline_parameters",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "getPipelineParametersValues",
						"storedProcedureParameters": {
							"pPipelineCode": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"pPipeLineSubCode": {
								"type": "String",
								"value": {
									"value": "PCM",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azure_synapse_parameter",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "df_stage_to_raw",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "lk_get_pipeline_parameters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_yardkpi_pcm_dl_master_weld_process_stage_to_raw",
						"type": "DataFlowReference",
						"parameters": {
							"p_df_folderpath": {
								"value": "'@{activity('lk_get_pipeline_parameters').output.firstRow.folder_path}'",
								"type": "Expression"
							},
							"p_df_filename": {
								"value": "'@{activity('lk_get_pipeline_parameters').output.firstRow.file_name}'",
								"type": "Expression"
							}
						},
						"datasetParameters": {
							"Source": {
								"p_ds_filename": {
									"value": "@concat(activity('lk_get_pipeline_parameters').output.firstRow.file_name,'.csv')",
									"type": "Expression"
								},
								"p_ds_folderpath": {
									"value": "@activity('lk_get_pipeline_parameters').output.firstRow.folder_path",
									"type": "Expression"
								},
								"p_ds_filesystem": {
									"value": "@activity('lk_get_pipeline_parameters').output.firstRow.input_file_system",
									"type": "Expression"
								}
							},
							"Sink": {
								"p_ds_filename": {
									"value": "@concat(activity('lk_get_pipeline_parameters').output.firstRow.file_name,'.csv')",
									"type": "Expression"
								},
								"p_ds_folderpath": {
									"value": "@activity('lk_get_pipeline_parameters').output.firstRow.folder_path",
									"type": "Expression"
								},
								"p_ds_filesystem": {
									"value": "@activity('lk_get_pipeline_parameters').output.firstRow.output_file_system",
									"type": "Expression"
								}
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"folder": {
			"name": "Projects/YARD KPI/PCM/dl_master_data/weld_process_master"
		},
		"annotations": [],
		"lastPublishTime": "2023-03-09T05:53:36Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}