pipeline/pl_yardkpi_gmps_productivity_source_to_stage.json
{
	"name": "pl_yardkpi_gmps_productivity_source_to_stage",
	"properties": {
		"activities": [
			{
				"name": "lk_get_pipeline_parameters",
				"description": "Get the parameters to be used in this pipeline",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "getPipelineParametersValues",
						"storedProcedureParameters": {
							"pPipelineCode": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"pPipeLineSubCode": {
								"type": "String",
								"value": {
									"value": "GMPS",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azure_synapse_parameter",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy GMPS to Stage",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set_current_date_time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "[dbo].[sp_rpt_kpi]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_gmps_sql_server",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adlsg2_csv_yardkpi_gmps",
						"type": "DatasetReference",
						"parameters": {
							"Directory": {
								"value": "@activity('lk_get_pipeline_parameters').output.firstRow.folder_path",
								"type": "Expression"
							},
							"File": {
								"value": "@concat(activity('lk_get_pipeline_parameters').output.firstRow.file_name,'.csv')",
								"type": "Expression"
							},
							"FileSystem": {
								"value": "@activity('lk_get_pipeline_parameters').output.firstRow.file_system",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set_current_date_time",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "lk_get_pipeline_parameters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_current_date_time",
					"value": {
						"value": "@string(utcnow())",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"v_current_date_time": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Projects/YARD KPI/GMPS/Productivity"
		},
		"annotations": [],
		"lastPublishTime": "2024-01-12T10:37:07Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}