pipeline/pl_yardkpi_intelex_audit_findings_raw_to_synapse.json
{
	"name": "pl_yardkpi_intelex_audit_findings_raw_to_synapse",
	"properties": {
		"activities": [
			{
				"name": "cp_Get_Latest_Combined_File",
				"description": "Copy all the files created since the last start date and combine them into one file to be processed into Synapse.",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set last_run_start_date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "source_code",
								"value": {
									"value": "@activity('lk_get_pipeline_parameters').output.firstRow.source_code",
									"type": "Expression"
								}
							},
							{
								"name": "sub_source_code",
								"value": {
									"value": "@activity('lk_get_pipeline_parameters').output.firstRow.sub_source_code",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": {
								"value": "@activity('lk_get_pipeline_parameters').output.firstRow.last_run_start_date",
								"type": "Expression"
							},
							"wildcardFolderPath": {
								"value": "@concat(activity('lk_get_pipeline_parameters').output.firstRow.directory,'/*/*/*')",
								"type": "Expression"
							},
							"wildcardFileName": {
								"value": "@concat(activity('lk_get_pipeline_parameters').output.firstRow.input_file_name,'_*.csv')",
								"type": "Expression"
							}
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "MergeFiles"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": "ts_itime_combined.csv"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_adlsg2_csv_yardkpi_intelex_wildcard",
						"type": "DatasetReference",
						"parameters": {
							"p_ds_filesystem": {
								"value": "@activity('lk_get_pipeline_parameters').output.firstRow.input_file_system",
								"type": "Expression"
							},
							"p_ds_first_row_header": true
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adlsg2_csv_yardkpi_intelex_generic",
						"type": "DatasetReference",
						"parameters": {
							"p_ds_filesystem": {
								"value": "@activity('lk_get_pipeline_parameters').output.firstRow.input_file_system",
								"type": "Expression"
							},
							"p_ds_directory": {
								"value": "@activity('lk_get_pipeline_parameters').output.firstRow.directory",
								"type": "Expression"
							},
							"p_ds_filename": {
								"value": "@concat(activity('lk_get_pipeline_parameters').output.firstRow.input_file_name,'Temp.csv')",
								"type": "Expression"
							},
							"p_ds_first_row_header": true
						}
					}
				]
			},
			{
				"name": "Check Combined File non zero Bytes",
				"description": "Check if the combined file has any data to be loaded.",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "cp_Get_Latest_Combined_File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_adlsg2_csv_yardkpi_intelex_generic",
						"type": "DatasetReference",
						"parameters": {
							"p_ds_filesystem": {
								"value": "@activity('lk_get_pipeline_parameters').output.firstRow.input_file_system",
								"type": "Expression"
							},
							"p_ds_directory": {
								"value": "@activity('lk_get_pipeline_parameters').output.firstRow.directory",
								"type": "Expression"
							},
							"p_ds_filename": {
								"value": "@concat(activity('lk_get_pipeline_parameters').output.firstRow.input_file_name,'Temp.csv')",
								"type": "Expression"
							},
							"p_ds_first_row_header": true
						}
					},
					"fieldList": [
						"size",
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "if_File_Exists_Copy_to_Synapse",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Check Combined File non zero Bytes",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Check Combined File non zero Bytes').output.size, 2)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy_raw_to_synapse_stage",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlDWSink",
									"preCopyScript": {
										"value": "truncate table [yardkpi].[stage_intelex_audit_findings]",
										"type": "Expression"
									},
									"allowPolyBase": true,
									"polyBaseSettings": {
										"rejectValue": 0,
										"rejectType": "value",
										"useTypeDefault": true
									},
									"disableMetricsCollection": false
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "ADLSG2 TimeAnalytics DEV",
										"type": "LinkedServiceReference"
									},
									"path": "mdr-raw-data/Polybase_Staging_Space"
								},
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "source_code",
												"type": "String"
											},
											"sink": {
												"name": "source_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "sub_source_code",
												"type": "String"
											},
											"sink": {
												"name": "sub_source_code",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "RowNum",
												"type": "String"
											},
											"sink": {
												"name": "row_id",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "Audit_x0020_Record_x0020_No",
												"type": "String"
											},
											"sink": {
												"name": "record_no",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "Audit_x0020_Title",
												"type": "String"
											},
											"sink": {
												"name": "Audit_Title",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Location",
												"type": "String"
											},
											"sink": {
												"name": "Location",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Profile_x0020_Type",
												"type": "String"
											},
											"sink": {
												"name": "Profile_Type",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Profile",
												"type": "String"
											},
											"sink": {
												"name": "Profile",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Product_x0020_Line",
												"type": "String"
											},
											"sink": {
												"name": "Product_Line",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Checklist",
												"type": "String"
											},
											"sink": {
												"name": "Checklist",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Finding_x0020_Record_x0020_No",
												"type": "String"
											},
											"sink": {
												"name": "Finding_Record_No",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "MDR_x0020_Finding_x0020_No",
												"type": "String"
											},
											"sink": {
												"name": "MDR_Finding_No",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Question",
												"type": "String"
											},
											"sink": {
												"name": "Question",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Finding_x0020_Description",
												"type": "String"
											},
											"sink": {
												"name": "Finding_Description",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Finding_x0020_Severity",
												"type": "String"
											},
											"sink": {
												"name": "Finding_Severity",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Finding_x0020_Creator",
												"type": "String"
											},
											"sink": {
												"name": "Finding_Creator",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Finding_x0020_Due_x0020_Date",
												"type": "DateTime"
											},
											"sink": {
												"name": "Finding_Due_Date",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "Person_x0020_Responsible",
												"type": "String"
											},
											"sink": {
												"name": "Person_Responsible",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Auditee_x0020_Finding_x0020_Acceptance",
												"type": "String"
											},
											"sink": {
												"name": "Auditee_Finding_Acceptance",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Auditee_x0020_Finding_x0020_Comments",
												"type": "String"
											},
											"sink": {
												"name": "Auditee_Finding_Comments",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Completed_x0020_By",
												"type": "String"
											},
											"sink": {
												"name": "Completed_By",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Completion_x0020_Date",
												"type": "DateTime"
											},
											"sink": {
												"name": "Completion_Date",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "Final_x0020_Approver",
												"type": "String"
											},
											"sink": {
												"name": "Final_Approver",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Date_x0020_of_x0020_Approval",
												"type": "DateTime"
											},
											"sink": {
												"name": "Date_of_Approval",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "Final_x0020_Approver_x0020_Notes",
												"type": "String"
											},
											"sink": {
												"name": "Final_Approver_Notes",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Workflow_x0020_Current_x0020_Stage",
												"type": "String"
											},
											"sink": {
												"name": "Workflow_Current_Stage",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Workflow_x0020_Status",
												"type": "String"
											},
											"sink": {
												"name": "Workflow_Status",
												"type": "String"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "ds_adlsg2_csv_yardkpi_intelex_generic",
									"type": "DatasetReference",
									"parameters": {
										"p_ds_filesystem": {
											"value": "@activity('lk_get_pipeline_parameters').output.firstRow.input_file_system",
											"type": "Expression"
										},
										"p_ds_directory": {
											"value": "@activity('lk_get_pipeline_parameters').output.firstRow.directory",
											"type": "Expression"
										},
										"p_ds_filename": {
											"value": "@concat(activity('lk_get_pipeline_parameters').output.firstRow.input_file_name,'Temp.csv')",
											"type": "Expression"
										},
										"p_ds_first_row_header": true
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_AzureSynapseAnalytics_yardkpi",
									"type": "DatasetReference",
									"parameters": {
										"schema": {
											"value": "yardkpi",
											"type": "Expression"
										},
										"db_name": {
											"value": "stage_intelex_audit_findings",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "SP load to DIM Table",
							"description": "Use the SPU generic_load_dim_v2 to populate the dim_entp_eng_ven_milestone  dimension table.",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy_raw_to_synapse_stage",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "[dbo].[generic_load_dim_v2]",
									"type": "Expression"
								},
								"storedProcedureParameters": {
									"debug_flag": {
										"value": {
											"value": "N",
											"type": "Expression"
										},
										"type": "String"
									},
									"execute_flag": {
										"value": {
											"value": "Y",
											"type": "Expression"
										},
										"type": "String"
									},
									"load_name": {
										"value": {
											"value": "dim_entp_yardkpi_intelex_audit_findings",
											"type": "Expression"
										},
										"type": "String"
									},
									"rkValidationRequired": {
										"value": {
											"value": "Y",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "Azure_Dev_SynapseAnalyticsPool",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Set last_run_start_date",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "lk_get_pipeline_parameters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_raw_start_time",
					"value": {
						"value": "@formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:ss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "lk_get_pipeline_parameters",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "getPipelineParametersValues",
						"storedProcedureParameters": {
							"pPipelineCode": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"pPipeLineSubCode": {
								"type": "String",
								"value": {
									"value": "Intelex",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azure_synapse_parameter",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Delete Temp combined File",
				"description": "After the data has been loaded, clear the combined file from the ADLSV2 ",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "if_File_Exists_Copy_to_Synapse",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_adlsg2_csv_yardkpi_intelex_generic",
						"type": "DatasetReference",
						"parameters": {
							"p_ds_filesystem": {
								"value": "@activity('lk_get_pipeline_parameters').output.firstRow.input_file_system",
								"type": "Expression"
							},
							"p_ds_directory": {
								"value": "@activity('lk_get_pipeline_parameters').output.firstRow.directory",
								"type": "Expression"
							},
							"p_ds_filename": {
								"value": "@concat(activity('lk_get_pipeline_parameters').output.firstRow.input_file_name,'Temp.csv')",
								"type": "Expression"
							},
							"p_ds_first_row_header": true
						}
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true
					}
				}
			},
			{
				"name": "SP Update Last Run Date",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "if_File_Exists_Copy_to_Synapse",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[updateIncrementPipelineParameterValue]",
					"storedProcedureParameters": {
						"pParameterCode": {
							"value": "last_run_start_date",
							"type": "String"
						},
						"pParameterValue": {
							"value": {
								"value": "@variables('v_raw_start_time')",
								"type": "Expression"
							},
							"type": "String"
						},
						"pPipelineCode": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"pPipelineSubCode": {
							"value": {
								"value": "Intelex",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "linkedservice_DEV_entanalytics_synapse",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"v_raw_start_time": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Projects/YARD KPI/Intelex/Audit Findings"
		},
		"annotations": [],
		"lastPublishTime": "2023-01-30T08:27:07Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}