pipeline/pl_yardkpi_material_osnd_source_to_stage.json
{
	"name": "pl_yardkpi_material_osnd_source_to_stage",
	"properties": {
		"activities": [
			{
				"name": "lk_get_pipeline_parameters",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[dbo].[getPipelineParametersValues]",
						"storedProcedureParameters": {
							"pPipelineCode": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"pPipeLineSubCode": {
								"type": "String",
								"value": {
									"value": "SHAREPOINT",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSynapseAnalyticsDB",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "cp_get_osndcontract_to_stage",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "lk_get_pipeline_parameters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SharePointOnlineListSource",
						"httpRequestTimeout": "00:05:00"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_generic_filelist_sharepoint",
						"type": "DatasetReference",
						"parameters": {
							"ListName": {
								"value": "@activity('lk_get_pipeline_parameters').output.firstRow.list_name",
								"type": "Expression"
							},
							"SharePointLink": {
								"value": "@activity('lk_get_pipeline_parameters').output.firstRow.sharepoint_link",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_Src_snk_adgls2_src_ykpi_material_osnd",
						"type": "DatasetReference",
						"parameters": {
							"p_ds_file_system": {
								"value": "@activity('lk_get_pipeline_parameters').output.firstRow.file_system",
								"type": "Expression"
							},
							"p_ds_folder_path": {
								"value": "@activity('lk_get_pipeline_parameters').output.firstRow.folder_path",
								"type": "Expression"
							},
							"p_ds_file_name": {
								"value": "@concat(activity('lk_get_pipeline_parameters').output.firstRow.file_name,'_',utcNow(),'.csv')",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"folder": {
			"name": "Projects/YARD KPI/Material Register/Material OSND"
		},
		"annotations": [],
		"lastPublishTime": "2024-04-09T06:13:38Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}